{% load email %}
{% subject %}¡ {{ from_user }} te ha invitado a Crupzi.com!{% endsubject %}
{% bodyhtml %}

<body style="font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">

	<div style="padding:20px 50px 0 50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
		<table width="700" border="0" style="font-size:13px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<th style="text-align:left; background:#f7f7f7;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></th>
			<tr>
			<td style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
				<!-- Comunicado-->
				<p style="">&iexcl;{{ from_user }} te ha invitado a Crupzi.com!</p><br>
				{{ user_message }}
				<!-- Fin de Comunicado-->
				<br><br>
				<p style="text-align:center;"><i>
				"Crupzi te permite encontrar descuentos disponibles, almacenarlos para f&aacute;cil acceso y utilizarlos en restaurantes, bares, centros comerciales, y m&aacute;s. &iexcl;S&iacute;, es gratis!"
				</i></p>
				<div style='padding:20px; margin-left:190px;'>
					<a href="http://www.crupzi.com" style='color:#fff; text-decoration:none;'>
					<div style='-moz-border-radius:29px; -webkit-border-radius:29px; border-radius:29px;font-size: 14px; width: 250px; background-color:#e63721; padding:8px 10px 8px 10px; text-align:center; font-weight:700;'>
						<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">Ll&eacute;vame a Crupzi.com</span>
					</div>
					</a>
				</div>
			</td>
			</tr>
		</table>
		<table width="700" border="0" style="margin-top:15px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
			<tr style="background:#f7f7f7;">
				<td valign='' style="height:50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
						<a style="margin-left:125px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> 
						<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a>
						<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a>
						<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a>
						<a style="margin-left:20px;" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35px"></a>
						<a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35px"></a>
						<a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35px"></a>
				</td>
			</tr>
		</table>
	</div>
</body>

{% endbodyhtml %}