{% load email %}
{% subject %}¡Gracias por completar el registro en Crupzi.com!{% endsubject %}
{% bodyhtml %}

<body style='font-family:"Helvetica","Arial",sans-serif;'>
	<div style='padding:10px 0 10px 20px; background:#343434;'>
		<img src="http://www.crupzi.com/static/images/landing/logo.png" width='200'>
	</div>
	<div style='padding:0px 50px 20px 50px;'>
		<h1 style='text-align:center;'>&iexcl;Bienvenido a Crupzi!</h1>
		<div style='text-align:center;'>
			<p>"Crupzi te permite ahorrar dinero encontrando, almacenando y utilizando los descuentos de restaurantes, bares, centros comerciales y m&aacute;s"</p>	
		</div>
		<p>
			{{ first_name }},<br><br>
			Antes de mencionarte que es Crupzi y c&oacute;mo puedes hacer uso de nuestro sistema para ahorrar dinero, queremos comentarte que por haberte hecho miembro, todo nuestro equipo se reuni&oacute; en nuestra sala de conferencias y decidimos nombrarte el usuario de la semana. Una comisi&oacute;n de 17 ingenieros comenz&oacute; a trabajar en la mejor forma de ofrecerte los mejores descuentos de acuerdo a tus preferencias. Al final de la semana, haremos una gran fiesta en tu honor y celebraremos tu ingreso a nuestra comunidad.<br><br>
			Ahora, un par de cosas importantes:
		</p>
		<div style='padding:20px;'>
			<table style='background:#fff; webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:1px solid #ccc;'>
			<tr>
				<td style='padding:20px; height:120px;'>
					<img src="http://www.crupzi.com/static/images/landing/piggy.png" width="100">
				</td>
				<td style='padding: 0px 20px 0 20px;'><p>
					<span style='font-weight:700;'>Encuentra descuentos</span><br>
					Nuestra incre&iacute;ble y extensa base de datos te permite encontrar los principales descuentos en los establecimientos de tu elecci&oacute;n.
				</p></td>
			</tr>
			</table>
			<br>
			<table style='background:#fff; webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:1px solid #ccc;'>
			<tr>
				<td style='padding:20px; height:120px;'>
					<img src="http://www.crupzi.com/static/images/landing/tag.png" width="100">
				</td>
				<td style='padding: 0px 20px 0 20px;'><p>
					<span style='font-weight:700;'>Incre&iacute;ble motor de b&uacute;squeda</span><br>
					La organizaci&oacute;n detallada de los descuentos permite realizar las b&uacute;squedas m&aacute;s espec&iacute;ficas que puedas imaginar.
				</p></td>
			</tr>
			</table>
			<br>
			<table style='background:#fff; webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:1px solid #ccc;'>
			<tr>
				<td style='padding:20px; height:120px;'>
					<img src="http://www.crupzi.com/static/images/landing/fav.png" width="100">
				</td>
				<td style='padding: 0px 20px 0 20px;'><p>
					<span style='font-weight:700;'>Almacena tus descuentos favoritos</span><br>
					Almacena en tu perfil todos aquellos descuentos que quisieras utilizar en el futuro, recordar para una cita o situaci&oacute;n especial.
				</p></td>
			</tr>
			</table>
			<br>
			<table style='background:#fff; webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border:1px solid #ccc;'>
			<tr>
				<td style='padding:20px; height:120px;'>
					<img src="http://www.crupzi.com/static/images/landing/send.png" width="100">
				</td>
				<td style='padding: 0px 20px 0 20px;'><p>
					<span style='font-weight:700;'>Comparte y conversa con tus amigos.</span><br>
					&iquest;C&oacute;mo te coordinas con tus amigos para salir un s&aacute;bado por la noche? Comparte con ellos los descuentos de bares o restaurantes y decidan cu&aacute;l es el lugar que m&aacute;s les conviene.
				</p></td>
			</tr>
			</table>
		</div>
		<p>
			<span style='font-weight:700;'>Cont&aacute;ctanos</span><br>
			Puedes escribirnos en cualquier momento a <a href="mailto:fundadores@crupzi.com">fundadores@crupzi.com</a> para cualquier duda, comentario, sugerencia o simplemente para saludarnos. Leemos todos los correos recibidos. Es en serio. Todos.
		</p>	
	</div>
	<div>
    <div style='background:#4D4D4D; padding:20px;'>
    	<table>
    		<tr style=''>
    			<td>
    				<ul style='list-style: none; margin-left: 0;'><li style='color:#fff; border-bottom:1px solid #fff;'>Crupzi.com</li></ul>
    			</td>
    			<td>
    				<ul style='list-style: none; margin-left: 0;'><li style='color:#fff; border-bottom:1px solid #fff;'>Social</li></ul>
    			</td>
    		</tr>
    		<tr style=''>
    			<td style='margin-left:0px;'>
    				<ul style='list-style: none; margin-left: 0;'>
			    		<li><a href="http://www.crupzi.com/beneficios" style='color:#fff;'>Beneficios</a></li>
			            <li><a href="http://www.crupzi.com/comercios" style='color:#fff;'>Comercios</a></li>
			            <li><a href="http://www.crupzi.com/nosotros" style='color:#fff;'>Nuestra empresa</a></li>
			            <li><a href="http://www.crupzi.com/soporte" style='color:#fff;'>Soporte</a></li>
			      	</ul>
    			</td>
    			<td style='vertical-align:top;'>
    				<ul style='list-style: none; margin-left: 0;'>
			    		<li><a href="http://www.facebook.com/crupzi" style='color:#fff;'>Facebook</a></li>
            			<li><a href="http://www.twitter.com/crupzi" style='color:#fff;'>Twitter</a></li>
            			<li><a href="http://blog.crupzi.com" style='color:#fff;'>Blog</a></li>
			      	</ul>
    			</td>
    		</tr>
    	</table>
	</div>
  </div>
</body>

{% endbodyhtml %}