{% load email %}
{% subject %}¡Gracias por completar el registro!{% endsubject %}
{% bodyhtml %}
		<style type="text/css">ol{margin:0;padding:0}.c0{height:11pt;direction:ltr}.c3{font-weight:bold}.c6{text-align:center}.c1{font-family:"Impact"}.c2{direction:ltr}.c7{font-style:italic}.c4{font-size:12pt}.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:18pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}h2{padding-top:18pt;line-height:1.15;text-align:left;color:#000000;font-size:14pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}h3{padding-top:14pt;line-height:1.15;text-align:left;color:#666666;font-size:12pt;font-family:"Arial";font-weight:bold;padding-bottom:4pt}h4{padding-top:12pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Arial";padding-bottom:2pt}h5{padding-top:11pt;line-height:1.15;text-align:left;color:#666666;font-size:10pt;font-family:"Arial";font-weight:bold;padding-bottom:2pt}h6{padding-top:10pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:10pt;font-family:"Arial";padding-bottom:2pt}</style>
		<p class="c2 c6">
			<span class="c3 c1 c4">{{ first_name }}, ¡Bienvenido a Crupzi.com!</span>
		</p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1">&ldquo;</span>
			<span class="c3 c1">Crupzi</span>
			<span class="c1">&nbsp;te permite ahorrar dinero encontrando, almacenando y utilizando los descuentos de</span>
		</p>
		<p class="c2"><span class="c1">restaurantes, bares, centros comerciales y m&aacute;s&rdquo;</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1">Antes de mencionarte qué es Crupzi y como puedes hacer uso de nuestro sistema para ahorrar dinero, queremos comentarte que por haberte hecho miembro, todo nuestro equipo se reuni&oacute;n en nuestra sala de conferencias y decidimos nombrarte el usuario de la semana. Una comisi&oacute;n de 17 ingenieros comenz&oacute; a trabajar en la mejor forma de ofrecerte los mejores descuentos de acuerdo a tus preferencias. Al &#64257;nal de la semana, haremos una gran &#64257;esta en tu honor y celebraremos tu ingreso a nuestra comunidad.</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1">Ahora, un par de cosas importantes:</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1 c3">Encuentra descuentos</span></p>
		<p class="c2"><span class="c1">Nuestra incre&iacute;ble y extensa base de datos te permite encontrarlos principales descuentos en los establecimientos de tu elecci&oacute;n. Realiza b&uacute;squedas por comercio, zona geogr&aacute;&#64257;ca, recursos (Ejemplo: descuentos por poseer una determinada tarjeta de cr&eacute;dito), etc. Nunca m&aacute;s te perder&aacute;s un descuento.</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c3 c1">Incre&iacute;ble motor de b&uacute;squeda.</span></p>
		<p class="c2"><span class="c1">La organizaci&oacute;n detallada de los descuentos permite realizar las b&uacute;squedas m&aacute;s espec&iacute;&#64257;cas que puedas imaginar. Digamos que planeas tu celebraci&oacute;n de cumplea&ntilde;os y deseas conocer los bares/restaurantes en un centro comercial determinado que tienen descuentos del 20% en bebidas y comida por presentar la tarjeta de cr&eacute;dito/debito de un banco determinado.</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1 c7">Crupzi te permite encontrar todos los resultados relevantes a tu b&uacute;squeda en menos de 27 segundos! Almacena tus descuentos favoritos</span></p><p class="c0"><span class="c1"></span></p><p class="c2"><span class="c1">Almacena en tu per&#64257;l todos aquellos descuentos que quisieras utilizar en el futuro, recordar para una cita o situaci&oacute;n especial. Nuestra plataforma te muestra todos los descuentos que consideres como favoritos agrupados por categor&iacute;a en incluso los que apliquen para un d&iacute;a espec&iacute;&#64257;co</span></p><p class="c0"><span class="c1"></span></p><p class="c2"><span class="c1">Ejemplo: Todos los descuentos vigentes para el d&iacute;a Viernes</span></p><p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c3 c1">Comparte con tus amigos en Facebook y Twitter</span></p>
		<p class="c2"><span class="c1">Como te coordinas con tus amigos para salir un s&aacute;bado por la noche? Comparte con ellos los descuentos de bares, restaurantes, etc. y decidan cual es el mejor lugar que ofrece las mejores promociones. Coordinar una salida y ahorrar con tus amigos nunca fue tan f&aacute;cil!</span></p><p class="c0"><span class="c1"></span></p><p class="c2"><span class="c3 c1">Preguntas frecuentes</span></p><p class="c2"><span class="c1">Si tienes alguna pregunta o duda sobre el sistema o simplemente quieres saber que hay detr&aacute;s de Crupzi, visita nuestra secci&oacute;n de Preguntas frecuentes.</span></p>
		<p class="c0"><span class="c1"></span></p>
		<p class="c2"><span class="c1">Nota: 137 elfos trabajan d&iacute;a y noche para construir nuestro sistema de preguntas frecuentes con el prop&oacute;sito de responder todas tus dudas.</span></p><p class="c0"><span></span></p>
{% endbodyhtml %}