{% load email %}
{% subject %}Reestablecer contraseña de Crupzi{% endsubject %}
{% bodyhtml %}

<body style='background-color:#fff; font-family:"Helvetica","Arial",sans-serif;'>
	<div style='padding:10px 0 10px 10px; background:#f6f6f6;'>
		<img src="http://www.crupzi.com/static/images/logo_blog.png" width='200'>
	</div>
	<div style='padding:0px 50px 20px 10px;'>
		<h1 style='font-size:1.1em;'>&iexcl;Hola {{ email }}!</h1>
		<div style=''>
			<p>T&uacute; o alguien m&aacute;s ha solicitado el reestablecimiento de tu contrase&ntilde;a. Si no fuiste t&uacute;, por favor ignora este mensaje.</p>
			<p>Si en efecto solicitaste el reset de la contrase&ntilde;a, <a href="http://www.crupzi.com/comercios/passwordreset/?key={{key}}&uid={{uid}}">haz clic aqu&iacute; para confirmar la operaci&oacute;n.</a></p><br>
			<p>- Equipo Crupzi -</p>
		</div>
	</div>
</body>

{% endbodyhtml %}