<meta content="en-us" http-equiv="Content-Language"><meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>SUBERNOVA Newsletter</title>
<style type="text/css"> 
	@media only screen and (max-width: 600px) { 
		table{width:100%;} 
	img{width:100%; height:auto;} 
	#header{margin-bottom: -20px;} 
	.footer{display:none;} 
	#table{border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;} } 
</style><!-- start wrapped table-->

<div style="height: 100%; margin: -8px;padding: 0;background: #111111;line-height: 1.6em;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<table width="100%" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td><!-- start intro text -->
<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td align="center" style="padding:10px 0 10px 0; color:#818180;">
<p>Email looks weird? View the <webversion style="color:#67cff4;">web version</webversion></p>
</td>
	</tr>
<!-- end intro text --></tbody>
</table>
<!-- end of header --><!-- defined email background color -->
<table id="table" width="600" bgcolor="#e7e7e7" align="center" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;"><!-- star of header image -->
<tbody>
	<tr>
		<td><img id="header" src="http://www.subernova.com/edms/images/header.gif" alt="header" style="border: 0;"></td>
	</tr>

	<tr>
		<td style="padding:20px 0 20px 0;"><img src="http://www.subernova.com/edms/images/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
	</tr>
<!-- end of common black header --><!-- start module 17 -->
	<tr><!-- module 17 image -->
		<td><img src="http://www.subernova.com/edms/15/hero.jpg" width="600" alt="image" style="border: 0;"></td>
	</tr>

	<tr>
		<td style="padding-top:10px;">
<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td width="20"></td>

		<td><h2 style="color: #362e25 !important; text-decoration: none; margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 24px;font-weight: bold;">Meet Sendy, our brand new app!</h2>

<p>How're you doing? We just released a new self hosted app you can download and install on your own server, we called it <a href="http://sendy.co" title="Sendy" style="color:#000000;">Sendy</a>!</p>
</td>

		<td width="20"></td>
	</tr>
</tbody>
</table>
</td>
	</tr>
<!-- end module 17 --><!-- ROW --><!-- start divider -->
	<tr>
		<td style="padding:20px 0 20px 0;"><img src="http://www.subernova.com/edms/images/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
	</tr>
<!-- end divider -->
	<tr>
		<td style="padding-top:0px;">
<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td width="20"></td>

		<td><!-- module 17 tittle --><h2 style="color: #362e25;margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold;">What is Sendy?</h2>
<!-- module 17 text -->
<p><img src="http://www.subernova.com/edms/15/sendy.jpg" title="" style="border: 1px solid #C6C6C6;"></p>

<p>Sendy is a self hosted email newsletter application that lets you send trackable emails via <a href="http://aws.amazon.com/ses/" title="Amazon SES" style="color:#000000;">Amazon Simple Email Service (SES)</a>. Complete with reports, subscriber and list management.<br>
<br>
 Sendy was born out of frustration of paying for expensive email campaign services. We send newsletters via Campaign Monitor for <a href="http://www.subernova.com" title="SUBERNOVA" style="color:#000000;">SUBERNOVA</a> and <a href="http://www.mockvault.com" title="MockVault" style="color:#000000;">MockVault</a>. No doubt Campaign Monitor is a great email campaign service, the price goes up to hundreds of dollars just for one email campaign. As our subscriber base grows, the cost per campaign grows significantly high.<br>
<br>
 We really don't ask for much, just a newsletter application that enables us to manage subscribers, send campaigns and view reports. What we managed to find were either too expensive or flat out ugly.</p>
<!-- module 17 button --></td>

		<td width="20"></td>
	</tr>
</tbody>
</table>
</td>
	</tr>
<!-- /ROW --><!-- ROW --><!-- start divider -->
	<tr>
		<td style="padding:20px 0 20px 0;"><img src="http://www.subernova.com/edms/images/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
	</tr>
<!-- end divider -->
	<tr>
		<td style="padding-top:0px;">
<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td width="20"></td>

		<td><!-- module 17 tittle --><h2 style="color: #362e25;margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold;">The best service we've found</h2>
<!-- module 17 text -->
<p style="float:left; margin: 10px 10px 10px 0;"><img src="http://www.subernova.com/edms/15/aws.jpg" title="" style="border: 1px solid #C6C6C6; width:200px !important; height:91px !important;"></p>

<p>The best service we've found is <b>Amazon Simple Email Service (SES)</b>. It offers email sending at high deliverability rates and at an insanely low price. $1 (Amazon SES) versus $150 (Campaign Monitor) for 10,000 emails?? Sounds great! But they don't offer the ability to send trackable newsletters and manage lists and subscribers.<br>
<br>
 Amazon SES is in need of an application that is built around it.<br>
<br>
 And so we built it.<br>
<br>
 You can use <a href="http://sendy.co" title="Visit Sendy" style="color:#000000;">Sendy</a> too at a <b>one time</b> introductory fee of $40 (we'll be pricing it at $50 at some point).<br>
<br>
<a href="http://sendy.co"><img src="http://www.subernova.com/edms/15/learn-more.gif" title="Learn more at Sendy.co" style="width:232px !important; height: 42px !important;"></a></p>
<!-- module 17 button --></td>

		<td width="20"></td>
	</tr>
</tbody>
</table>
</td>
	</tr>
<!-- /ROW --><!-- start divider -->
	<tr>
		<td style="padding:20px 0 20px 0;"><img src="http://www.subernova.com/edms/images/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
	</tr>
<!-- end divider --><!-- end module 17 --><!-- start of common footer --><!-- start of module 20 -->
	<tr>
		<td>
<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td width="20"></td>
<!-- social buttons -->
		<td width="560" align="center"><tweet recommend="SUBERNOVA"></tweet><fblike likeurl="http://www.subernova.com"></fblike></td>

		<td width="20"></td>
	</tr>
</tbody>
</table>
</td>
	</tr>
</tbody>
</table>
<!-- end of mail --><!-- star of footer-->
<table width="600" align="center" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
<tbody>
	<tr>
		<td><img class="footer" src="http://www.subernova.com/edms/images/footer.gif" width="600" height="23" alt="header" style="border: 0;"></td>
	</tr>

	<tr><!-- start finish text -->
		<td align="center" style="padding:10px 0 10px 0; color:#818180;">
<p style="font-size:11px;">Visit <a href="http://www.subernova.com" style="color: #67cff4;font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: underline;border: none;">subernova.com</a><br>
 Follow <a href="http://www.twitter.com/subernova" style="color: #67cff4;font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-decoration: underline;border: none;">@SUBERNOVA</a> on Twitter </p>

<p><a href="http://www.subernova.com" title="Visit SUBERNOVA" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #9a7722;text-decoration: underline;border: none;"><img src="http://www.subernova.com/edms/images/website.gif" alt="social1" style="width:41px !important; height: 40px !important;"></a><a href="http://twitter.com/subernova" title="Follow @SUBERNOVA" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #9a7722;text-decoration: underline;border: none;"><img src="http://www.subernova.com/edms/images/twitter.gif" style="width:41px !important; height: 40px !important;" alt="social2"></a><a href="mailto:support@subernova.com" title="Email SUBERNOVA" style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #9a7722;text-decoration: underline;border: none;"><img src="http://www.subernova.com/edms/images/email.gif" style="width:41px !important; height: 40px !important;" alt="social3"></a></p>

<p style="font-size:11px;">If you don't want to receive any more emails from us, you can <unsubscribe style="color:#67cff4; ">unsubscribe</unsubscribe></p>
</td>
	</tr>
<!-- end finish text --></tbody>
</table>
<!-- end wrapped table--></td>
	</tr>
</tbody>
</table>
</div>