<style type="text/css">
div, p, a, li, td, span { -webkit-text-size-adjust:none; }
</style>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span>
<div style="padding:20px 50px 0 50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	<table width="700" border="0" style="font-size:13px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
		<th style="text-align:left; background:#f7f7f7;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></th>
		<tr>
		<td style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
			<!-- Comunicado-->
			Hey [FirstName,fallback=], <br>
			Este ser&aacute; un correo corto. Y genial.<br><br>
			Hemos abierto la inscripci&oacute;n para que cualquier comercio pueda participar en nuestro programa de Comercios Afiliados Crupzi. Este programa permitir&aacute; a los administradores de tiendas, bares, restaurantes y comercios en general, administrar sus descuentos y sucursales dentro de crupzi.com. &iexcl;GRATIS!<br><br>
			Si quieres participar en nuestro programa de Comercios Afiliados Crupzi, te invitamos a hacer clic aqu&iacute; para llenar el formulario de inscripci&oacute;n: <a href="http://en.crupzi.com/X1inlZ" style="color:#e63721; text-decoration:none;">http://en.crupzi.com/X1inlZ</a><br><br>
			Te agradecer&iacute;amos si reenv&iacute;as este correo a cualquier persona que pueda estar interesada en formar parte de nuestro programa de comercios afiliados. &Uacute;nicamente te tomar&oacute; 4 segundos y te lo agradeceremos enormemente.<br><br>
			Recuerda tambi&eacute;n que puedes encontrarnos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>, <a href="http://www.twitter.com/crupzi" style='color:#e63721; text-decoration:none;'>Twitter</a> y en tus sue&ntilde;os.<br><br>
			Cheers<br>
			El Equipo Crupzi<br><br>
			Ps. Si deseas conocer mas sobre el programa de Comercios Afiliados Crupzi, puedes visitar el siguiente enlace: <a href="http://en.crupzi.com/Y84XSE" style='color:#e63721; text-decoration:none;'>http://en.crupzi.com/Y84XSE</a><br><br><br>
			<!-- Fin de Comunicado-->
		</td>
		</tr>
	</table>
	<table width="700" border="0" style="margin-top:15px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
		<tr>
			<td style="text-align:center; font-size:13px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
				Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
			</td>
		</tr>
		<tr style="background:#f7f7f7;">
			<td valign='' style="height:50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
					<a style="margin-left:125px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> 
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a>
					<a style="margin-left:20px;" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35px"></a>
					<a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35px"></a>
					<a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35px;"></a>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; padding-top:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; color:#000;">
			Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento.
			</td>
		</tr>
	</table>
</div>