<style type="text/css">
html { -webkit-text-size-adjust:none; }
</style> 
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; ">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span>

<table width="640" border="0">
	<tr>
		<th colspan="3" style="text-align:left; background:#f7f7f7;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></th>
	</tr>
	<tr><td style="padding-top:10px;" colspan="3"><h1 style="text-align:center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">&iexcl;BIENVENIDO A CRUPZI!</h1></td></tr>
	<tr><td colspan="3" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none;">Hey [FirstName,fallback=], <br><br>
	Antes de mencionarte que es Crupzi y c&oacute;mo puedes hacer uso de nuestro sistema para ahorrar dinero, queremos comentarte que por haberte hecho miembro, todo nuestro equipo se reuni&oacute; en nuestra sala de conferencias y decidimos nombrarte el usuario de la semana. Una comisi&oacute;n de 17 ingenieros comenz&oacute; a trabajar en la mejor forma de ofrecerte los mejores descuentos de acuerdo a tus preferencias. Al final de la semana, haremos una gran fiesta en tu honor y celebraremos tu ingreso a nuestra comunidad.<br><br>
	Ahora, un par de cosas importantes:</td></tr>
	<tr>
		<td style="padding-top:10px;"><img src="http://www.crupzi.com/static/images/emails/landing-03.png" width="213"></td>
		<td style="padding-top:10px;"><img src="http://www.crupzi.com/static/images/emails/landing-05.png" width="213"></td>
		<td style="padding-top:10px;"><img src="http://www.crupzi.com/static/images/emails/landing-07.png" width="213"></td>
	</tr>
	<tr>
		<td valign="top" style="padding-top:10px;">
			<span style="font-weight:700; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">Incre&iacute;ble motor de b&uacute;squeda</span><br><br>
			<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">La organizaci&oacute;n detallada de los descuentos permite realizar las b&uacute;squedas m&aacute;s espec&iacute;ficas que puedas</span>
		</td>
		<td valign="top" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; padding-top:10px;">
			<span style="font-weight:700; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">Comparte con tus amigos</span><br><br>
			<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">&iquest;C&oacute;mo te coordinas con tus amigos para salir un s&aacute;bado por la noche? Comparte con ellos los descuentos de bares o restaurantes y decidan cu&aacute;l es el lugar con las mejores promociones.</span>
		</td>
		<td valign="top" style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; padding-top:10px; -webkit-text-size-adjust:none;">
			<span style="font-weight:700; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">Almacena tus favoritos</span><br><br>
			<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; -webkit-text-size-adjust:none;">Almacena en tu perfil todos aquellos descuentos que quisieras utilizar en el futuro, recordar para una cita o situaci&oacute;n especial.</span>
		</td>
	</tr>
	<tr>
		<td  colspan="3" style="text-align:center; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;  color:#000; padding-top:20px; -webkit-text-size-adjust:none;">
		Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
		</td>
	</tr>
	<tr style="background:#f7f7f7;">
		<td colspan="3" style="padding-top:5px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; color:#000; -webkit-text-size-adjust:none;">
				<a style="margin-left:50px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> 
				<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a>
				<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a>
				<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a>
				<a style="margin-left:20px;" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a>
				<a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width='35'></a>
				<a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width='35'></a>
		</td>
	</tr>
</table>