<style type="text/css">
div, p, a, li, td, span { -webkit-text-size-adjust:none; }
</style>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span>
<div style="padding:20px 50px 0 50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
	<table width="700" border="0" style="font-size:13px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
		<th style="text-align:left; background:#f7f7f7;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width='150'></th>
		<tr><td style="padding-top:10px;"><h1 style="text-align:center;">&iexcl;FELIZ CUMPLEA&Ntilde;OS!</h1></td></tr>
		<tr><td style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">Hey [FirstName,fallback=], <br><br>
		Nuestro equipo se ha dado cuenta que tu cumplea&ntilde;os se acerca por lo que te queremos presentar una selecci&oacute;n de descuentos que podr&iacute;an interesarte para celebrar tan magno evento:
		</td></tr>
	</table>
	<table width="600" border="0" style="font-size:13px; margin-left:40px; margin-top:15px;">
		<tr>
			<td style="padding:8px;"><img src="http://www.crupzi.com/static/images/emails/cat-birthday-03.png" width="180px"></td>
			<td style="padding:8px;"><img src="http://www.crupzi.com/static/images/emails/cat-birthday-05.png" width="180px"></td>
			<td style="padding:8px;"><img src="http://www.crupzi.com/static/images/emails/cat-birthday-07.png" width="180px"></td>
		</tr>
		<tr>
			<td valign="top" style="padding:8px;">
				<p style="text-align:center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
				<span style="font-weight:700;">Bares</span>
				</p>
			</td>
			<td valign="top" style="padding:8px;">
				<p style="text-align:center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
				<span style="font-weight:700;">Restaurantes</span>
				</p>
			</td>
			<td valign="top" style="padding:8px;">
				<p style="text-align:center; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
				<span style="font-weight:700;">Regalos</span>
				</p>
			</td>			
		</tr>
	</table>
	<table width="700" border="0" style="margin-top:15px;">
		<tr>
			<td style="font-size:13px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
				Como nota adicional queremos comentarte que nuestro equipo se reunir&aacute; para hacer una celebraci&oacute;n en tu honor, cerraremos nuestras oficinas por un d&iacute;a y festejaremos.<br><br>
				Todo el equipo de Crupzi te desea un feliz cumplea&ntilde;os y esperamos que lo disfrutes como es debido. Estaremos muy cansados al final de la semana por tu celebraci&oacute;n pero comenzaremos nuevamente a trabajar el d&iacute;a lunes para planear tu pr&oacute;ximo cumplea&ntilde;os. <br><br>&iexcl;Feliz cumplea&ntilde;os! <br><br>El equipo Crupzi<br><br>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; font-size:13px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
				Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
			</td>
		</tr>
		<tr style="background:#f7f7f7;">
			<td valign='' style="height:50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
					<a style="margin-left:125px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> 
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a>
					<a style="margin-left:20px;" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35px"></a>
					<a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width='35px;'></a>
					<a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width='35px;'></a>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; padding-top:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; color:#000;">
			Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento.
			</td>
		</tr>
	</table>
</div>