<style type="text/css">
div, p, a, li, td, span { -webkit-text-size-adjust:none; font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;}
</style>

<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span>
<div style="width: 640px; margin-top:20px;">
	<div style="float:left; width:200px;">
		<img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150">
	</div>
	<div style="float:right; width:440px; text-align:right;">
		<span style="font-size:1.5em; text-align:center; color:#4b4b4b; font-family: 'Open Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700;">Descuentos Semanales Crupzi</span><br>
		<span style="font-size:0.9em; text-align:center; color:#4b4b4b; font-family: 'Open Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 400;">18 de marzo de 2013</span><br>
	</div>
	<div style="clear:both;"></div>
</div>
<div style="width:640px;">

<p style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
	Hey [FirstName,fallback=], <br><br>
	Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana:
</p>
<div>
	<!-- Descuento inicial -->
	<div style="padding:15px 0px 15px 0px; border-top: 1px solid #ccc; border-bottom:0;">
		<span style="font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:0.9em; color:#4b4b4b;">Restaurante</span><br>
		<a href="http://www.crupzi.com/descuentos/koi-25-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none; font-weight:700; font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
		<!-- Titulo --> 25% de descuento en consumo <!-- Fin Titulo -->
		</a><br>
		<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<span style="font-weight:bold; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
			KOI
			</span>
			- v&aacute;lida los d&iacute;as: lunes<br><br>
			<span>V&aacute;lida hasta la fecha: 31 de marzo de 2013</span><br>
			No aplica en conjunto de otras promociones.
		</span>
	</div>
	<!-- Fin Descuento inicial -->
	<div style="padding:15px 0px 15px 0px; border-top: 1px solid #ccc; border-bottom:0; margin-top:-10px;">
		<span style="font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:0.9em; color:#4b4b4b;">Restaurante</span><br>
		<a href="http://www.crupzi.com/descuentos/koi-25-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none; font-weight:700; font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
		<!-- Titulo --> 25% de descuento en consumo <!-- Fin Titulo -->
		</a><br>
		<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<span style="font-weight:bold; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
			KOI
			</span>
			- v&aacute;lida los d&iacute;as: lunes<br><br>
			<span>V&aacute;lida hasta la fecha: 31 de marzo de 2013</span><br>
			No aplica en conjunto de otras promociones.
		</span>
	</div>
	<div style="padding:15px 0px 15px 0px; border-top: 1px solid #ccc; border-bottom:0; margin-top:-10px;">
		<span style="font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:0.9em; color:#4b4b4b;">Restaurante</span><br>
		<a href="http://www.crupzi.com/descuentos/koi-25-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none; font-weight:700; font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
		<!-- Titulo --> 25% de descuento en consumo <!-- Fin Titulo -->
		</a><br>
		<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<span style="font-weight:bold; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
			KOI
			</span>
			- v&aacute;lida los d&iacute;as: lunes<br><br>
			<span>V&aacute;lida hasta la fecha: 31 de marzo de 2013</span><br>
			No aplica en conjunto de otras promociones.
		</span>
	</div>
	<div style="padding:15px 0px 15px 0px; border-top: 1px solid #ccc; border-bottom:0; margin-top:-10px;">
		<span style="font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:0.9em; color:#4b4b4b;">Restaurante</span><br>
		<a href="http://www.crupzi.com/descuentos/koi-25-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none; font-weight:700; font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
		<!-- Titulo --> 25% de descuento en consumo <!-- Fin Titulo -->
		</a><br>
		<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<span style="font-weight:bold; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
			KOI
			</span>
			- v&aacute;lida los d&iacute;as: lunes<br><br>
			<span>V&aacute;lida hasta la fecha: 31 de marzo de 2013</span><br>
			No aplica en conjunto de otras promociones.
		</span>
	</div>
	<div style="padding:15px 0px 15px 0px; border-top: 1px solid #ccc; border-bottom:1px solid #ccc; margin-top:-10px;">
		<span style="font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:0.9em; color:#4b4b4b;">Restaurante</span><br>
		<a href="http://www.crupzi.com/descuentos/koi-25-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none; font-weight:700; font-size:1.429em; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
		<!-- Titulo --> 25% de descuento en consumo <!-- Fin Titulo -->
		</a><br>
		<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
			<span style="font-weight:bold; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">
			KOI
			</span>
			- v&aacute;lida los d&iacute;as: lunes<br><br>
			<span>V&aacute;lida hasta la fecha: 31 de marzo de 2013</span><br>
			No aplica en conjunto de otras promociones.
		</span>
	</div>
</div>
<div style="text-align:center; font-size:0.7em; padding-bottom:10px; font-family:'Open Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;">
Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
</div>
<div style="font-family: 'Open Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
	<ul style="list-style: none; margin-left:-50px;">
		<li style="display:inline;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> </li>
		<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
		<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
		<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
	</ul>
	<ul style="list-style: none; margin-left:-50px;" >
		<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
		<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
		<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
	</ul>
</div>
<div style="text-align:center; font-size:0.8em; padding-bottom:10px; font-family: 'Open Sans','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;">
	<p>Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento.</p>
</div>
</div>