<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>Crupzi.com - Inscripci&oacute;n de comercios</title>
  <link href="/static/lib/dashboard/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <script src="/static/lib/dashboard/javascripts/application.js" type="text/javascript"></script>
  <script type="text/javascript" src='/static/lib/js/charCount.js'></script>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <style>
      section#main {  margin-left: 0px; }
      ul.top-notifications { display: none; }


    .input-container{
      width: 330px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    .help-block{
      display: none;
    }

    .input-container input{
      width: 100%;
    }

    .signup-input:focus + span{
      display: block;
    }

    .ajax-loader{
      position: fixed;
        top: 35%;
        left: 50%;
        margin-left: -75px;
        width: 100px;
        background: #FFF;
        color: #BAB095;
        border: 1px solid #E0DCBB;
        padding: 20px;
        text-align: center;
        -moz-border-radius:20px;
      -webkit-border-radius:20px;
      border-radius:20px;
      z-index: 2000;
      display: none;
    }
  </style>
</head>
<body>
<div class="top-bar">
  <a id="topbar-brand-out" class="brand" href="">
    <img alt="Dashboard Crupzi.com" src="/static/images/landing/logo.png" width="100" style='margin-top:10px;'/>
  </a>
</div>
<section id="main">
  <div class="container-fluid" >
  <div class="row-fluid">

    <div class="span12">
      <div class="login-container center" style="margin-top:0;">
        <div>
          <img src="/static/images/logo_blog.png" width='220px' style='margin-right:47px;'/>
          <img src="/static/images/app/afiliado-new-small.png">
        </div>
        <div class="title text-transparent" style='font-size:25px; margin-top:10px; text-align:center;'>
          Inscripci&oacute;n

        </div>
        <p>Ingresa tus datos y comienza a formar parte de "Comercios Afiliados Crupzi" </p>
        <hr class="main">
        <div class="alert alert-error dark-plum" style='margin-top:1.5em; display:none; text-align:left;' id="errors-container">
        {% if error %}
      		{{ error }}
        {% endif %}
      	</div>
        <div class="alert" id="success-container" style="margin-top:10px; display:none;">
          <p> <b>&iexcl;Gracias! </b><br> Dentro de muy poco nos comunicaremos contigo para informarte sobre la creacion de tu cuenta.</p>
        </div>        
      </div>
      <div class="input-container">
        <form id='form_businessConnect' action='/comercios/connect/' method='post' class='login-form'>{% csrf_token %}
              <input autocomplete="off" id="name" name="name" placeholder="Nombre del comercio" type="text" value="" class="signup-input" data-label="Nombre del comercio" maxlength="45">
              <span class="help-block" >(Ejemplo: Pizza planet, Bar La Laguna, Tienda Moda)</span>

              <input autocomplete="off" id="contact" name="contact" placeholder="Nombre del contacto" type="text" value="" class="signup-input" data-label="Nombre del contacto" maxlength="45">
              <span class="help-block">Tu nombre o el nombre de la persona encargada del comercio.</span>

              <input autocomplete="off" id="email" name="email" placeholder="Correo electr&oacute;nico" type="text" value="" class="signup-input" data-label="Correo electr&oacute;nico" maxlength="45">
              <span class="help-block">Este correo será tu usuario para iniciar sesión y recibir notificaciones. <b>Tu correo nunca ser&aacute; revelado</b>. (Utilizar correo empresarial para rápida validación)</span>

              <input autocomplete="off" id="phone-number" name="phone-number" placeholder="Tel&eacute;fono" type="text" value="" class="signup-input" data-label="Tel&eacute;fono" maxlength="20">
              <span class="help-block">Este puede utilizarse para verificar tu información (nosotros también odiamos el spam)</span>

              <input autocomplete="off" id="website" type="text" id="website" name="website" placeholder="P&aacute;gina Web" style="width:330px; margin-bottom:5px;" class="signup-input" data-label="Otra categor&iacute;a" maxlength="80">
              <span class="help-block" style="">Ejemplo: www.tiendamoda.com</span>

              <select id='category_list' name='category_list' multiple data-placeholder="Categoría. (Máximo 2)" style="width:330px;">
                <option></option>
                <option value='1'>Ropa y calzado</option>
                <option value='2'>Bares</option>
                <option value='3'>Restaurantes</option>
                <option value='4'>Caf&eacute;s</option>
                <option value='5'>Regalos</option>
                <option value='6'>Viajes</option>
                <option value='7'>Belleza y Salud</option>
                <option value='8'>Entretenimiento</option>
              </select>
              <input type="hidden" id="category" name="category">
              <input autocomplete="off" id="other_category" name="other_category" placeholder="Otra categor&iacute;a" type="text" value="" class="signup-input" style="margin-top:5px;" maxlength="30">
              <span class="help-block">Si no aplica ninguna categor&iacute;a anterior.</span>
              <input type="text" id="username" name="username" style="display:none;">
          </form>

          <div class="actions">
            <button class="btn btn-large medium-blue login-btn" id='btn-connect' style="width:100%;">Enviar</button>
          </div><br><br>
          <hr class="main">
          <br><br>
          
      </div>
      <p style="text-align:center;">Si tienes alg&uacute;n problema durante la inscripci&oacute;n no dudes en contactarnos al correo <a href="mailto:socios@crupzi.com">socios@crupzi.com</a></p>
    </div>

    <div style="clear:both;"></div>
  </div>
</div>

</section>
<div id='loader' class='ajax-loader'>
  <div style='margin: 0 auto;'>
      <img src="/static/images/load.gif">
      <p style='color: #BAB095;'>Cargando ...</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#category_list").chosen();
  });

  function validateForm(){
    var valid = true;
    var errors = "";
    var emailFilter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    $(".signup-input").each(function(){
      if($(this).attr("id")=="other_category") return;
      else{
        switch($(this).attr("id")){
          case "email":
            if(jQuery.trim($(this).val())=="")
              errors+="<li>El Correo electr&oacute;nico es obligatorio.</li>";
            else if(!emailFilter.test($(this).val())) 
              errors+="<li>El formato de la direcci&oacute;n de correo es incorrecto.</li>";
            break;
          case "website": case "other-category":
            break;
          default:
            if(jQuery.trim($(this).val())=="")
               errors+="<li>El "+ $(this).attr("data-label") +" es obligatorio.</li>";
            break;
        }
      }
    });
    //Category validation.
    if(jQuery.trim($("#category_list").val()) =="" && jQuery.trim($("#other_category").val())=="")
      errors+="<li>Debes seleccionar al menos una categor&iacute;a o digitar otra.</li>";

    if(jQuery.trim(errors)!="") valid = false;
    if(valid){
      if($("#category_list").val()!="" && $("#category_list").val()!=null)
        $("#category").val($("#category_list").val().join(","))
    }
    else{
      $('#errors-container').html("<b>&iexcl;Oh No! Hemos detectado los siguientes errores:</b> <br> "+errors).show();
    }
    return valid;
  }

  $("#btn-connect").click(function(){
    if(validateForm()){
      var serializedQuery = $('#form_businessConnect').serialize();
      jQuery.ajax({
          type: "POST",
          url: "/comercios/procesarInscripcion/",
          data: serializedQuery,
          beforeSend: function(){
            $('button').attr('disabled',true);
            $("#errors-container").hide();
            $('#loader').show();
          },
          success: function(json){
            $('button').attr('disabled',false);
            $('#loader').hide();
            var data = eval(json);
            if (data[0].error == true){
              $('#errors-container').html("<b>&iexcl;Oh No! Hemos detectado los siguientes errores:</b> <br> "+data[0].errors).show();
            }
            else{
              $(".input-container").hide().remove();
              $("#success-container").show();
            }
          }
      });
    }
  });

</script>
</body>
</html>