{% extends 'landing/no-user-base.html' %}
{% block title %} Crupzi.com - Completar registro {% endblock %}

{% block linkcss %}
<style type="text/css">
	
	body{
		background: #fff;
	}

	h1{
		color: #fff;
		font-family: 'Open Sans','Helvetica','Arial','sans-serif';
		text-shadow: 1px 1px 1px #000;
		font-size: 2em;
		margin-top: 0;
		margin-bottom: -5px;
	}

	hr{
		border: 1px solid #fff;
		margin: 0;
	}

	.inline-label{	
		color: #fff;
		font-family: 'Open Sans','Helvetica','Arial','sans-serif';
		!text-shadow: -1px 1px 1px #000;
		text-shadow: -1px 0 #474747, 0 1px #474747, 1px 0 #474747, 0 -1px #474747;
		font-size: 0.8em;
		font-weight: bold;
		width: 100%;
	}
	.inline-input{
		width: 90%;
	}
	.inline-fields{
		margin: 0.3em;
		padding: 0.2em;
	}
	#complete-registration-container{
		padding: 1em 1em 0 1em;
		background: url(/static/images/confirmRegistration/Fondo.jpg) no-repeat;
		height: 1072px;
	}
	#complete-registration-form{
		padding: 1em;
		width: 90%;
	}
	

	label{
		font-size: 1em;
		font-weight: bold;
		line-height: 1.1;
	}

	input,
	button,
	select,
	textarea {
	  font-size: 14px;
	  font-weight: normal;
	  line-height: 20px;
	  width: 280px;
	}

	.errorlist{
		background: #A68069;
		border-color: #A68069;
		width: 100%;
	}

	.errorlist:after {
	  border-color: #A68069 transparent transparent transparent;
	}


</style>
{% endblock %}

{% block scriptjs %}
<script type="text/javascript" src='/static/lib/js/jquery.maskedinput-1.3.min.js'></script>
<script type="text/javascript" src='/static/lib/js/jquery.form.js'></script>
{% endblock %}
</head>


{% block content %}
	
	<div class='container' id='complete-registration-container'>
		<div class='span3'>
			<img src="/static/images/Logo.png">
		</div>
		<div class='span5' style='width:420px;'>
			<div class='light-box'>
				<h1>Un &uacute;ltimo paso</h1>
				<p class='inline-label' style='text-shadow: -1px 1px 1px #000; font-size:0.8em;'>Prometemos no pedir m&aacute;s. Conf&iacute;rmanos la siguiente informaci&oacute;n</p>
				<hr>
				<div id='complete-registration-form'>
					<form action="" method="post" id='form-registration'>{% csrf_token %}
						{{ form.non_field_errors }}
						{% for field in form %}
							<div class="fieldWrapper inline-fields">
								{{ field.errors }}
								<div class='inline-label'><span class='text-align-right'>{{ field.label_tag }}</span></div>
								<div class='inline-input'>{{ field }}</div>
							</div>
						{% endfor %}
						<input type="button" value="Enviar" class='btn btn-black' id='btn-submit'/>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% block extrajs %}

	<script type="text/javascript">

		$(document).ready(function(){
			$('#id_country').val('');
			$('#id_city').html('');
			$( "#id_birthday" ).mask("99/99/9999");
		});

		$('#btn-submit').click(function(){
			var options = { 
				url: "/validar-registro/",
			    dataType: 'json', 
				success: afterSuccessForm,
				beforeSubmit: beforeSendForm
			};
			$('#form-registration').ajaxSubmit(options);
		});

		function beforeSendForm(){
			$('button').attr('disabled',true);
	  		$('.errorlist').remove();
		}

		function afterSuccessForm(data){
			$('button').attr('disabled',false);
	  		if(!ajaxFindErrors(data)) $('#form-registration').submit();
		}

		$('#id_country').change(function(){
			jQuery.ajax({
		  		type: "GET",
		  		url: "{% url users_get 'cities'%}",
		  		data: "country_id="+$(this).val(),
	  			beforeSend: function(){
			  		$('button').attr('disabled',true);
		  		},
			  	success: function(data){
			  		$('button').attr('disabled',false);
			  		if(data){
			  			json = eval(data);
			  			var html=''
			  			for (key in json){
			  				html+="<option value='"+json[key].pk+"'>"+json[key].fields['name']+"</option>"
			  			}
			  			$('#id_city').html(html);
			  		}
			  	}
			});
		});

		function ajaxFindErrors(data){
			var errors, has_errors = false;
			if (data) {
				if (eval(data.bad)) {
					has_errors = true;
					errors = eval(data.errs); 
					$.each(errors,function(fieldname,errmsg)
					{
						id = "#id_" + fieldname;
						$(id).parent().parent().prepend( errmsg );
					});
				}
				return has_errors;
			}
			else return true;
		}
	</script>

	{% endblock %}

{% endblock %}



