{% extends "landing/landing-base.html" %}

{% block commerce-css %}active{% endblock %}

{% block demo-background %} background: url(/static/images/landing/companies/header-bg.png);{% endblock %}

{% block demo-header-content %}
	<div style='margin:40px 50px 0 80px; text-align:center; position: relative;'>
		<div style="position:absolute; right:-40px; top:-50px;">
			<div><p style="color:#fff; font-size:1em; text-shadow: 1px 1px 1px #000; ">&iquest;Eres comercio afiliado?</p></div>
			<button class="btn btn-companies-action-3">
				<b>Iniciar</b> Sesi&oacute;n <i class="icon-chevron-right icon-white" style="margin-top:6px;"></i>
			</button>
		</div>
		<div style="clear:both;"></div>
		<h1 style="margin-top:70px;">Comercios</h1>
		<h2 style="color:#fff; font-size:25px; line-height:1.1; font-weight:300;">
			Inscr&iacute;bete gratis a nuestro programa de comercios afiliados<br> y comienza a publicar tus descuentos en Crupzi.com
		</h2>
		<div style="margin-top:20px;">
			<button class="btn btn-companies-action-1 btn-large">Inscribirme</button>
			<button class="btn btn-companies-action-2 btn-large">Probar Demo</button>
		</div>
	</div>
{% endblock %}
{% block demo-content %}

<div class="container" style="position: relative;" id="page-nav-container">
	<div style="text-align:center; z-index:200;" id="page-nav">
		<div class="header-navbtn floatleft" style="width:341px; cursor: pointer; position:relative;" data-href="#perks-container">
			<img src="/static/images/landing/companies/features-nav-1.png" style="position:absolute; top: 23px; left: 50px;">
			<p style="margin:25px 0 25px 0; color:#fff;">Beneficios</p>
		</div>
		<div class="header-navbtn floatleft" style="width:340px; border-left:1px solid black; border-right:1px solid black; cursor: pointer; position: relative;" data-href="#howitworks-container">
			<img src="/static/images/landing/companies/features-nav-2.png" style="position:absolute; top: 20px; left: 35px;">
			<p style="margin:25px 0 25px 0; color:#fff;">&iquest;C&oacute;mo funciona?</p>
		</div>
		<div class="header-navbtn floatleft" style="width:341px; cursor: pointer; position:relative;" data-href="#features-container">
			<img src="/static/images/landing/companies/features-nav-3.png" style="position:absolute; top: 20px; left: 35px;">
			<p style="margin:25px 0 25px 0; color:#fff;">Caracter&iacute;sticas</p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>

<div class='container' >
	<div class='sectionodd nav-section' id="perks-container">
		<h3>Beneficios</h3>
		<h4 style="margin-top:-20px;">Por participar en nuestro programa de comercios afiliados</h4>
		<div style="margin-top:35px;">
			<div style="width:341px;" class="floatleft">
				<div>
					<div style="text-align:center;"><img src="/static/images/landing/companies/perks01.png"></div>
					<div style="padding:20px;">
						<p style="font-size:25px; font-weight:700; text-align:center; color:#444;">Tus descuentos</p>
						<p>
							Crupzi permite dar a conocer todas tus promociones, llegar al mayor nivel de audiencia en b&uacute;squeda de estos y responder a la pregunta <b>&iquest;qu&eacute; descuento hay para hoy?</b>
						</p>
					</div>
				</div>
			</div>
			<div style="width:342px;" class="floatleft">
				<div>
					<div style="text-align:center;"><img src="/static/images/landing/companies/perks02.png"></div>
					<div style="padding:20px;">
						<p style="font-size:25px; font-weight:700; text-align:center; color:#444;">En minutos</p>
						<p>
							Nuestra plataforma permite dar a conocer tus campa&ntilde;as de descuentos a las personas que realmente est&aacute;n interesadas en ellos y todo en cuesti&oacute;n de minutos.</b>
						</p>
					</div>
				</div>
			</div>
			<div style="width:341px;" class="floatleft">
				<div>
					<div style="text-align:center;"><img src="/static/images/landing/companies/perks03.png"></div>
					<div style="padding:20px;">
						<p style="font-size:25px; font-weight:700; text-align:center; color:#444;">Reportes</p>
						<p>
							El equipo Crupzi ha dise&ntilde;ado los m&aacute;s hermosos gr&aacute;ficos y datos anal&iacute;ticos m&aacute;s importantes para conocer todo lo relacionado a tus promociones y el desempe&ntilde;o de los mismos.</b>
						</p>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div class='sectioneven nav-section' id="howitworks-container">
		<h3>&iquest;Com&oacute; funciona?</h3>
		<h4 style="margin-top:-20px;">Estos son los pasos para formar parte de nuestros socios</h4>
		<div style='margin-top:35px;'>
			<div>
				<div style="width:250px; margin-left:15px;" class="floatleft">
					<div><img src="/static/images/landing/companies/hiw01.png"></div>
					<div style="text-align:center; margin-top:40px;"><p>1. Inscr&iacute;bete</p></div>
				</div>
				<div style="width:250px;" class="floatleft">
					<div><img src="/static/images/landing/companies/hiw02.png"></div>
					<div style="text-align:center; margin-top:40px;"><p>2. Inicia sesi&oacute;n</p></div>
				</div>
				<div style="width:250px;" class="floatleft">
					<div><img src="/static/images/landing/companies/hiw03.png"></div>
					<div style="text-align:center; margin-top:40px;"><p>3. Ingresa descuentos</p></div>
				</div>
				<div style="width:250px;" class="floatleft">
					<div><img src="/static/images/landing/companies/hiw04.png"></div>
					<div style="text-align:center; margin-top:40px;"><p>4. Comparte</p></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="position:relative;">
				<div style="position:absolute; top:-70px;">
					<img src="/static/images/landing/companies/arrow-r.png" style="margin-left:200px;">
					<img src="/static/images/landing/companies/arrow-r.png" style="margin-left:110px;">
					<img src="/static/images/landing/companies/arrow-r.png" style="margin-left:110px;">
				</div>
			</div>
		</div>
	</div>

	<div class='sectionodd nav-section' id="features-container">
		<h3>Caracter&iacute;sticas</h3>
		<h4 style="margin-top:-20px;">Algunas cosas que puedes hacer con nuestra plataforma de comercios</h4>
		<div style="margin-top:20px;">
			<div>
				<div style="width:640px;" class="floatleft">
					<div id="features-img-container" style="margin-top:45px;">
						<img src="/static/images/landing/companies/features02.png" id="features-img-src">
					</div>
				</div>
				<div style="width:384px;" class="floatleft">
					<div class="companies-features" style="margin-top:45px;" id="features-branches">
						<div class="floatleft" style="width: 55px;">
							<img src="/static/images/landing/companies/features-icon-01.png">
						</div>
						<div class="floatleft" style="width:305px;">
							<label>Sucursales</label>
							<p style="font-size:15px;">Si tu comercio posee varias sucursales, puedes ingresar o modificar las existentes para publicar descuentos especif&iacute;cos en cada una.</p>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div class="companies-features companies-features-active" id="features-deals">
						<div class="floatleft" style="width: 55px;">
							<img src="/static/images/landing/companies/features-icon-02.png">
						</div>
						<div class="floatleft" style="width:305px;">
							<label>Descuentos</label>
							<p style="font-size:15px;">Ingresa nuevos descuentos o modifica los existentes con su descripci&oacute;n, vigencia, d&iacute;as que aplica, si es exclusivo para ciertas tarjetas, sucursales y m&aacute;s.</p>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div class="companies-features" id="features-stats">
						<div class="floatleft" style="width: 55px;">
							<img src="/static/images/landing/companies/features-icon-03.png">
						</div>
						<div class="floatleft" style="width:305px;">
							<label>Estad&iacute;sticas</label>
							<p style="font-size:15px;">Eval&uacute;a el desempe&ntilde;o de tus descuentos con mediciones de clics, impresiones o descuentos guardados por edad, g&eacute;nero y ubicaci&oacute;n de tus clientes.</p>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="sectionodd">
		<h3>&iquest;C&oacute;mo utilizar Crupzi.com?</h3>
		<h4 style="margin-top:-20px;">Estos son algunos ejemplos de comercios con <br>descuentos en crupzi.com</h4>
		<div style="margin-left:20px; margin-top:40px; margin-bottom:40px;">
			<div class="span3"><a href="http://en.crupzi.com/17Az6m3" target="_blank"><img src="/static/images/landing/companies/business01.png"></a></div>
			<div class="span3"><a href="http://en.crupzi.com/11fAoiY" target="_blank"><img src="/static/images/landing/companies/business02.png"></a></div>
			<div class="span3"><a href="http://en.crupzi.com/XQzjQd" target="_blank"><img src="/static/images/landing/companies/business03.png"></a></div>
			<div class="span3"><a href="http://en.crupzi.com/13n7L3m" target="_blank"><img src="/static/images/landing/companies/business04.png"></a></div>
			<div style="clear:both;"></div>
		</div>
	</div>

	<div class='sectioneven'>
		<div class="rounded-box" align="center" style="margin: 0 auto;">
			<h3>&iexcl;Inscr&iacute;bete gratis!</h3>
			<h4 style="margin-top:-20px;">Comienza a ingresar descuentos y forma parte de nuestra <br>comunidad de comercios afiliados.</h4>
			<div style="text-align:center; margin: 30px 0 25px 0;">
				<button class="btn btn-companies-action-1 btn-large">Inscribirme</button>
				<button class="btn btn-companies-action-2 btn-large">Probar Demo</button>
			</div>
		</div>
		<div style="margin-left:170px; margin-top:10px;">
			<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://elmundo.com.sv/la-nueva-manera-de-ahorrar-descubriendo-descuentos" target="_blank"><img src="/static/images/landing/index/elmundo.png"></a></div>
			<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://www.eleconomista.net/empresas/143152-lanzan-nueva-aplicacion-web-para-identificar-promociones-en-comercios-.html" target="_blank"><img src="/static/images/landing/index/economista.png"></a></div>
			<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://mediolleno.com.sv/noticias/nace-crupzi-una-plataforma-dedicada-a-los-descuentos" target="_blank"><img src="/static/images/landing/index/mediolleno.png"></a></div>
			<div style="clear:both;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	$(".companies-features").click(function(){
		var selected = $(".companies-features-active").attr("id");
		var newSelection = $(this).attr("id");
		if(selected!=newSelection){
			$(".companies-features-active").removeClass("companies-features-active");
			$(this).addClass("companies-features-active");
			switch(newSelection){
				case "features-branches":
					$("#features-img-src").attr("src","/static/images/landing/companies/features01.png");
					break;
				case "features-deals":
					$("#features-img-src").attr("src","/static/images/landing/companies/features02.png");
					break;
				case "features-stats":
					$("#features-img-src").attr("src","/static/images/landing/companies/features03.png");
					break;
			}
		}
	});

	$(".btn-companies-action-1").click(function(){
		window.open('http://www.crupzi.com/comercios/inscripcion/');
	});
	$(".btn-companies-action-2").click(function(){
		window.open('http://www.crupzi.com/comercios/demo/');
	});
	$(".btn-companies-action-3").click(function(){
		window.open('http://www.crupzi.com/comercios/login/');
	});

	var nav_container = $("#page-nav-container");
	var nav = $("#page-nav");
	nav_container.waypoint({
		handler: function(direction) {
			nav.toggleClass('sticky', direction=='down');
			if (direction == 'down')
	  			nav_container.css({ 'height':nav.outerHeight() });
			else
	  			nav_container.css({ 'height':'auto' });
		}
	});

	var sections = $('.nav-section');
	var navigation_links = $('.header-navbtn');
	sections.waypoint({
		handler: function(direction) {
	  		var active_section;
			active_section = $(this);
			if (direction === "up") active_section = active_section.prev();
			var active_link = $('div [data-href*="'+ active_section.attr("id") +'"]');//location.href='#perks-container';
			navigation_links.removeClass("header-navbtn-selected");
			active_link.addClass("header-navbtn-selected");
		},
		offset: '20%'
	});

	navigation_links.click( function(event) {
	  $.scrollTo(
	    $(this).attr("data-href"),
	    {
	      duration: 200,
	      offset: { 'left':0, 'top':-0.10*$(window).height() }
	    }
	  );
	});
});

</script>

{% endblock %}

{% block demo-bottom-connect %}

{% endblock %}
