{% extends "landing/landing-base.html" %}

{% block contact-css %}active{% endblock %}
{% block demo-title %}Contacto{% endblock %}
{% block demo-content %}
<div class='container'>
	<div class='sectionodd'>
		<div class='padding-large'>
			<div class='contact-box-simple'>
				<label class='cb-label' style='font-size:2.1em;'>Correo electr&oacute;nico</label>
				<label class='cb-mail'><a href="mailto:fundadores@crupzi.com">fundadores@crupzi.com</a></label>
			</div>
			<div class='contact-box-simple'>
				<label class='cb-label' style='font-size:2.1em;'>Twitter</label>
				<label class='cb-mail'><a href="http://www.twitter.com/crupzi">@crupzi</a></label>
			</div>
			
			<div class='contact-box-simple'>
				<label class='cb-label' style='font-size:2.1em;'>Departamento de socios</label>
				<label class='cb-mail'><a href="mailto:socios@crupzi.com">socios@crupzi.com</a></label>
			</div>
			<div class='contact-box-simple'>
				<label class='cb-label' style='font-size:2.1em;'>Consultas</label>
				<label class='cb-mail'><a href="mailto:info@crupzi.com">info@crupzi.com</a></label>
			</div>
		</div>
	</div>
	<div class='sectioneven'>
		<div class='blog-box'>
			<div class='floatleft' style='width:70px;'>
				<a href="http://blog.crupzi.com">
					<img src="/static/images/landing/botonblog.png">
				</a>
			</div>
			<div class='floatleft' style='width:675px; margin-left:1em;'>
				<label class='bb-label'>Visita nuestro blog</label>
				<label class='bb-description'>¿Quieres saber m&aacute;s sobre nosotros? Por lo general, escribimos en nuestro blog cualquier cosa que consideramos genial. Toma un par de minutos para visitarlo.</label>
			</div>
			<div class='floatright' style='margin-top:20px;'>
				<button class='btn btn-black-simple' onclick='window.location.href="http://blog.crupzi.com";'>Ver blog</button>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
</div>

{% endblock %}