{% extends "landing/landing-base.html" %}

{% block features-css %}active{% endblock %}
{% block demo-title %}Beneficios{% endblock %}
{% block demo-content %}

<div class='container'>
	<div class='sectionodd'>
		<h3>Comienza en menos de 3 minutos.</h3>
		<div class='padding-large'>
			<div class='floatleft padding-normal'>
				<div style='margin:25px 0 0 80px;'>
					<img src="/static/images/landing/piggy.png">
				</div>
			</div>
			<div class='floatright padding-normal' style='width:50%;'>
				<p>
					Ahorrar dinero no debería ser complicado ni debería tomar horas encontrar los descuentos disponibles en tus comercios favoritos; es por eso que desarrollamos una increíble y extensa base de datos que te permite encontrar descuentos disponibles, almacenarlos para fácil acceso y utilizarlos en restaurantes, bares, centros comerciales, y más. <br><br>Puedes comenzar a ahorrar en cuestión de minutos. <span class='bold'>¡Sí, es gratis!</span>
				</p>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>


	<div class='sectioneven'>
		<div class='padding-large'>
			<h3>Encuentra descuentos</h3>
			<div class='floatleft padding-normal' style='width:50%;'>
				<p>
					Nuestra increíble y extensa base de datos te permite encontrar los principales descuentos en los establecimientos de tu elección. <br><br>Realiza búsquedas por comercios, recursos, centros comerciales y sucursales. Nunca más te perderás un descuento.
				</p>
			</div>
			<div class='floatright padding-normal'>
				<div style='margin:10px 50px 0 0px;'>
					<img src="/static/images/landing/tag.png">
				</div>
			</div>
			<div style='clear:both;'></div>
			<div class='example-box'>
				<div class='floatleft' style='width: 80px;'>
					<img src="/static/images/landing/botonejemplo.png">
				</div>
				<div class='floatleft' style='width:600px;'>
					<label class='title'>B&uacute;squeda por Recursos</label>
					<p class='content'>Puedes realizar b&uacute;squedas de descuentos por determinada tarjeta de cr&eacute;dito, d&eacute;bito o cliente frecuente</p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
	</div>

	<div class='sectionodd padding-large' style='margin-top:30px;'>
		<h3>Increíble motor de búsqueda</h3>
		<h4>La organización detallada de los descuentos permite realizar las <br>búsquedas más específicas que puedas imaginar</h4>
		<div>
			<div class='example-content floatleft padding-normal' style='margin-top:30px;'>
				<label>Tu celebraci&oacute;n de cumplea&ntilde;os</label>
				<p>
				 Digamos, por ejemplo, que planeas tu celebración de cumpleaños y deseas conocer qué bares y restaurantes de un centro comercial tienen descuentos del 20% en bebidas y comida por presentar la tarjeta de crédito/d&eacute;bito de un banco determinado<br><br>¡Crupzi te permite encontrar todos los resultados relevantes a tu búsqueda en menos de 27 segundos!
				</p>
			</div>
			<div class='floatright padding-normal'>
				<div style='margin:0px 110px 0 0px;'>
					<img src="/static/images/landing/list.png">
				</div>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
	<div class='sectioneven'>
		<h3>Almacena tus descuentos favoritos</h3>
		<div class='padding-large'>
			<div class='floatleft padding-normal'>
				<div style='margin:0 0 0 80px;'>
					<img src="/static/images/landing/fav.png">
				</div>
			</div>
			<div cl
			<div class='floatright padding-normal' style='width:50%;'>
				<p>
					Almacena en tu perfil todos aquellos descuentos que quisieras utilizar en el futuro o recordar para una ocasión especial. <br><br>Nuestra plataforma te muestra todos los descuentos que consideres como favoritos agrupados por categoría o simplemente todos aquellos que apliquen para un día específico.
				</p>
			</div>
			<div style='clear:both;'></div>
			<div class='example-box'>
				<div class='floatleft' style='width: 80px;'>
					<img src="/static/images/landing/botonejemplo.png">
				</div>
				<div class='floatleft' style='width:600px;'>
					<label class='title'>Ver descuentos favoritos</label>
					<p class='content'>En tu perfil puedes guardar todos tus descuentos y revisar todos aquellos que se encuentren vigentes para el d&iacute;a viernes.</p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
	</div>
	<div class='sectionodd'>
		<h3>Comparte con tus amigos</h3>
		<div class='padding-large'>
			<div class='floatleft padding-normal' style='width:50%;'>
				<p>
					¿Cómo te coordinas con tus amigos para salir un sábado por la noche? Comparte con ellos los descuentos de bares, restaurantes, etc. y decidan cual es el mejor lugar que ofrece las mejores promociones. <br><br>
					¡S&iacute;, esta opci&oacute;n nos pareci&oacute; bastante genial a nosotros tambi&eacute;n!
				</p>
			</div>
			<div class='floatright padding-normal'>
				<div style='margin:10px 50px 0 0px;'>
					<img src="/static/images/landing/send.png">
				</div>
			</div>
			<div style='clear:both;'></div>
			<div class='example-box' style='margin-top:20px;'>
				<div class='floatleft' style='width: 80px;'>
					<img src="/static/images/landing/botonejemplo.png">
				</div>
				<div class='floatleft' style='width:600px;'>
					<label class='title'>Bot&oacute;n <span class='bold'>SEND</span>. Compartir y conversar con amigos en <span class='bold'>Facebook</span> </label>
					<p class='content'>Para cada descuento existe un &uacute;nico bot&oacute;n <span class='bold'>SEND</span> que te permite enviar un mensaje a los amigos que decidas a trav&eacute;s de Facebook para que puedas comentar el descuento seleccionado.</p>
				</div>
				<div style='clear:both;'></div>
			</div>
		</div>
	</div>
</div>


{% endblock %}