{% extends "landing/no-user-base.html" %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="/static/lib/css/index-style.css?time=1377842551">
<link rel="stylesheet" type="text/css" href="/static/lib/fancybox/jquery.fancybox-1.3.4.css">
<link rel="stylesheet" type="text/css" href="/static/lib/chosen/chosen.css">
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<meta property="og:image" content="http://www.crupzi.com/static/images/landing/ShareCrupziWebsite.png">
{% endblock %}
{% block content %}
<div class='container' style='background: url(/static/images/landing/companies/header-bg.png); height:470px;'>
	<div style='' class='alpha_body'>
		<div class='home-header'>
			<div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
			<div class='floatright'>
				<ul class="tabs nav nav-pills" id='ul-home'>
					<li class=""><a href="/inicio" data-target="tab">Inicio</a></li>
					<li><a href="{% url features %}" data-target="tab">Beneficios</a></li>
					<li><a href="{% url commerce %}" data-target="tab">Comercios</a></li>
					<li><a href="{% url us%}" data-target="tab">Nosotros</a></li>
					<li><a href="{% url contact%}" data-target="tab">Contacto</a></li>
					<li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
					<li><a href="{% url support %}" data-target="tab">Soporte</a></li>
				</ul>
	         </div><div style='clear:both;'></div>
         </div>
	</div>
	<div>
		<div style="margin:10px 0px 0 10px;">
			<div class="floatleft">
			<div class="fb-like" data-href="http://www.facebook.com/crupzi" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
			</div>
			<div style="margin-left:10px;" class="floatleft">
			<a href="https://twitter.com/crupzi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @crupzi</a>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style='margin:20px 0px 0 0px; text-align:center;'>
			<p class='p-title' style="font-size:42px;">Descubre y utiliza descuentos<br> cerca de t&iacute; ¡Gratis!</p>
		</div><div style='clear:both;'></div>
	</div>
	<div>
		<div align="center" style="margin-top:40px;">
			<button class="btn btn-facebook" style="margin:10px;">
				<span style="">Ingresa con Facebook</span>
				<img src="/static/images/landing/index/logo-fb.png" style="margin-left:5px;">
			</button>
			<button class="btn btn-twitter" style="margin:10px;">
				<span style="">Ingresa con Twitter</span>
				<img src="/static/images/landing/index/logo-twitter.png" style="margin-left:10px;">
			</button>
			<button class="btn btn-gplus" style="margin:10px;">
				<span style="">Ingresa con Gmail</span>
				<img src="/static/images/landing/index/logo-gmail.png" style="margin-left:15px;">
			</button>
		</div>
		<div align="center">
			<a href="#" data-toggle="popover" title data-content='{% include "landing/why-login.html" %}' style='font-size:1em;' data-original-title="&iquest;Por qu&eacute; pedimos esto?" data-placement='bottom'>&iquest;Por qu&eacute; pedimos esto?</a>
		</div><div style='clear:both;'></div>
	</div>
</div>
<div class="container" style="background:#d54d06; height:10px;"></div>
<div class="container" style="background: #F5F5F5; padding: 10px 0 20px 0; position:relative;">
	<div class="video-container" style="">
		<div class="floatleft" >
			<div style="padding:35px 0px 0 40px; text-align:center;">
				<p style="color:#d56a40; line-height:1; font-size:1.5em;">Necesitas Crupzi.com si: </p>
				<p style="color: #7d7d7d; line-height:0.5; font-weight:700; font-size:1.8em;">Planeas la cita perfecta</p>
			</div>
		</div>
		<div class="floatright">
			<div><a href="javascript:void(0);" id='video-crupzi'><img id='video-crupzi-img' src="/static/images/landing/index/VideoNormal.png"></a></div>
		</div><div style="clear:both;"></div>
	</div>
	<div style="margin-left:170px; margin-top:50px;">
		<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://elmundo.com.sv/la-nueva-manera-de-ahorrar-descubriendo-descuentos" target="_blank"><img src="/static/images/landing/index/elmundo.png"></a></div>
		<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://www.eleconomista.net/empresas/143152-lanzan-nueva-aplicacion-web-para-identificar-promociones-en-comercios-.html" target="_blank"><img src="/static/images/landing/index/economista.png"></a></div>
		<div class="floatleft" style="margin: 15px 25px 5px 25px;"><a href="http://mediolleno.com.sv/noticias/nace-crupzi-una-plataforma-dedicada-a-los-descuentos" target="_blank"><img src="/static/images/landing/index/mediolleno.png"></a></div>
		<div style="clear:both;"></div>
	</div>
</div>
<div class='container section2'>
	<div style='text-align:center;'>
		<div style='width:900px; margin: 25px 0 0 62px;'>
			<h1>&iquest;Qu&eacute; es Crupzi.com?</h1>
			<h2>Crupzi te permite encontrar descuentos disponibles, almacenarlos para f&aacute;cil acceso y utilizarlos en restaurantes, bares, centros comerciales y m&aacute;s. &iexcl;S&iacute;, es gratis!</h2>
		</div>
	</div>
</div>
<div class='container section3' style='height:445px;'>
	<div style='margin-left: 30px;'>
		<div class="floatleft" style="width:500px; margin-top:15px;">
			{% for item in deals %}
			<div class='index-deal-wrapper' style="{% if forloop.counter != 2 %}display:none;{% endif %}" id="deal-{{ forloop.counter }}">
				{% with item.categories|first as category %}
				<div class='item-deal-header' style="background-image: url(/static/images/categories/400_cat-layout-{{category.category.id}}.jpg); height:140px; margin-top:0;">
				{% endwith %}
					<div class='deal-index-header'>
						<h3>{{ item.deal.name }}</h3>
						<h4>{{ item.deal.company.name|upper }} -  {{ item.schedule }}</h4>
					</div>
				</div>
				<div class='deal-index-body'>
					<div style=''>
						<span class='bold'>{{ item.deal.description }}</span><br>
						{{ item.schedule }} <br>
						{% if item.end_date%}
							V&aacute;lida hasta la fecha: {{ item.end_date }}<br>
						{% endif %}
						<br>
						<div>
							{% for res in item.resources %}
								{% if forloop.first %}
									<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:<br></span>
										&bull; {{ res.resource.entity.name }} - {{ res.resource.name }} <br>
								{% else %}
										&bull;{{ res.resource.entity.name }} - {{ res.resource.name }}<br>
								{% endif%}
							{% endfor %}
						</div>
						<div>
							{% for branch in item.branches %}
								{% if forloop.first %} <span class='bold'>V&aacute;lida en las sucursales:<br></span>{% endif %}
								&bull;{{ branch.branch.name }}<br>
							{% endfor %}
						</div>
						<br>
						{% if item.deal.restrictions %}
							<span class='bold'>Restricciones</span><br>
							<span>{{ item.deal.restrictions }}</span>
						{% endif %}
					</div>
				</div>
				<div style='margin-left: 3px;'>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="floatleft">
			{% for item in deals %}
			<div class="deal-wrapper {% if forloop.counter = 2 %}deal-wrapper-active{% endif %}" id="dealcard-{{ forloop.counter }}">
			<div style="cursor: pointer;" onclick="javascript:changeIndexDeal({{ forloop.counter }})">
				<div class="deal-top-wrapper">
					<div class="deal-top-left">
						{% with item.categories|first as cat %}
						<img src="/static/images/categories/icons/{{ cat.category.id }}-icon.png">
						{% endwith %}
					</div>
					<div class="deal-top-center" class="" style="">
						<p class="deal-header-title bold"><a href="javascript:void(0);" onclick="javascript:changeIndexDeal({{ forloop.counter }})">{{ item.deal.name }}</a></p>
						<p class="deal-header-company bold"><a href="javascript:void(0);" onclick="javascript:changeIndexDeal({{ forloop.counter }})">{{ item.deal.company.name }}</a> - <span style="font-size:14px;">{{ item.schedule }} </span></p>
					</div>
					<div class="deal-top-right">
						<div class="container-logo">
							<img src="/static/images/companies/logos_56/56x56_{{item.deal.company.logo}}">
						</div>
					</div>
				</div>
				<div class="deal-bottom-wrapper">
					<p>{{ item.deal.description }}</p>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<div class='container section4'>
	<div style='text-align:center; position:relative;'>
		<h1>&iquest;C&oacute;mo funciona?</h1>
		<h2>Estos son los pasos para ahorrar dinero con Crupzi.com</h2>
		<div style="position:absolute; top:0; right:20px;">
			<div><a href="http://www.crupzi.com/tutoriales/" target='_blank'><img src="/static/images/landing/YoutubeIcon.png"></a></div>
			<div><a href="http://www.crupzi.com/tutoriales/" target='_blank' style="color:#454545; font-size:13px;">Tutoriales</a></div>
		</div>
	</div>
	<div style='margin-left:0px;'>
		<div class='info-features floatleft'>
			<div><img src="/static/images/landing/index/hiw-01.png"></div>
			<div>
				<h4 style="text-align:center;">1. Ingresa</h4>
				<p>Ingresa a Crupzi.com con tu cuenta de Facebook, Twitter o Gmail. Recuerda que no guardamos tus contrase&ntilde;as.</p>
			</div>
		</div>
		<div class='info-features floatleft'>
			<img src="/static/images/landing/index/hiw-02.png">
			<div>
				<h4 style="text-align:center;">2. Busca descuentos</h4>
				<p>Realiza b&uacute;squeda de descuentos filtrando por categor&iacute;a, centros comerciales, establecimientos, tarjetas de cr&eacute;dito requerida y m&aacute;s.</p>
			</div>
		</div>
		<div class='info-features floatleft'>
			<img src="/static/images/landing/index/hiw-03.png">
			<div>
				<h4 style="text-align:center;">3. Sin cupones</h4>
				<p>Para utilizar Crupzi.com no necesitas comprar cupones o imprimir alg&uacute;n comprobante. &Uacute;nicamente menciona el descuento en el comercio y listo.</p>
			</div>
		</div><div style='clear:both;'></div>
	</div>
	<div style="position:relative;">
		<div style="position:absolute; margin-top:-180px;">
			<img src="/static/images/landing/companies/arrow-r.png" style="margin-left: 250px;">
			<img src="/static/images/landing/companies/arrow-r.png" style="margin-left: 220px;">
		</div>
	</div>
</div>
<div class='container section2' style='margin-top: 20px;' id="div-testcrupzi">
	<div style='text-align:center;'>
		<h1>&iquest;Quieres probar Crupzi.com?</h1>
		<h2>Busca un descuento y descubre el contenido de Crupzi.com</h2>
	</div>
	<div style="position:relative;">
		<div style="position:absolute; top:-30px; right:0;">
			<div><p style="font-family: 'Cedarville Cursive', cursive; font-size:25px; color:#C9370F; text-align:center; line-height:0.7; font-weight:300;">Busca<br>descuentos<br>aqu&iacute;</p></div>
			<img src="/static/images/landing/index/arrow.png" style="margin-left:-25px;">
		</div>
		<div style='margin:2.3em 0 0.2em 100px;'>
  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/lupa.png"></div>
			<div class='floatleft'><h4 style='color:#333; font-weight:300;'><span style='font-size:1.5em; font-weight:700;'>B&uacute;squeda</span> <br>de descuentos</h4></div>
			<div style='clear:both;'></div>
		</div>
		<div style='margin-left:70px; width: 840px; padding: 1em 1em 0 1em;' class='container-gray'>
			<form id='form-search' action='' method='GET' target='_blank'>
				<div style='padding: 0px 50px 0px 50px;'>
					<input type='text' placeholder='Descripci&oacute;n' style='width:727px;' name='search-desc' id='search-desc' />
				</div>
				<div style='padding: 0px 50px 0px 50px;'>
					<div class='floatleft'>
						<select id='search-mall' name='search-mall' data-placeholder="Centro comercial" style='width: 360px;'>
							<option></option>
							{% for mall in malls%}
								<option value='{{mall.id}}'>{{mall.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='margin-left:20px;' class='floatleft'>
						<select id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style="width:360px;">
							<option></option>
							{% for company in companies%}
								<option value='{{company.id}}'>{{company.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='clear:both;'></div>
					<div style='margin-top:0.4em;' class='floatleft'>
						<select id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:360px;">
							<option></option>
							<option value='1'>Ropa y calzado</option>
							<option value='2'>Bares</option>
							<option value='3'>Restaurantes</option>
							<option value='4'>Caf&eacute;s</option>
							<option value='5'>Regalos</option>
							<option value='6'>Viajes</option>
							<option value='7'>Belleza y Salud</option>
							<option value='8'>Entretenimiento</option>
							<option value='9'>Otros</option>
						</select>
					</div>
					<div style='margin-top:0.4em; margin-left:20px;' class='floatleft'>
						<select id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:360px;">
							{% include "app/select-resources.html" %}
						</select>
					</div>
					<div style='clear:both;'></div>
				</div>
				<div style='padding: 0px 50px 0px 50px;'>
					<button class='btn btn-primary' style='width:740px; margin-top:0.4em;' onclick='return false;' id='btn-search'>Buscar descuentos</button>
				</div>
				<div style='padding: 10px 50px 0px 50px;'>
					O ingresa con <a href="{%  url socialauth_begin 'facebook' %}" style='margin:0 5px 0 5px;'><img src="/static/images/facebook.png"></a> <a href="{%  url socialauth_begin 'twitter' %}" style='margin-right:5px;'><img src="/static/images/twitter.png"></a> <a href="http://www.crupzi.com/login/google-oauth2/"><img src="/static/images/google.png"></a>
					<a href="#" data-toggle="popover" title data-content='{% include "landing/why-login.html" %}' style='font-size:0.8em; margin-left:20px; color:#333;' data-original-title="&iquest;Por qu&eacute; pedimos esto?" data-placement='bottom'>&iquest;Por qu&eacute; pedimos esto?</a>
				</div>
			</form>
		</div>
	</div>
</div>
<div class='container section5'>
	<div style='margin-left:50px;'>
		<div class='floatleft content'>
			<h3>Disponible para computadores y celulares</h3>
			<p>
				Crupzi se encuentra disponible para todas las plataformas por lo que puedes consultar los descuentos donde te encuentres. ¿Hemos mencionado que es gratis? <span class='bold'>¡S&iacute;, es gratis!</span>
			</p>
		</div>
		<div class='floatright image' style=''>
			<img src="/static/images/landing/devices02.png">
		</div><div style='clear:both;'></div>
	</div>
</div>

<div class='container section6'>
	<div style='text-align:center; width: 700px; margin-left: 162px;'>
		<h2>Empresas como socios</h2>
		<h3>Crupzi permite dar a conocer las promociones de cualquier empresa y llegar al mayor nivel de audiencia en b&uacute;squeda de descuentos</h3>
	</div>
	<div style='margin-left: 50px;'>
		<div class='floatleft' style='width:400px; margin-top:20px;'>
			<div>
				<div class="floatleft" style="width:40px; margin-top:18px;"><img src="/static/images/landing/index/business-icon-1.png"></div>
				<div class="floatleft" style="width:325px; margin-left:10px;">
					<h4>Beneficios</h4>
					<p>Ingresa de manera f&aacute;cil y r&aacute;pida los descuentos de tu empresa para una o todas las sucursales. Da a conocer tus campa&ntilde;as de descuentos a las personas interesadas en ellos.</p>
				</div>
			</div>
			<div>
				<div class="floatleft" style="width:40px; margin-top:18px;"><img src="/static/images/landing/index/business-icon-2.png"></div>
				<div class="floatleft" style="width:325px; margin-left:10px;">
					<h4>Medible</h4>
					<p>Hermosos gr&aacute;ficos e importantes anal&iacute;ticos que te permiten conocer a detalle el perfil y comportamiento de los usuarios interesados en tus descuentos.</p>
				</div>
			</div>
			<div>
				<div class="floatleft" style="width:40px; margin-top:18px;"><img src="/static/images/landing/index/business-icon-3.png"></div>
				<div class="floatleft" style="width:325px; margin-left:10px;">
					<h4>Conoc&eacute;nos</h4>
					<p>&iquest;Interesado en formar parte de nuestra comunidad? Descubre m&aacute;s de los beneficios que obtienes al formar parte de los comercios afiliados Crupzi. <a href="http://www.crupzi.com/comercios/" style="font-size:1em; color:#d56a40; font-weight:700;"> VER MAS BENEFICIOS &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="floatright">
			<img src="/static/images/landing/index/business.png">
		</div><div style='clear:both;'></div>
	</div>
</div>
<div class='container sectionsocial' align="center">
	<div class='social-box' >
		<div class='social-header'>Ingresa a Crupzi.com</div>
		<div align="center" style="margin-top:20px;">
			<button class="btn btn-facebook" style="margin:10px;">
				<span style="">Ingresa con Facebook</span>
				<img src="/static/images/landing/index/logo-fb.png" style="margin-left:5px;">
			</button>
			<button class="btn btn-twitter" style="margin:10px;">
				<span style="">Ingresa con Twitter</span>
				<img src="/static/images/landing/index/logo-twitter.png" style="margin-left:10px;">
			</button>
			<button class="btn btn-gplus" style="margin:10px;">
				<span style="">Ingresa con Gmail</span>
				<img src="/static/images/landing/index/logo-gmail.png" style="margin-left:15px;">
			</button>
		</div>
		<div style='text-align:center;'>
		<a href="#" data-toggle="popover" title data-content='{% include "landing/why-login.html" %}' style='font-size:0.8em; color:#333;' data-original-title="&iquest;Por qu&eacute; pedimos esto?" data-placement='bottom'>&iquest;Por qu&eacute; pedimos esto?</a>
		</div>
	</div>
</div>
<div class='container sectionfooter1'>
	<div>
		<div class='span2'>
		<label>Crupzi.com</label>
	      <ul>
	        <li><a href="{% url features %}" target='_blank'>Beneficios</a></li>
	        <li><a href="{% url commerce %}" target='_blank'>Comercios</a></li>
	        <li><a href="{% url us%}" target='_blank'>Nosotros</a></li>
	        <li><a href="/tutoriales" target='_blank'>Tutoriales</a></li>
	      </ul>
	    </div>
	    <div class='span2'>
	      <label>Comunidad</label>
	      <ul>
	        <li><a href="{% url contact %}" target='_blank'>Contacto</a></li>
	        <li><a href="{% url support %}" target='_blank'>Soporte</a></li>
	        <li><a href="mailto:info@crupzi.com">Feedback</a></li>
	        <li><a href="http://en.crupzi.com/kitDePrensa" target="_blank">Kit de Prensa</a></li>
	      </ul>
	    </div>
	    <div class='span2'>
	      <label>Social</label>
	      <ul>
	        <li><a href="http://www.facebook.com/crupzi" target='_blank'>Facebook</a></li>
	        <li><a href="http://www.twitter.com/crupzi" target='_blank'>Twitter</a></li>
	        <li><a href="http://blog.crupzi.com" target='_blank'>Blog</a></li>
	      </ul>
	    </div>
	    <div class='offset3 span3'>
	    	<div style='margin-bottom:10px;'>
	    		<img src="/static/images/app/corazon.png" class='floatleft'>
	    		<div class='floatleft crupzi-share'>
	    			Comparte tu amor por Crupzi con tus amigos:
	    		</div>
	    	</div>
	    	<div>
	    		<div style='margin:40px 0 0 40px;'>
			    	<div class='floatleft'>
		              <a href="#" target="_blank" class="btn-share" data-name="facebook"><img src="/static/images/footer-fb.png"></a>
		            </div>
			    	<div class='floatleft' style='margin-left:10px;'>
			    		<a href="#" target="_blank" class="btn-share" data-name="twitter"><img src="/static/images/footer-tw.png"></a>
			    	</div>
			    	<div style='clear:both;'></div>
	    		</div>
	    	</div>
	    </div>
    </div>
</div>
<div class='container sectionfooter2'>
	<div class='floatleft' style='width:200px; margin-left: 10px;'>
		<img src="/static/images/landing/logo.png">
	</div>
	<div class='floatleft' style='width:550px; margin: 5px 0 0 30px;'>
		<p>Las cosas son simples hasta que alguien las complica. Nuestra misi&oacute;n es crear cosas simples y geniales que a&uacute;n no existen pero creemos deber&iacute;an existir.</p>
	</div>
	<div style='clear:both;'></div>
</div>

<!-- <a id="mobile-invitation" href="#mobile-invitation-content" style="display:none;">This shows content of element who has id="data"</a>
<div style="display:none">
	<div id="mobile-invitation-content" style="background: url(/static/images/landing/mobileinvitation.jpg) no-repeat; width:700px; height:459px;">
		<div style="padding: 160px 0 30px 20px; width: 350px;">
			<p style="color: #fff; font-family: 'Open Sans', sans-serif; font-size: 27px; text-shadow: 1px 1px 1px #000; font-weight: 700; line-height: 1; text-align:center;">M&aacute;s de 500 descuentos <br> en tu bolsillo &iexcl;Gratis!</p>
		</div>
		<div id="errorsContainer" style="display:none;" class="span5">
            <div class="alert alert-error" style="">
                <span style="font-weight:bold;">&iexcl;Rayos! </span><span id="errorspan"></span>
            </div>
        </div><div style="clear:both;"></div>
        <div id="msgContainer" style="display:none;" class="span4">
            <p style="text-align:center; font-size:1.3em; color:#fff;"><span>&iexcl;Est&aacute;s en la lista!</span><br>
                Te enviaremos un correo electr&oacute;nico con instrucciones para utilizar Crupzi.com desde tu celular
            </p>
        </div>
		<div style="padding: 0px 0 0 20px;" id="invitationFormContainer">
			<p style="color: #fff; font-family: 'Open Sans', sans-serif; font-size: 16px; text-shadow: 1px 1px 1px #000; font-weight: 300; line-height: 1;">Ahora puedes utilizar Crupzi.com desde tu celular.<br>
				Ingresa tu correo electr&oacute;nico para recibir una invitaci&oacute;n.</p>
			<form class="invitation-form" id="invitation-form">
				<input type="hidden" name="pub" id="pub" value="invitaciones">
            	<input autocomplete="off" id="email" name="email" placeholder="Correo electr&oacute;nico" type="text" value="">
            	<a href="javascript:void(0);" class="btn btn-medium btn-orange" id='btn-sendrequest' style="font-size:1.1em;">Enviar</a>
            </form>
		</div>
	</div>
</div>
<div id='loader' class='ajax-loader'><div style='margin: 0 auto;'><img src="/static/images/load.gif"><p style='color: #BAB095;'>Espera...</p> </div></div> -->

<!-- <script type="text/javascript" src="/static/lib/js/waypoints.min.js"></script> -->
<script type="text/javascript">
var selectedDeal = 2, invitationClosed=false;

$(document).ready(function(){
	$("#video-crupzi").fancybox({
		'padding'		: 0,
		'autoScale'		: false,
		'transitionIn'	: 'elastic',
		'transitionOut'	: 'elastic',
		'width'			: 840,//1280,//840,
		'height'		: 480,//720, //480,
		//'href'			: 'http://vimeo.com/moogaloop.swf?clip_id=58863191&amp;fullscreen=1',
		'href'			: 'http://www.youtube.com/v/3mLffXe4e8g?version=3&vq=hd720&autoplay=1',
		'type'			: 'swf'
	});

	$('.btn-share').click(function(event) {
    var fbShare = "https://www.facebook.com/sharer/sharer.php?u=www.crupzi.com";
    var twitterShare = "https://twitter.com/intent/tweet?text=Crupzi%20te%20permite%20encontrar%20los%20mejores%20descuentos.&tw_p=tweetbutton&url=http%3A%2F%2Fwww.crupzi.com%2F&via=crupzi";
      var width  = 575,
          height = 400,
          left   = ($(window).width()  - width)  / 2,
          top    = ($(window).height() - height) / 2,
          url    = this.href,
          opts   = 'status=1' +
                   ',width='  + width  +
                   ',height=' + height +
                   ',top='    + top    +
                   ',left='   + left;
      window.open(($(this).attr("data-name")=="facebook"?fbShare:twitterShare), 'share window', opts);
      return false;
    });

	$('#video-crupzi-img').hover(function(){
		$(this).attr('src','/static/images/landing/index/Video.png');
	}, function(){
		$(this).attr('src','/static/images/landing/index/VideoNormal.png');
	});

	$('#search-company').chosen({allow_single_deselect: true});
	$('#search-category').chosen();
	$('#search-resource').chosen();
	$('#search-mall').chosen({allow_single_deselect: true});

	$('input','#form-search').keypress(function(evt){
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			$('#btn-search').click();
			return evt.preventDefault();
		}
  	});
	$('body').on('keydown', '.chzn-search input', function(evt) {
    	if (evt.which === 13 && $(this).closest('.chzn-container').find('.chzn-single-with-drop').length === 0) {
			$('#btn-search').click();
			return evt.preventDefault();
		}
  	});
  	$('body').on('keydown', '.search-field input', function(evt) {
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			$('#btn-search').click();
			return evt.preventDefault();
		}
  	});
	$.getScript("/static/lib/js/jquery.popover.close.js");

	/*$("#div-testcrupzi").waypoint(function(direction){
		if(direction=='down' && !invitationClosed)
			$("#mobile-invitation").click();
	});

	$("#mobile-invitation").fancybox({'padding': 0, 'width': 700, 'height': 459, onComplete: function(){invitationClosed=true;} });*/

});

$('#btn-search').click(function(){
	if(validateForm($('#form-search'))) location.href = "/inicio/?query=1&"+$('#form-search').serialize();
});

function validateForm(form){
	var filter = false;
	$(form).find(':input:not(.default)').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                if(jQuery.trim($(this).val())!='')
                	filter=true;
                break;
        }
    });
    return filter;
}

function changeIndexDeal(dealId){
	if(dealId != selectedDeal){
		$('#deal-'+selectedDeal).hide();
		$('#deal-'+dealId).show();
		$('#dealcard-'+selectedDeal).removeClass("deal-wrapper-active");
		$('#dealcard-'+dealId).addClass("deal-wrapper-active");
		selectedDeal = dealId;
	}
}

$(".btn-facebook").click(function(){ location.href = "{%  url socialauth_begin 'facebook' %}"; });
$(".btn-twitter").click(function(){ location.href = "{%  url socialauth_begin 'twitter' %}"; });
$(".btn-gplus").click(function(){ location.href = "http://www.crupzi.com/login/google-oauth2/"; });

function validateRequestForm(){
    $("#errorspan").html("");
    var errors="", emailFilter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(jQuery.trim($("#email").val())=="")
        errors="Debes ingresar tu dirección de correo."; 
    if(!emailFilter.test($("#email").val()))
        errors="Parece que el formato de la dirección de correo no es adecuado."; 
    if(jQuery.trim(errors)!=""){
        $("#errorspan").html(errors);
        $("#errorsContainer").show();
        setTimeout("$('#errorsContainer').hide('slow');", 4000);
        return false;
    }
    else
        return true;
}

/*$("#btn-sendrequest").click(function(){
    if(validateRequestForm()){
        jQuery.ajax({
            type: "POST",
            url: "/mobile/"+$("#pub").val()+"/solicitud/",
            data: 'email='+$("#email").val(),
            beforeSend: function(){
                $('button').attr('disabled',true);
                $('#loader').show();
            },
            success: function(json){
                $('#loader').hide();
                $('button').attr('disabled',false);
                var data = eval(json);
                if(data[0].error==true){
                    showErrors(data, "errorspan", false);
                    $("#errorsContainer").show();
                    setTimeout("$('#errorsContainer').hide('slow');", 5000);
                }
                else{
                    $("#errorsContainer, #invitationFormContainer").hide();
                    $("#msgContainer").show();
                    setTimeout("parent.$.fancybox.close();", 4000);
                    invitationClosed = true;
                }
            }
        });
    }
});*/

function showErrors(jsonData, container, li){
    if (jsonData[0].error == true){
        var html = '';
        var errors = jsonData[0].errors;
        for (key in errors){
            if(li)
                html+="<li>"+errors[key]+"</li>";
            else
                html+= errors[key]
           
        }
        $('#'+container).html(html);
    }
}
</script>
{% endblock %}
{% block scriptjs %}
<script type="text/javascript" src='/static/lib/fancybox/jquery.fancybox-1.3.4.js'></script>
<script type="text/javascript" src='/static/lib/chosen/chosen.jquery.min.js'></script>
{% endblock %}