{% extends "no-user-base.html" %}

{% block linkcss %}

<link rel="stylesheet" type="text/css" href="/static/lib/css/index-login.css">
{% endblock %}

{% block content %}

<div class='container' style='background: url(/static/images/landing/login-bg.png); height:318px;'>
	<div style='' class='alpha_body'>
		<div class='home-header'>
			<div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
			<div class='floatright'>
				<ul class="tabs nav nav-pills" id='ul-home'>
					<li class=""><a href="/" data-toggle="tab">Inicio</a></li>
					<li><a href="{% url features %}" data-toggle="tab">Beneficios</a></li>
					<li><a href="{% url commerce %}" data-toggle="tab">Comercios</a></li>
					<li><a href="{% url us%}" data-toggle="tab">Nosotros</a></li>
					<li><a href="{% url contact%}" data-toggle="tab">Contacto</a></li>
					<li><a href="http://blog.crupzi.com" data-toggle="tab" target='_blank'>Blog</a></li>
					<li><a href="{% url support %}" data-toggle="tab">Soporte</a></li>
				</ul>
	         </div>
	         <div style='clear:both;'></div>
         </div>

	</div>
	<div style='margin:60px 50px 0 80px; text-align:center;'>
		<p class='p-title'>Ahorra dinero encontrando, almacenando y utilizando los descuentos de restaurantes, bares, centros comerciales y m&aacute;s.</p>
	</div>
</div>
<div class='container sectionsocial'>
	<div style='text-align:center;font-size: 2.0em; margin-bottom:20px; margin-top:-30px;'>
		<p>&iquest;Quieres ver m&aacute;s descuentos?</p>
	</div>
	<div class='social-box'>
		<div class='social-header-login' style=''>Ingresa a Crupzi con :</div>
		<a href="{%  url socialauth_begin 'facebook' %}" class='floatleft social-box-item'>
			<div class='fb-color index-social-connect'>
				<img class="index-icon" src="/static/images/facebook.png"/>&nbsp;Cuenta Facebook
			</div>
		</a>
		<a href="{%  url socialauth_begin 'twitter' %}" class='floatleft social-box-item'>
			<div class='twitter-color index-social-connect'>
				<img class="index-icon" src="/static/images/twitter.png"/>&nbsp;Cuenta Twitter
			</div>
		</a>
		<a href="{%  url socialauth_begin 'google-oauth2' %}" class='floatleft social-box-item'>
			<div class='google-color index-social-connect'>
				<img class="index-icon" src="/static/images/google.png"/>&nbsp;Cuenta Google
			</div>
		</a>
		<div style='clear:both;'></div>
	</div>
</div>


<div class='container section3' style='height:460px; margin-top:-25px;'>
	<div style='margin-left: 30px;'>
		<ul id='deals-roundabout'>
		{% for item in deals %}
		<li>
		<div class='index-deal-wrapper floatleft'>
			{% with item.categories|first as category %}
			<div class='item-deal-header' style="background-image: url(/static/images/categories/400_cat-layout-{{category.category.id}}.jpg); height:140px; margin-top:0;">
			{% endwith %}
				<div class='deal-index-header'>
					<h3>{{ item.deal.name }}</h3>
					<h4>{{ item.deal.company.name|upper }} -  {{ item.schedule }}</h4>
				</div>
			</div>
			<div class='deal-index-body'>
				<div style=''>
					<span class='bold'>{{ item.deal.description }}</span><br>
					{{ item.schedule }} <br>
					{% if item.end_date%}
						V&aacute;lida hasta la fecha: {{ item.end_date }}
						<br>
					{% endif %}
					
					<br>
					<div>
						{% for res in item.resources %}
							{% if forloop.first %}
								<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:<br></span>
									&bull; {{ res.resource.entity.name }} - {{ res.resource.name }} <br>
							{% else %}
									&bull;{{ res.resource.entity.name }} - {{ res.resource.name }}<br>
							{% endif%}
							
						{% endfor %}
					</div>
					<div>
						{% for branch in item.branches %}
							{% if forloop.first %}
								<span class='bold'>V&aacute;lida en las sucursales:<br></span>
							{% endif %}
							&bull;{{ branch.branch.name }}<br>
						{% endfor %}
					</div>
					<br>
					{% if item.deal.restrictions %}
						<span class='bold'>Restricciones</span><br>
						<span>&bull;&nbsp;{{ item.deal.restrictions }}</span>
					{% endif %}

				</div>
			</div>
			<div style='margin-left: 3px;'>
				<!-- <img src="/static/images/landing/actions.jpg"> -->
			</div>
		</div>
		</li>
		{% endfor %}

		</ul>
	</div>
</div>

<div class='container section2'>
	<div style='text-align:center;'>
		<p class='p-subtitle-login'>
			 Crupzi te permite encontrar descuentos disponibles, almacenarlos<br>para f&aacute;cil acceso y utilizarlos en restaurantes, bares, centros<br> comerciales, y m&aacute;s. <span class='bold'>¡Sí, es gratis!</span>
		</p>
	</div>
</div>


<div class='container sectionfooter1'>
	<div>
		<div class='span2'>
		<label>Crupzi.com</label>
	      <ul>
	        <li><a href="{% url features %}" target='_blank'>Beneficios</a></li>
	        <li><a href="{% url commerce %}" target='_blank'>Comercios</a></li>
	        <li><a href="{% url us%}" target='_blank'>Nosotros</a></li>
	      </ul>
	    </div>
	    <div class='span2'>
	      <label>Comunidad</label>
	      <ul>
	        <li><a href="{% url contact %}" target='_blank'>Contacto</a></li>
	        <li><a href="{% url support %}" target='_blank'>Soporte</a></li>
	        <li><a href="mailto:info@crupzi.com">Feedback</a></li>
	      </ul>
	    </div>
	    <div class='span2'>
	      <label>Social</label>
	      <ul>
	        <li><a href="http://www.facebook.com/crupzi" target='_blank'>Facebook</a></li>
	        <li><a href="http://www.twitter.com/crupzi" target='_blank'>Twitter</a></li>
	        <li><a href="http://blog.crupzi.com" target='_blank'>Blog</a></li>
	      </ul>
	    </div>
	    <div class='offset3 span3'>
	    	<div style='margin-bottom:10px;'>
	    		<img src="/static/images/app/corazon.png" class='floatleft'>
	    		<div class='floatleft crupzi-share'>
	    			Comparte tu amor por Crupzi con tus amigos:
	    		</div>
	    	</div>
	    	<div>
	    		<div style='margin:40px 0 0 40px;'>
			    	<div class='floatleft'>
			    		<div class="fb-send" data-href="http://www.crupzi.com"></div>
			    	</div>
			    	<div class='floatleft' style='margin-left:10px;'>
			    		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/" data-via="crupzi" data-lang="en" data-text="Crupzi te permite encontrar los mejores descuentos." data-count='none'></a>
			    	</div>
			    	<div style='clear:both;'></div>
	    		</div>
	    	</div>
	    </div>
    </div>
</div>

<div class='container sectionfooter2'>
	<div class='floatleft' style='width:200px; margin-left: 10px;'>
		<img src="/static/images/landing/logo.png">
	</div>
	<div class='floatleft' style='width:550px; margin: 5px 0 0 30px;'>
		<p>
		Las cosas son simples hasta que alguien las complica. Nuestra misi&oacute;n es crear cosas simples y geniales que a&uacute;n no existen pero creemos deber&iacute;an existir.
		</p>
	</div>
	<div style='clear:both;'></div>
</div>

<script type="text/javascript">

$(document).ready(function(){
	$('#deals-roundabout').roundabout(
		{
			'minOpacity': 0.9
		});
});

</script>
{% endblock %}
