<!DOCTYPE html>
<html>
    <head>
        <title>Crupzi.com - Es hora de compartir</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css' />
        <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/lib/pubs/pubs.css" />
        <link rel="stylesheet" type="text/css" href="http://www.crupzi.com/static/lib/fancybox/jquery.fancybox-1.3.4.css">
        <link type="text/css" rel="stylesheet" media="only screen and (max-width: 600px)" href="/static/lib/pubs/mobile.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src='http://www.crupzi.com/static/lib/fancybox/jquery.fancybox-1.3.4.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <style type="text/css">
        /* (landscape) ----------- */
        @media only screen and (min-width : 604px) and (max-width: 1024px) and (orientation: landscape) {
            #header-title{margin-top: 25px !important; margin-bottom: 25px !important;}
            #formContainer p{text-shadow: 1px 1px 1px #000;}
        }
        /* (portrait) ----------- */
        @media only screen and (max-width : 603px) and (orientation: portrait) {
            .nav-pills li{padding: 0 0.1em 0 0.2em; font-size: 0.8em;}
            #header-logo{width: 120px; margin-top: 0.2em;}
            .home-header{padding-top: 1em; padding-bottom: 0;}
            #header-title{margin-top: 100px !important;}
            #formContainer p{text-shadow: 1px 1px 1px #000;}
        }
        </style>
    </head>
    <body>
        <div class='container-fluid' style="padding-left:0; padding-right:0;">
            <div style='' class='alpha_body'>
                <div class='home-header'>
                    <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png" id="header-logo"></a></div>
                    <div class='floatright'>
                        <ul class="tabs nav nav-pills" id='ul-home'>
                            <li><a href="{% url features %}" data-target="tab">Beneficios</a></li>
                            <li><a href="{% url commerce %}" data-target="tab">Comercios</a></li>
                            <li><a href="{% url us%}" data-target="tab">Nosotros</a></li>
                            <li><a href="{% url contact%}" data-target="tab">Contacto</a></li>
                            <li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
                            <li><a href="{% url support %}" data-target="tab">Soporte</a></li>
                        </ul>
                     </div><div style='clear:both;'></div>
                 </div>
            </div>
            <div>
                <div style='margin:150px 0px 50px 0px; text-align:center;' class="span8" id="header-title">
                    <h1 class='p-title' style="font-size:42px;">Descubre y utiliza descuentos<br> cerca de t&iacute; ¡Gratis!</h1>
                </div><div style='clear:both;'></div>
                <div class="row-fluid" style="padding-left:2em;">
                    {% if login_page %}
                    <div class="span5">
                        <p style="text-align:center;"><span style="font-size:2em;">&iexcl;Lo sentimos!</span><br>
                            Este enlace solamente es válido para dispositivos móviles.
                        </p>
                    </div>
                    {% else %}
                    <div id="errorsContainer" style="display:none;" class="span5">
                        <div class="alert alert-error" style="margin-left:2em;">
                            <span style="font-weight:bold;">&iexcl;Rayos! </span><span id="errorspan"></span>
                        </div>
                    </div><div style="clear:both;"></div>
                    <div id="msgContainer" style="display:none;" class="span4">
                        <p style="text-align:center;"><span style="font-size:2em;">&iexcl;Est&aacute;s en la lista!</span><br>
                            Te enviaremos un correo electr&oacute;nico con instrucciones para utilizar Crupzi.com desde tu celular
                        </p>
                    </div>
                    <div id="formContainer" class="span10">
                        <p style="">
                            Ahora puedes utilizar Crupzi.com desde tu celular.<br>
                            Ingresa tu correo electr&oacute;nico para recibir una invitaci&oacute;n.
                        </p>
                        <form class="invitation-form">
                            <input type="hidden" name="pub" id="pub" value="{{ pub_slug }}">
                            <input autocomplete="off" id="email" name="email" placeholder="Correo electr&oacute;nico" type="text" value="">
                            <a href="javascript:void(0);" class="btn btn-medium btn-orange" id='btn-send'>Enviar</a>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="footer">
            <div style="height:30px; text-align:right; margin-bottom:30px;">
                {% if not login_page and not gral_invitation %}
                <div  class="alpha_body-white floatright" style="width:300px; padding-right: 1em; color:#3b3b3b;">
                Invitaci&oacute;n gracias a
                {% if pub_slug == "economista" %}
                    <img src="/static/images/landing/eleconomista.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "mediolleno" %}
                    <img src="/static/images/landing/mediolleno.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "elmundo" %}
                    <img src="/static/images/landing/elmundo.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "ella" %}
                    <img src="/static/images/landing/ella.png" width="60px" style="margin-left:10px;">
                {% elif pub_slug == "eldiariodehoy" %}
                    <img src="/static/images/landing/eldiariodehoy.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "laprensagrafica" %}
                    <img src="/static/images/landing/laprensagrafica.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "communitiesdna" %}
                    <img src="/static/images/landing/communitiesdna.png" width="100px" style="margin-left:10px;">
                {% elif pub_slug == "punto105" %}
                    <img src="/static/images/landing/punto105.png" width="100px" style="margin-left:10px;">
                {% endif %}
                </div>
                <div style="clear:both;"></div>
                {% endif %}
            </div>
            <div style="height:20px; background:#D14E0F;"></div>
        </div>
        <script type="text/javascript">
            function validateForm(){
                $("#errorspan").html("");
                var errors="", emailFilter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if(jQuery.trim($("#email").val())=="")
                    errors="Debes ingresar tu dirección de correo."; 
                if(!emailFilter.test($("#email").val()))
                    errors="Parece que el formato de la dirección de correo no es adecuado."; 
                if(jQuery.trim(errors)!=""){
                    $("#errorspan").html(errors);
                    $("#errorsContainer").show();
                    setTimeout("$('#errorsContainer').hide('slow');", 4000);
                    return false;
                }
                else
                    return true;
            }

            $("#btn-send").click(function(){
                if(validateForm()){
                    jQuery.ajax({
                        type: "POST",
                        url: "/mobile/"+$("#pub").val()+"/solicitud/",
                        data: 'email='+$("#email").val(),
                        beforeSend: function(){
                            $('button').attr('disabled',true);
                            $('#loader').show();
                        },
                        success: function(json){
                            $('#loader').hide();
                            $('button').attr('disabled',false);
                            var data = eval(json);
                            if(data[0].error==true){
                                showErrors(data, "errorspan", false);
                                $("#errorsContainer").show();
                                setTimeout("$('#errorsContainer').hide('slow');", 5000);
                            }
                            else{
                                $("#errorsContainer, #formContainer").hide();
                                //$("#signUpContainer").show();
                                $("#msgContainer").show();
                                //setTimeout("$('#msgContainer').hide('slow');", 5000);
                            }
                        }
                    });
                }
            });

            function showErrors(jsonData, container, li){
                if (jsonData[0].error == true){
                    var html = '';
                    var errors = jsonData[0].errors;
                    for (key in errors){
                        if(li)
                            html+="<li>"+errors[key]+"</li>";
                        else
                            html+= errors[key]
                       
                    }
                    $('#'+container).html(html);
                }
            }
        </script>
        <div id='loader' class='ajax-loader'>
          <div style='margin: 0 auto;'>
              <img src="/static/images/load.gif">
              <p style='color: #BAB095;'>...</p>
          </div>
        </div>
    </body>
</html>