<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>Crupzi.com</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no">
<html>
    <head>
        <title>Crupzi.com - Es hora de compartir</title>
        <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/lib/pubs/pubsmobile.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="">
            <div id="header">
                <div style='height:62px; padding:5px; position:relative;' class='alpha_body'>
                    <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
                    <div style="clear:both;"></div>
                    <h1 class='p-title'>Descubre y utiliza descuentos<br> cerca de t&iacute; ¡Gratis!</h1>
                </div>
            </div>
            
            <div style="height:15px; background:#D14E0F; position:relative;">
                {% if not login_page and not gral_invitation %}
                <div style="height:30px; text-align:right; position:absolute; top: -70px; right:0;">
                    <div  class="alpha_body-white floatright" style="width:300px; padding: 1em 1em 1em 0; color:#3b3b3b;">
                    Invitaci&oacute;n gracias a
                    {% if pub_slug == "economista" %}
                        <img src="/static/images/landing/eleconomista.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "mediolleno" %}
                        <img src="/static/images/landing/mediolleno.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "elmundo" %}
                        <img src="/static/images/landing/elmundo.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "ella" %}
                        <img src="/static/images/landing/ella.png" width="60px" style="margin-left:10px;">
                    {% elif pub_slug == "eldiariodehoy" %}
                        <img src="/static/images/landing/eldiariodehoy.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "laprensagrafica" %}
                        <img src="/static/images/landing/laprensagrafica.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "communitiesdna" %}
                        <img src="/static/images/landing/communitiesdna.png" width="100px" style="margin-left:10px;">
                    {% elif pub_slug == "punto105" %}
                        <img src="/static/images/landing/punto105.png" width="100px" style="margin-left:10px;">
                    {% endif %}
                    </div>
                    <div style="clear:both;"></div>
                </div>
                {% endif %}
            </div>
            

            {% if login_page %}
                {% if not valid_user %}
                <div id="msgContainer" style="margin-top:10px;">
                    <p style="font-weight:bold;">Lo sentimos. <br>Tu invitación ha desaparecido. Revisa que el enlace sea igual al que se te envió por correo electrónico.</p>
                </div>
                {% else %}
                <div id="signUpContainer" style="{% if not login_page %}display:none;{% endif %} padding:0.5em; margin-bottom: 20px;">
                    <div align="center">
                        <button class="btn btn-facebook" style="">
                            <span style="">Ingresa con Facebook</span>
                            <img src="/static/images/landing/index/logo-fb.png" style="margin-left:5px;">
                        </button>
                        <button class="btn btn-twitter" style="margin-top:10px;">
                            <span style="">Ingresa con Twitter</span>
                            <img src="/static/images/landing/index/logo-twitter.png" style="margin-left:10px;">
                        </button>
                        <button class="btn btn-gplus" style="margin-top:10px;">
                            <span style="">Ingresa con Gmail</span>
                            <img src="/static/images/landing/index/logo-gmail.png" style="margin-left:15px;">
                        </button>
                    </div>
                </div>
                {% endif %}
            {% else %}
            
            <div id="msgContainer" style="margin-top:15px; display:none;">
                <p style="text-align:center;"><span style="font-size:2em;">&iexcl;Est&aacute;s en la lista!</span><br>
                    Te enviaremos un correo electr&oacute;nico con instrucciones para utilizar Crupzi.com desde tu celular.
                </p>
            </div>
            <div id="formContainer">
                <p style="">
                    <span style="">Ahora puedes utilizar Crupzi.com desde tu celular.</span><br><br>
                    Ingresa tu correo electr&oacute;nico <br> para recibir una invitaci&oacute;n.
                </p>
                <form class="invitation-form">
                    <input type="hidden" name="pub" id="pub" value="{{ pub_slug }}">
                    <input autocomplete="off" id="email" name="email" placeholder="Correo electr&oacute;nico" type="text" value="">
                    <a href="javascript:void(0);" class="btn btn-medium btn-orange" id='btn-send'>Enviar</a>
                </form>
            </div>
            <div id="errorsContainer" style="display:none; margin-top:-20px; padding:0.5em;">
                <div class="alert alert-error">
                    <span style="font-weight:bold;">&iexcl;Rayos! </span><span id="errorspan"></span>
                </div>
            </div>
            <div>
                <p><br><a href="/" style="color:#d14e0f; text-decoration:none;">Ver sitio web completo</a></p>
            </div>
            {% endif %}
        </div>
        <script type="text/javascript">
            function validateForm(){
                $("#errorspan").html("");
                var errors="", emailFilter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if(jQuery.trim($("#email").val())=="")
                    errors="Debes ingresar tu dirección de correo."; 
                if(!emailFilter.test($("#email").val()))
                    errors="Parece que debes el formato de la dirección de correo no es adecuado."; 
                if(jQuery.trim(errors)!=""){
                    $("#errorspan").html(errors);
                    $("#errorsContainer").show();
                    setTimeout("$('#errorsContainer').hide('slow');", 4000);
                    return false;
                }
                else
                    return true;
            }

            $("#btn-send").click(function(){
                if(validateForm()){
                    jQuery.ajax({
                        type: "POST",
                        url: "/mobile/"+$("#pub").val()+"/solicitud/",
                        data: 'email='+$("#email").val(),
                        beforeSend: function(){
                            $('button').attr('disabled',true);
                            $('#loader').show();
                        },
                        success: function(json){
                            $('#loader').hide();
                            $('button').attr('disabled',false);
                            var data = eval(json);
                            if(data[0].error==true){
                                showErrors(data, "errorspan", false);
                                $("#errorsContainer").show();
                                setTimeout("$('#errorsContainer').hide('slow');", 5000);
                            }
                            else{
                                $("#errorsContainer, #formContainer").hide();
                                $("#msgContainer").show();
                            }
                        }
                    });
                }
            });

            function showErrors(jsonData, container, li){
                if (jsonData[0].error == true){
                    var html = '';
                    var errors = jsonData[0].errors;
                    for (key in errors){
                        if(li)
                            html+="<li>"+errors[key]+"</li>";
                        else
                            html+= errors[key]
                       
                    }
                    $('#'+container).html(html);
                }
            }
            $(".btn-facebook").click(function(){ location.href = "{%  url socialauth_begin 'facebook' %}"; });
            $(".btn-twitter").click(function(){ location.href = "{%  url socialauth_begin 'twitter' %}"; });
            $(".btn-gplus").click(function(){ location.href = "http://www.crupzi.com/login/google-oauth2/"; });
        </script>
        <div id='loader' class='ajax-loader'>
          <div style='margin: 0 auto;'>
              <img src="/static/images/load.gif">
              <p style='color: #BAB095;'>...</p>
          </div>
        </div>
    </body>
</html>