<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>Crupzi.com</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no">
<html>
    <head>
        <title>Crupzi.com - Es hora de compartir</title>
        <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/lib/pubs/pubsmobile.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-fluid" style="">
            <div id="header">
                <div style='height:62px; padding:5px; position:relative;' class="alpha_body">
                    <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
                    <div style="clear:both;"></div>
                    <h1 class='p-title'>Descubre y utiliza descuentos<br> cerca de t&iacute; ¡Gratis!</h1>
                    <div>
                        {% if not valid_user %}
                        <div id="msgContainer" style="margin-top:10px; padding:1em;" class="alpha_body">
                            <p style="font-weight:bold; color:#fff;">Lo sentimos. <br>Tu invitación ha desaparecido. Revisa que el enlace sea igual al que se te envió por correo electrónico.</p>
                        </div>
                        {% else %}
                        <div id="signUpContainer" style="padding:1.5em; margin-bottom: 20px;" class="alpha_body">
                            {% if activation %}
                            <p style="font-weight:bold; color:#fff;">&iexcl;Tu invitaci&oacute;n ha sido activada!</p>
                            {% endif %}
                            <div align="center">
                                <button class="btn btn-facebook" style="">
                                    <span style="">Ingresa con Facebook</span>
                                    <img src="/static/images/landing/index/logo-fb.png" style="margin-left:5px;">
                                </button>
                                <button class="btn btn-twitter" style="margin-top:10px;">
                                    <span style="">Ingresa con Twitter</span>
                                    <img src="/static/images/landing/index/logo-twitter.png" style="margin-left:10px;">
                                </button>
                                <button class="btn btn-gplus" style="margin-top:10px;">
                                    <span style="">Ingresa con Gmail</span>
                                    <img src="/static/images/landing/index/logo-gmail.png" style="margin-left:15px;">
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div style="height:15px; background:#D14E0F; position:relative;"></div>
        </div>
        <script type="text/javascript">
            $(".btn-facebook").click(function(){ location.href = "{%  url socialauth_begin 'facebook' %}"; });
            $(".btn-twitter").click(function(){ location.href = "{%  url socialauth_begin 'twitter' %}"; });
            $(".btn-gplus").click(function(){ location.href = "http://www.crupzi.com/login/google-oauth2/"; });
        </script>
    </body>
</html>