<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">

<head>
	<title>{% block title %} Crupzi.com {% endblock %}</title>
	<link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/lib/css/bootstrap-replace.css" rel="stylesheet">
	<link href="/static/lib/css/base.css" rel="stylesheet">
	<!-- <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>	
	{% block linkcss %}{% endblock %}
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
	<script type="text/javascript" src='/static/lib/js/jquery-1.7.1.min.js'></script> 
	<script type="text/javascript" src='/static/lib/bootstrap/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/static/lib/js/jquery.roundabout.min.js'></script>
	{% block scriptjs %}{% endblock %}
	<meta property="og:image" content="http://www.crupzi.com/static/images/logo_crupzi.png"/>
	<meta property="og:url" content="http://www.crupzi.com/"> 
	<meta property="og:title" content="Crupzi.com"> 
	<meta property="og:description" content="Crupzi te permite encontrar descuentos disponibles, almacenarlos para fácil acceso y utilizarlos en restaurantes, bares, centros comerciales, y más. ¡Sí, es gratis!">
	<meta property="og:type" content="website"/>
	<meta property="fb:app_id" content="351082044978229"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35442362-1']);
  _gaq.push(['_setCampSourceKey', 'utm_source']);
  _gaq.push(['_setCampMediumKey', 'utm_medium']);
  _gaq.push(['_setCampContentKey', 'utm_content']);
  _gaq.push(['_setCampTermKey', 'utm_keyword']);
  _gaq.push(['_setCampNameKey', 'utm_campaign']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>
	{% block content %}

	{% endblock %}
	<!-- Twitter Script -->
  	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  	<!-- End Twitter Script -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=351082044978229";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>

</html>