{% extends "landing/landing-base.html" %}

{% block support-css %}active{% endblock %}
{% block demo-title %}Soporte{% endblock %}
{% block demo-content %}

<style type="text/css">

.sectionodd, .sectioneven{
	padding: 1.5em 2em 1.5em 2em;
}

</style>
<link rel="stylesheet" type="text/css" href="/static/lib/css/jquery.faq.css">

<div class='container'>
	<h3 style='margin-top:30px;'>Preguntas frecuentes</h3>


	<div style='margin:0 0 50px 0;'>
		<ol class="faq-list" style='margin:0;'>
  			<li class='sectionodd' style='margin-top: -10px;'>
        		<h4 id="faq-question-1">¿Tengo que pagar para utilizar Crupzi.com?</h4>
        		<p>Crupzi.com es totalmente gratis. Nuestra misi&oacute;n es que las personas en general ahorren dinero conociendo la gran cantidad de descuentos que tienen a su disposici&oacute;n, recordarlos en el momento oportuno y compartirlos con familiares y amigos. &iexcl;No podemos ponerle precio a eso!</p>
      		</li>
      		<li class='sectioneven'>
        		<h4 id="faq-question-2">¿Cómo me registro a Crupzi?</h4>
        		<p>Tienes que poseer una cuenta con <a href="http://www.facebook.com" class='underline'>Facebook</a>, <a href="http://www.twitter.com" class='underline'>Twitter</a> o <a href="http://www.google.com" class='underline'>Google</a> para poder registrarte. El proceso toma aproximadamente 12.5 segundos y no tienes que crear una cuenta nueva. A todos nos molesta crear un usuario nuevo y una contraseña nueva para cada servicio que utilizamos por Internet.</p>
      		</li>
      		<li class='sectionodd'>
        		<h4 id="faq-question-3">¿Al utilizar Facebook o Twitter para registrarme, Crupzi guarda las contraseñas de estos sitios?</h4>
        		<p>No. Crupzi nunca guarda tus contraseñas. Cuando te registras, todas tus credenciales viajan directamente al sitio de Facebook, Twitter o Google para la verificación del usuario y autenticación.</p>
      		</li>
      		<li class='sectioneven'>
        		<h4 id="faq-question-4">¿Tengo que imprimir los descuentos que me gustan para presentarlos en algún lugar?</h4>
        		<p>No. Únicamente menciona el descuento en el comercio seleccionado y listo. Si, es así de fácil.</p>
      		</li>
      		<li class='sectionodd'>
        		<h4 id="faq-question-5">¿Están seguros de que no tengo que imprimir los descuentos para presentarlos en algún lugar?</h4>
        		<p>S&iacute;, los descuentos son propios de cada comercio y no dependen de terceros. Crupzi.com se encarga de agruparlos todos y presentártelos ordenadamente para que puedas consultarlos f&aacute;cilmente. </p>
      		</li>
      		<li class='sectioneven'>
        		<h4 id="faq-question-6">En otros sitios de Internet venden cupones. ¿Crupzi.com vende cupones también?</h4>
        		<p>No. Todos los descuentos de crupzi.com son gratis. Comprar cupones es genial. Tener "cupones" gratis es aún más genial.</p>
      		</li>
      		<li class='sectionodd'>
        		<h4 id="faq-question-7">¿Cómo puedo almacenar los descuentos que me gustan?</h4>
        		<p>En todos los descuentos incluidos en Crupzi aparecerá el botón “Guardar”, este se encarga de almacenar dicho descuento en tu perfil. Para visitar tus descuentos almacenados solo tienes que hacer clic en el botón de “Mis descuentos” en la parte superior de la pantalla.</p>
      		</li>
      		<li class='sectioneven'>
        		<h4 id="faq-question-8">¿Qué puedo hacer para ver las promociones que aplican para el día de hoy?</h4>
        		<p>En la pantalla de Inicio tienes que hacer clic sobre la pestaña “HOY” en la parte superior para visualizar los descuentos que aplican en el día que visites nuestro sitio. Este filtro también ha sido incorporado en tus descuentos almacenados.</p>
      		</li>
      		<li class='sectionodd'>
        		<h4 id="faq-question-9">¿Cómo puedo reportar un error, mencionar alguna duda o sugerencia?</h4>
        		<p>Puedes escribir a nuestro correo de Sugerencias e información: <a href="mailto:info@crupzi.com">info@crupzi.com</a> .</p>
      		</li>
      		<li class='sectioneven'>
        		<h4 id="faq-question-10">Conozco a alguien con un comercio que quiere publicar sus descuentos en crupzi.com ¿Qu&eacute; puedo hacer?</h4>
        		<p>&iexcl;Excelente! Lo único que tienes que hacer es decirle que nos escriba a <a href="mailto:socios@crupzi.com">socios@crupzi.com</a> y nosotros le ayudamos. A ti te incluiremos en nuestra lista de “Las personas m&aacute;s geniales de la vida”.</p>
      		</li>
      		<li class='sectionodd'>
        		<h4 id="faq-question-10">¿Cómo puedo escribirles a los fundadores para saludarlos y decirles lo genial que es Crupzi?</h4>
        		<p>Puedes escribir a <a href="mailto:info@crupzi.com">fundadores@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos.</p>
      		</li>
 		</ol>
	</div>

	<div style='clear:both;'></div>
</div>

<script type="text/javascript" src="/static/lib/js/jquery.faq.js"></script>

{% endblock %}