{% extends "landing/landing-base.html" %}

{% block us-css %}active{% endblock %}
{% block demo-title %}Nosotros{% endblock %}/b
{% block demo-content %}
<div class='container'>
	<div class='sectionodd' style='margin-top:20px;'>
		<div class='padding-large'>
		<h3 style='width:75%; text-align:left;'>Las cosas son simples hasta que alguien las complica. Nuestra misión es crear cosas simples y geniales que aún no existen pero que creemos que deberían existir.</h3>
		</div>
	</div>
</div>

<div class='sectiondark' style=''>
	<div style='margin: 0 auto; width:1024px; padding-top:2.5em' style=''>
		<p style='margin:0 20px 15px 20px;'>
			Queremos que las personas en general ahorren dinero conociendo la gran cantidad de descuentos que tienen a su disposición, recordarlos en el momento oportuno y compartirlos con familiares y amigos.<br><br>Realizamos esto a partir de una organización  profunda y detallada de los descuentos existentes en los distintos comercios de la región, permitiendo al usuario la búsqueda de estos a partir de categorías, centros comerciales, porcentaje de descuento, descripciones y más.
		</p>
	</div>
</div>
<div class='container'>
	<div class='sectionodd' style='margin-top:30px;'>
		<div class='padding-large'>
		<h3 style='width:75%; text-align:left;'>Conoce al equipo</h3>
		<div>
			<div class='floatleft'>
				<a href="http://www.twitter.com/oscaroarevalo"><img src="/static/images/landing/ABW.png"></a>
				<div style='text-align:center; margin-top:20px;'>
					<label class='bb-label'><a href="http://www.twitter.com/oscaroarevalo" style='color:#333; font-size:1em;'>Óscar O. Arévalo</a></label>
					<label class='bb-description'>Co-Fundador</label>
				</div>
			</div>
			<div class='floatleft' style='margin-left:75px;'>
				<a href="http://www.twitter.com/jdzarate86"><img src="/static/images/landing/JDBW.png"></a>
				<div style='text-align:center; margin-top:20px;'>
					<label class='bb-label'><a href="http://www.twitter.com/jdzaratem" style='color:#333; font-size:1em;'>José Daniel Zárate</a></label>
					<label class='bb-description'>Co-Fundador</label>
				</div>
			</div>
			<div style='clear:both;'></div>
		</div>
		</div>
	</div>
	<div class='sectioneven'>
		<div class='blog-box'>
			<div class='floatleft' style='width:70px;'>
				<a href="http://blog.crupzi.com">
					<img src="/static/images/landing/botonblog.png">
				</a>
			</div>
			<div class='floatleft' style='width:675px; margin-left:1em;'>
				<label class='bb-label'>Visita nuestro blog</label>
				<label class='bb-description'>¿Quieres saber m&aacute;s sobre nosotros? Por lo general, escribimos en nuestro blog cualquier cosa que consideramos genial. Toma un par de minutos para visitarlo.</label>
			</div>
			<div class='floatright' style='margin-top:20px;'>
				<button class='btn btn-black-simple' onclick='window.location.href="http://blog.crupzi.com";'>Ver blog</button>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
</div>


{% endblock %}