{% extends 'mobile/app/mobile-base.html' %}
{% block main-page %}
<div data-role="page" class="jqm-demos" id="page-top" data-dom-cache="false">
	{% include "mobile/app/panel-menu-left.html" %}
	<div data-role="header" class="jqm-header" data-quicklinks="true" data-theme="a" style="margin-bottom:-1px;">
		{% include "mobile/app/app-header.html" %} 	
		<!-- <div data-role="navbar" >
		    <ul>
		        <li><a href="#" class="ui-btn-active" onclick="javascript:changeTab(1);" id="ref-all">Todos</a></li>
		        <li><a href="#" class="" onclick="javascript:changeTab(2);" id="ref-today">Hoy</a></li>
		    </ul>
		</div> -->

	</div>
	<!-- BODY -->
	<div data-role="content"  class="container-search" style="display:none;" id="div-search-form">
		{% include "mobile/app/deals/deal-search-form.html" %}
	</div>
	<div data-role="content" id="content-top">
		<div class="company-info-wrapper company-subscription" style="margin-bottom:15px; margin-top:-1em; margin-left:-1em; margin-right:-1em; padding-top:0.5em; padding-bottom:0.5em;" data-companyid="{{ set_company }}">
			<div class="circular-80" style="background: url(/static/images/companies/logos_56/56x56_{{company.logo}}) no-repeat; background-size:80px 80px;"></div>
			<p class="title-text">{{ company.name }}</p>
			{% if not not_user %}
				{% if subscription %}
					<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ set_company }});" data-rel="" data-role="button" data-theme="d" data-inline="true" id="" data-mini="true" data-name="following"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a href="javascript:void(0);" onclick="javascript:subscribe({{ set_company }});" data-rel="" data-role="button" data-theme="c" data-inline="true" id="" data-mini="true" style="display:none;" data-name="subscribe"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% else %}
					<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ set_company }});" data-rel="" data-role="button" data-theme="d" data-inline="true" id="" data-mini="true" style="display:none;" data-name="following"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a href="javascript:void(0);" onclick="javascript:subscribe({{ set_company }});" data-rel="" data-role="button" data-theme="c" data-inline="true" id="" data-mini="true" data-name="subscribe"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% endif %}
			{% endif %}
		</div>
		<div style="clear:both;"></div>
		<div>
			<div id='dealscontainer' data-role="none">
				{% include "mobile/app/deals/deal-card.html" %}
			</div>
		</div>
	</div>
	<!-- END BODY -->
</div>
{% endblock %}

{% block custom-js %}
<script type="text/javascript">

var selectedTab=1, selectedDeal, selectedDealHeader;

function getData(category, tab, page, append){
	if(!page) page = 1;
	if(!category) category = selectedCategory;
	if(!tab) tab = selectedTab;
	//if(tab=='4' || tab==4) return; //Tab de busqueda.
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/"+category+"/"+tab+"/",
  		data: 'sel_country=1&ismobile=1&page='+page,
		beforeSend: function(){
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(html){
	  		$.mobile.loading( 'hide' );
	  		if(html){
	  			$('#dealscontainer-'+tab+'_'+category+'').append(html);
	  			$('[id^="btnnext-"]').hide();
	  			if($('.deal-wrapper','#dealscontainer-'+tab+'_'+category+'').last().attr('next-page'))
	  				$('#btnnext-'+tab+'_'+category+'').show();
  			 	loadedCategory[category] = true;
	  			if(!loadedData[category]){
	  				loadedData[category]=new Array();
	  			}
  				loadedData[category][tab-1]=true;
  				$('[id^="dealscontainer-"]').hide();
				$('#dealscontainer-'+tab+'_'+category).show();
				//$('#page-deal').trigger("create");
	  		}
	  	}
	});
}

function changeTab(tabNumber){
	selectedTab = tabNumber;
	switch(selectedTab){
		case 1:
			$(".deal-wrapper").show();
			break;
		case 2:
			$(".deal-wrapper").hide();
			$(".deal-wrapper[data-today='today']").show();
			break;
	}
}

$(document).delegate('[name^="deal-"]', 'click', function() {
	selectedDeal = $(this).attr('name').match(/[\d]+$/);
	selectedDealHeader = $(this).attr('deal-name');
	$.mobile.changePage($("#page-deal"), { transition: "fade" });
});


$(document).live( 'pagechange',function(event, data){
	if(data.toPage.attr('id')=='page-deal'){
		$('#page-deal-header').html(selectedDealHeader);
		$('#page-deal-content').html('');
		$.mobile.loading( 'show' );
		$('#page-deal-content').load("/deals/get/code/"+selectedDeal+"/?ismobile=1", function(){$.mobile.loading( 'hide' );});
	}
	else{
		switch(selectedTab){
			case 1:
				$("#ref-all").addClass("ui-btn-active"); break;
			case 2:
				$("#ref-today").addClass("ui-btn-active"); break;
		}
	}
});

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('.btn').attr('disabled',true);
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(json){
	  		$('.btn').attr('disabled',false);
	  		$.mobile.loading( 'hide' );
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}
</script>
{% endblock %}