<style type="text/css">
div, p, a, li, td, span { -webkit-text-size-adjust:none; }
</style>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span>
<div style="padding:20px 50px 0 50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	<table width="700" border="0" style="font-size:13px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
		<th style="text-align:left; background:#f7f7f7;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></th>
		<tr>
		<td style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
			<!-- Comunicado-->
			Hey [FirstName,fallback=], <br><br>
			Estamos muy emocionados por el lanzamiento oficial de la versi&oacute;n 1.0 de Crupzi.com el próximo martes 12 de marzo. Hemos aprendido mucho desde el lanzamiento de la versión beta en octubre del año pasado y todo gracias al apoyo de nuestros usuarios.<br><br>
			No podríamos estar más felices con los reportajes de prensa recibidos hasta el momento:
			<ul>
				<li>El Economista - La Prensa Gráfica: <a href="http://en.crupzi.com/ElEconomista" style="color:#e63721; text-decoration:none;">http://en.crupzi.com/ElEconomista</a></li>
				<li>Diario El Mundo: <a href="http://en.crupzi.com/DiarioElMundo" style="color:#e63721; text-decoration:none;">http://en.crupzi.com/DiarioElMundo</a></li>
				<li>Medio Lleno: <a href="http://en.crupzi.com/Mediolleno" style="color:#e63721; text-decoration:none;">http://en.crupzi.com/Mediolleno</a></li>
			</ul>
			Apreciaríamos enormemente si pudieras leer estas publicaciones, las compartas en Facebook/Twitter y las guardes en tu corazón.<br><br>Muchísimas gracias por todo tu apoyo durante todo este proceso. Mucho m&aacute;s de Crupzi.com en camino.<br><br>
			Cheers<br><br>
			<i>El Equipo Crupzi</i>
			<!-- Fin de Comunicado-->
		</td>
		</tr>
	</table>
	<table width="700" border="0" style="margin-top:15px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
		<tr>
			<td style="text-align:center; font-size:13px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300;">
				Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
			</td>
		</tr>
		<tr style="background:#f7f7f7;">
			<td valign='' style="height:50px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
					<a style="margin-left:125px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> 
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a>
					<a style="margin-left:15px; color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a>
					<a style="margin-left:20px;" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35px"></a>
					<a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35px"></a>
					<a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35px;"></a>
			</td>
		</tr>
	</table>
</div>