<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style><span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Hace varios d&iacute;as te registraste en <a href="http://www.crupzi.com" style="color:#000000 !important; text-decoration:none;">crupzi.com</a> y haz comenzado a formar parte de nuestra comunidad de personas geniales. Como ya lo sabes, Crupzi te permite encontrar descuentos disponibles, almacenarlos para f&aacute;cil acceso y utilizarlos en restaurantes, bares, centros comerciales de forma gratuita.<br>
<br>
Si necesitas un poco de inspiraci&oacute;n para buscar descuentos, intenta hacer clic en las siguientes sugerencias:
<ul>
	<li><a href="http://en.crupzi.com/16Ic1gR" style="color: #000000 !important; text-decoration:none;">Descuentos en Centro Comercial La Gran V&iacute;a: </a><a href="http://en.crupzi.com/16Ic1gR" style="color: #e63721; text-decoration:none;">http://en.crupzi.com/16Ic1gR</a></li>
	<li><a href="http://en.crupzi.com/147bqXB" style="color: #000000 !important; text-decoration:none;">Descuentos en tiendas de ropa y calzado: </a><a href="http://en.crupzi.com/147bqXB" style="color: #e63721; text-decoration:none;">http://en.crupzi.com/147bqXB</a></li>
	<li><a href="http://en.crupzi.com/17nU2g8" style="color: #000000 !important; text-decoration:none;">Descuentos al utilizar las tarjetas del Banco Agr&iacute;cola: </a><a href="http://en.crupzi.com/17nU2g8" style="color: #e63721; text-decoration:none;">http://en.crupzi.com/17nU2g8</a></li>
	<li><a href="http://en.crupzi.com/17nU8o3" style="color:#000000 !important; text-decoration:none;">Y nuestro favorito: Descuentos en bares: </a><a href="http://en.crupzi.com/17nU8o3" style="color: #e63721; text-decoration:none;">http://en.crupzi.com/17nU8o3</a></li>
</ul> Esperamos que sigas amando Crupzi.com tanto como nosotros y recuerda que puedes buscarnos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>, <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a> y en tus sue&ntilde;os.<br>
<br>
<i>El Equipo Crupzi</i><br>
</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div>