<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style><span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Hemos recorrido un gran camino desde el lanzamiento de Crupzi y nuestra misi&oacute;n de ahora en adelante es lograr que m&aacute;s personas puedan ahorrar dinero haciendo uso de nuestra aplicaci&oacute;n; es por esto que nos gustar&iacute;a nos ayudaras a compartir lo genial que es <a href="http://www.crupzi.com" style="color:#000000 !important; text-decoration:none;">crupzi.com</a>. Te parece que Crupzi es genial, &iquest;verdad? Ok.<br>
<br>
Hemos creado una p&aacute;gina especial para facilitarte la tarea de compartir Crupzi.com con todos tus amigos, familiares, compa&ntilde;eros de trabajo y dem&aacute;s personas importantes en tu vida. Haz clic en el enorme bot&oacute;n color naranja. Te tomar&aacute; 10 segundos y nos ayudar&iacute;as enormemente.<br><br><br>

<a href="http://www.crupzi.com/compartir/" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;">Compartir Crupzi.com</div>
</a><br><br>
&iquest;No puedes ver el enorme bot&oacute;n naranja? No hay problema. Puedes hacer clic en el siguiente enlace: 
<a href="http://www.crupzi.com/compartir/" style="color:#e63721; text-decoration:none;">www.crupzi.com/compartir/</a><br><br>
Tu genialidad no tiene l&iacute;mites. &iexcl;&iexcl;Muchas Gracias!! Esperamos que sigas amando <a href="http://www.crupzi.com" style="color:#000000 !important; text-decoration:none;">crupzi.com</a> tanto como nosotros. Mucho m&aacute;s en camino.
<br><br>
<i>El Equipo Crupzi</i><br><br>
Ps. Ser&iacute;a lo m&aacute;s genial en el mundo que despu&eacute;s de hacer clic en el enlace de arriba, pudieras reenviar este correo a varios de tus amigos. <a href="http://www.crupzi.com/compartir/" style="color:#e63721; text-decoration:none;">www.crupzi.com/compartir/</a>
</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div>