<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style>

<div style="color:#727272;">
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> &iquest;Este correo se ve extra&ntilde;o?, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px; margin-bottom:5px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700; font-size:13px; padding:10px 0 0 0;">8 de abril de 2013</span>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: <br>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">10% de descuento en gasolina</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">Banco Prom&eacute;rica</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida en la fecha: 9 de abril de 2013<br>Aplica en todas las gasolinera del pa&iacute;s
	</a><br>
	<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">40% de descuento en la parrilla charrua en abril</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">Banco Prom&eacute;rica</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola
	</a><br>
	<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">20% de descuento</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">Roberto Cuadra</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola
	</a><br>
	<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">10% de descuento</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">Mister Donut</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola
	</a><br>
	<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Rebaja St Jacks</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">St Jacks</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola
	</a><br>
	<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<center>
<a href="http://www.crupzi.com" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 10px 0 15px 0;">Ver m&aacute;s descuentos</div>
</a>
</center>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Nominacion</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">La Universidad</span> - v&aacute;lida los d&iacute;as: martes <br>
	V&aacute;lida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola
	</a><br>
	<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#285C98; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div><br>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</span>
</div>