<style type="text/css">
div, p, a, li, td, span { -webkit-text-size-adjust:none; }
</style>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;">
	Si tienes problemas para ver el correo, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion>
</span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; ">
	Hey [FirstName,fallback=], <br><br>
	&iexcl;Crupzi.com 1.0 está aquí! Hemos recorrido un gran camino desde el lanzamiento de la versi&oacute;n beta el 10 de Octubre del año pasado y francamente no podríamos estar m&aacute;s emocionados del resultado.<br><br>
	Después de muchas noches cenando pizza y cervezas (puede que fueran m&aacute;s cervezas que pizza) desarrollamos las principales mejoras en Crupzi.com 1.0:
	<ul>
		<li>Corrección de 13,287 peque&ntilde;os problemas. (La mayor&iacute;a eran imperceptibles para el ojo humano pero no para el ojo de Sauron)</li>
		<li>Cambios en la interfaz y dise&ntilde;o.</li>
		<li>Actualización [casi] diaria de Crupzi.com con descuentos nuevos</li>
		<li>B&uacute;squeda de descuentos sin necesidad de registrarte</li>
		<li>Nuevos correos semanales con los mejores descuentos</li>
		<li>Inicio de nuestro programa de Comercios Afiliados</li>
		<li>M&aacute;s...</li>
	</ul>
	Nuestra misi&oacute;n de ahora en adelante es hacer crecer nuestra plataforma tanto a nivel de Comercios Afiliados como de los descuentos ofrecidos, por lo que nos gustar&iacute;a nos ayudaras compartir lo genial que es crupzi.com<br><br>
	Hemos creado la siguiente p&aacute;gina especial para facilitarte la tarea de compartir Crupzi.com con todos tus amigos, familiares, compañeros de trabajo y dem&aacute;s personas importantes en tu vida. &Uacute;nicamente te tomar&aacute; 10 segundos y nos ayudar&iacute;as enormemente:<br><br>
	<a href="http://www.crupzi.com/compartir/" style="color:#e63721; text-decoration:none;">www.crupzi.com/compartir/</a><br><br>
	Agradecemos todo tu apoyo hasta el momento y esperamos que sigas amando crupzi.com tanto como nosotros!. Mucho m&aacute;s en camino.

	<br><br>
	Cheers<br>
	<i>El Equipo Crupzi</i><br><br>
	Ps. Si quieres leer la descripción completa de todas las [increíbles] mejoras, puedes hacer clic en la siguiente direcci&oacute;n de nuestro blog: <a href="http://en.crupzi.com/14QmrY6" style="color:#e63721; text-decoration:none;">http://en.crupzi.com/14QmrY6</a>
</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;">
Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
</div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
	<ul style="list-style: none; margin-left:0px;">
		<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> </li>
		<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
		<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
		<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
	</ul>
	<ul style="list-style: none;">
		<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
		<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
		<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
	</ul>
</div>