{% load deals_filters %}
{% if deal %}
<!--  -->
<div class='modal-header' style="background: #343434; height:70px; position:relative;" data-companyid="{{ set_company }}">
	<button type="button" class="close" data-dismiss="modal" style="{% if deal.verified %}float:left;{%endif%}">×</button>
	<div style="margin: 10px 0; padding: 5px; background-color:#dbdcd7; width:93px; position:absolute;">
		{% if deal.company_ext %}
			<img src="/static/images/companies/logos_56/56x56_{{deal.company_ext.logo}}" width="92px;" style="border: 1px solid #bfbfbf;">
		{% else %}
			<img src="/static/images/companies/logos_56/56x56_{{deal.company.logo}}" width="92px;" style="border: 1px solid #bfbfbf;">
		{% endif %}
		{% if not not_user %}
				{% if subscription %}
					<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% else %}
					<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% endif %}
		{% endif %}
	</div>
	<div class='deal-modal-header'>
		{% if deal.company_ext %}
			<h3>{{ deal.company_ext.name }}
			{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}
			</h3>
		{% else %}
			<h3>{{ deal.company.name }}
				{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}
			</h3>
		{% endif %}
		<p style="margin-top:15px; font-size:1.2em;">{{ categories|joinby:" • "}}</p>
	</div>
</div>
<div style="height:5px; background:#DBDCD7; width:100%;"></div>
<div class='modal-body deal-modal-body' style='margin-top:50px;'>
	<div class='floatleft' id='modal-body-right'>
		<h4>{{ deal.name }}</h4>
		<p>{{ schedule }} </p>
		{% if deal.name != deal.description %}<p>{{ deal.description }}</p>{% endif %}
		{% if end_date %}
			{% if deal.limited_time %}
				Promoci&oacute;n v&aacute;lida por tiempo limitado.
			{% else %}
				<b>V&aacute;lida hasta la fecha:</b> {{ end_date }}
			{% endif %}
			<br>
		{% endif %}
		<br>
		{% if resources %}
		<div>
			{% for res in resources %}
				{% if forloop.first %}
					<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:</span>
						<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
				{% else %}
						<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
				{% endif%}
				
			{% endfor %}
		</div><br>
		{% endif %}
		{% if branches %}
		<div>
			{% for branch in branches %}
				{% if forloop.first %}
					<span class='bold'>V&aacute;lida en las sucursales:</span>
				{% endif %}
				<li>{{ branch.branch.name }}</li>
			{% endfor %}
		
		</div>
		<br>
		{% endif %}
		{% if deal.restrictions %}
		<div id="deal-restrictions">
			<span class='bold'>Restricciones</span><br>
			<span>{{ deal.restrictions }}{% if deal.restrictions2 %}{{ deal.restrictions2 }} {% endif %}</span><br>
		</div>
		{% else %}
		<div id="deal-restrictions"></div>
		{% endif %}

		{% if deal.limited_time %}
			<span style="font-size:0.8em;">Descuento ingresado el {{ init_date }}</span>
		{% endif %}

		<div id='modal-social-save'>
			
			<div class='floatleft deal-social' style=''>
						
				<div class='floatleft' style='width: 85px;'>
					<div class="fb-like" data-href="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-layout="button_count" data-width="50" data-show-faces="true" data-font="arial"></div>
				</div>
				<div class='floatleft'>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company.name }} - {{ deal.name }}" data-count='horizontal'><img src='/static/images/icons/twitter-share.png'></a>
				</div>
				
				<div style='clear:both;'></div>
			</div>
			{% if user.username %}
			<div class='deal-preview-save floatleft'>
				{% if referer == 'else' %}
				
	  			<div class='floatleft deal-preview-save'>
					<div>
						<button onclick='javascript: saveDeal({{deal.id}});' class='btn btn-inverse btn-mini'>Guardar</button>
					</div>
				</div>
				
				{% endif %}
			</div>
			{% endif %}
			<div style='clear:both;'></div>
		</div>
		<div id='modal-messages' style='margin-top: 0.5em;'>

		</div>
	</div>
	<div style='clear:both;'></div>
</div>

{% endif %}