{% if deal %}
<div class='floatleft' style='width: 150px;'>
	<fb:like send="true" width="50" show_faces="true" font="arial" href="http://www.crupzi.com/descuentos/{{deal.slug}}/" layout="button_count"></fb:like>
</div>
<div class='floatleft'>
	{% if deal.company_ext %}
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company_ext }} - {{ deal.name }}" data-count='horizontal'></a>
	{% else %}
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company }} - {{ deal.name }}" data-count='horizontal'></a>
	{% endif %}
</div>
{% endif %}