{% extends 'app/app-base.html' %}
{% load deals_filters %}
{% block title %}
{% if deal.company_ext %}
	Crupzi.com - {{ deal.company_ext.name }} - {{ deal.name }}
{% else %}
	Crupzi.com - {{ deal.company.name }} - {{ deal.name }}
{% endif %}
{% endblock %}
{% block linkcss %}
<style type="text/css">
	a.connect:link{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:visited{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:active{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:hover{ color: #fff; text-decoration:none; font-size:1.5em;}
	.logo-style{
		text-align:center; 	}
	.alpha{
		background: rgb(1, 1, 1);
		  background: rgba(1, 1, 1, 0.6);
		  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
		padding-top:2em;
		-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0 3px 20px -5px #888888;
	}

	.container-white-opacity{
	background: #fff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border: 1px solid;
	border-color:#EBEAE5 #E0DFDC #DBDAD7;
	padding: 1em;
	margin-bottom: 30px;
	
	background: rgba(255,255,255, 0.50);
	background: -moz-linear-gradient(top, rgba(255,255,255, 0.50) 0%, rgba(255,255,255, 0.88) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255 0.50)), color-stop(100%,rgba(255,255,255 0.88)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.50) 0%,rgba(255,255,255,0.88) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.50) 0%,rgba(255,255,255,0.88) 100%);
	/*background: -ms-linear-gradient(top, rgba(255,255,255,0.50) 0%,rgba(255,255,255,0.88) 100%);*/
	/*background: linear-gradient(top, rgba(255,255,255,0.50) 0%,rgba(255,255,255,0.88) 100%);*/
    filter: alpha(opacity=50);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255,255,255,0.50)', endColorstr='rgba(255,255,255,0.88)',GradientType=0 );*/

}
</style>
{% endblock %}

{% block meta %}
	<meta property="og:url" content="http://www.crupzi.com/descuentos/{{ deal.slug }}/"> 
	{% if deal.company_ext %}
	<meta property="og:title" content="{{ deal.company_ext.name }} - {{ deal.name }}"> 
	{% else %}
	<meta property="og:title" content="{{ deal.company.name }} - {{ deal.name }}"> 
	{% endif %}
	<meta property="og:description" content="{{ deal.description }}. Válido {{ schedule }}">
	<meta property="og:type" content="website"/>
	<meta property="fb:app_id" content="351082044978229"/>
	{% for category in categories %}
		{% if forloop.first %}
		<meta property="og:image" content="http://www.crupzi.com/static/images/facebook/{{category}}-logo.png"> 
		{% endif %}
	{% endfor %}
	
{% endblock %}

{% block user-header %}

{% endblock %}

{% block sub-header %}
	<div class='container'></div>
{% endblock %}

{% block content %}

{% if deal %}
{% if not_user %}
<div class='container' style='background: url(/static/images/backgrounds/bgsd3.jpg) repeat;'>
	<div style='margin-bottom:40px;' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
				<li class=""><a href="/" data-target="tab">Inicio</a></li>
				<li class="{% block features-css %}{% endblock %}"><a href="{% url features %}" data-target="tab">Beneficios</a></li>
				<li class="{% block commerce-css %}{% endblock %}"><a href="{% url commerce %}" data-target="tab">Comercios</a></li>
				<li class="{% block us-css %}{% endblock %}"><a href="{% url us %}" data-target="tab">Nosotros</a></li>
				<li class="{% block contact-css %}{% endblock %}"><a href="{% url contact %}" data-target="tab">Contacto</a></li>
				<li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
				<li class="{% block support-css %}{% endblock %}"><a href="{% url support %}" data-target="tab">Soporte</a></li>
			</ul>
        </div>
        <div style='clear:both;'></div>
      </div>
    </div>

{% else %}
<div class='container' style='background: url(/static/images/backgrounds/bgsd3.jpg) repeat;'>
	<div style='margin-bottom:40px;' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
          	<li><a href="/inicio"><i class='icon-home icon-white'></i></a></li>
            <li><a href="/comercios/lista/" data-target="tab">Comercios</a></li>
            <li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
            <li><a href="/mis-descuentos/" data-target="tab">Mis Descuentos</a></li>
            <li>
              {% if display %}
              <div class='floatleft' style=''>
                <img src="{{ display }}" width='32px'>
              </div>
              {% endif %}
              <div class='floatright' style='text-align:right; padding:0 0 0 0em; max-height:35px; margin-top:-5px;  '>
                <div>
                  <div style='margin:0; text-align:center;'><span style='color:#fff; font-size:1.1em;'>Bienvenido</span></div>
                  <ul class="nav nav-pills nav-pills-user" style='margin-top:-10px;'>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          {{ user.username }}<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu  pull-right">
                        <li><a href="/cuenta/perfil">Editar perfil</a></li>
                        <li><a href="/logout">Salir</a></li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
              <div style='clear:both;'></div>
            </li>          
          </ul>
        </div>
        <div style='clear:both;'></div>
      </div>
    </div>
{% endif %}
	
	<div class='span7 container-white' style="overflow:visible;">
		<div class='modal-header' style="background: #343434; height:70px; position:relative;" data-companyid="{{ set_company }}">
			<div style="margin: 10px 0; padding: 5px; background-color:#dbdcd7; width:93px; position:absolute;">
				{% if deal.company_ext %}
					<img src="/static/images/companies/logos_56/56x56_{{deal.company_ext.logo}}" width="92px;" style="border: 1px solid #bfbfbf;">
				{% else %}
					<img src="/static/images/companies/logos_56/56x56_{{deal.company.logo}}" width="92px;" style="border: 1px solid #bfbfbf;">
				{% endif %}
				{% if not not_user %}
					{% if subscription %}
						<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
						<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
					{% else %}
						<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
						<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
					{% endif %}
			{% endif %}
			</div>
			<div class='deal-modal-header'>
				{% if deal.company_ext %}
					<h3>{{ deal.company_ext.name }}
					{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}
					</h3>
				{% else %}
					<h3>{{ deal.company.name }}
						{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}
					</h3>
				{% endif %}
				<p style="margin-top:15px; font-size:1.2em;">{{ categories|joinby:" • "}}</p>
			</div>
			{% if deal.verified %}
			<div style="position:absolute; top: 10px; right:10px;">
				<img src="/static/images/companies/afiliado_56c.png" width="30px">
			</div>
			{% endif %}
		</div>
		<div style="height:5px; background:#DBDCD7; width:100%;"></div>
		<div class='modal-body deal-modal-body' style='position: relative; min-height:250px; overflow:visible; margin-top:50px;'>
			{% if not valid %}
			<div style='position:absolute; right:15px;'>
				<img src="/static/images/app/expired.png">
			</div>
			{% endif %}
			<div class='floatleft crupzi-font crupzi-font-light' id='modal-body-right'>
				<h4>{{ deal.name }}</h4>
				<p>{{ schedule }} </p>
				{% if deal.name != deal.description %}<p>{{ deal.description }}</p>{% endif %}
				{% if end_date%}
					{% if deal.limited_time %}
						Promoci&oacute;n v&aacute;lida por tiempo limitado.
					{% else %}
						<b>V&aacute;lida hasta la fecha:</b> {{ end_date }}
					{% endif %}
					<br>
				{% endif %}
				
				<br>
				{% if deal_resources %}
				<div>
					{% for res in deal_resources %}
						{% if forloop.first %}
							<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:</span>
								<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
						{% else %}
								<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
						{% endif%}
						
					{% endfor %}
				</div>
				<br>
				{% endif %}
				{% if branches %}
				<div>
					{% for branch in branches %}
						{% if forloop.first %}
							<span class='bold'>V&aacute;lida en las sucursales:</span>
						{% endif %}
						<li>{{ branch.branch.name }}</li>
					{% endfor %}
				</div>
				<br>
				{% endif %}
				
				<div id="deal-restrictions">
					{% if deal.restrictions %}
					<span class='bold'>Restricciones</span><br>
					<span>{{ deal.restrictions }}{% if deal.restrictions2 %}{{ deal.restrictions2 }}{% endif %}</span><br>
					{% endif %}
				</div>
				{% if deal.limited_time %}
					<span style="font-size:0.8em;">Descuento ingresado el {{ init_date }}</span>
				{% endif %}
				<div id='modal-social-save' style="overflow:visible;">
					<div class='floatleft deal-social' style='overflow:visible;'>
						<div class='floatleft' style='width: 150px; max-height:150px; overflow:visible;'>
							<div class="fb-like" data-href="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-layout="button_count" data-width="50" data-show-faces="true" data-font="arial" data-send="true"></div>
						</div>
						<div class='floatleft'>
							{% if deal.company_ext %}
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company_ext }} - {{ deal.name }}" data-count='horizontal'></a>
							{% else %}
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company }} - {{ deal.name }}" data-count='horizontal'></a>
							{% endif %}
						</div>
						<div style='clear:both;'></div>
					</div>
					<div class='deal-preview-save floatleft'>
						{% if referer == 'else' %}
			  			<div class='floatleft deal-preview-save'>
							<div>
								<button onclick='javascript: saveDeal({{deal.id}});' class='btn btn-info btn-mini'>Guardar</button>
							</div>
						</div>
						{% endif %}
					</div>
					<div style='clear:both;'></div>
				</div>
				<div id='modal-messages' style='margin-top: 0.5em;'>

				</div>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
	<div class='span5' style="">
		<div class="container-white-opacity">
			<!-- <h3 style='color:#000; font-size:28px;' class='crupzi-font-titles'>¿Quieres m&aacute;s Crupzi.com?</h3> -->
			<h3 style='color:#000; font-size:32px;' class='crupzi-font-titles'>¿QUIERES M&Aacute;S CRUPZI.COM?</h3>
			<h4 class='crupzi-font crupzi-font-light'>Busca m&aacute;s descuentos como este y descubre crupzi.com</h4>
			<hr style="border-top: 1px solid #000; border-bottom:1px solid #ccc;">
			<div style='margin:2.3em 0 0.2em 0;'>
	  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/lupa.png"></div>
				<div class='floatleft'><h4 class='crupzi-font'><span style='font-size:1.5em; font-weight:700;'>B&uacute;squeda</span> <br><span style="font-weight:300;">de descuentos</span></h4></div>
				<div style='clear:both;'></div>
			</div>
		  	<div class=''>
		  		
				<form id='form-search' action='/search/get/' method='GET'>
					<div>
						<input type='text' name='search-desc' id='search-desc' style='width: 335px;' placeholder="Descripci&oacute;n"/>
					</div>
					<div>
						<select id='search-mall' name='search-mall' data-placeholder="Centro comercial" style='width: 348px;'>
							<option></option>
							{% for mall in malls%}
								<option value='{{mall.id}}'>{{mall.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='margin-top:0.6em;'>
						<select id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style="width:348px;">
							<option></option>
							{% for company in companies%}
								<option value='{{company.id}}'>{{company.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='margin-top:0.4em;'>
						<select id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:348px;">
							<option></option>
							<option value='1'>Ropa y calzado</option>
							<option value='2'>Bares</option>
							<option value='3'>Restaurantes</option>
							<option value='4'>Caf&eacute;s</option>
							<option value='5'>Regalos</option>
							<option value='6'>Viajes</option>
							<option value='7'>Belleza y Salud</option>
							<option value='8'>Entretenimiento</option>
							<option value='9'>Otros</option>
						</select>
					</div>
					<div style='margin-top:0.4em;'>
						<select id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:348px;">
							{% include "app/select-resources.html" %}
						</select>
					</div>
				</form>
				<div>
					<button class='btn btn-primary' id='btn-search' style='width:350px;'>Buscar</button>
				</div>
			</div>
			{% if not_user %}
			<div class="" style="margin-top:20px; text-align:center; padding:10px;">
				<span class="floatleft bold crupzi-font crupzi-font-light" style=''>O Ingresa a Crupzi con :</span>
				<div class="floatleft" style="margin-left:10px; margin-top:-5px;">
					<a class='connect' href="{%  url socialauth_begin 'facebook' %}">
						<img class="index-icon" src="/static/images/facebook.png"/>
					</a>
					<a class='connect' href="{%  url socialauth_begin 'twitter' %}" style="text-align:left;">
						<img class="index-icon" src="/static/images/twitter.png"/>
					</a>
					<a class='connect' href="http://www.crupzi.com/login/google-oauth2/" style="text-align:left;">
						<img class="index-icon" src="/static/images/google.png"/>
					</a>
				</div>
				<div style="clear:both;"></div>
			</div>
			{% endif %}
		</div>
	</div>

</div>
{% endif %}

<div class='modal hide' id='modal-deal-save'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Hemos encontrado errores en la solicitud</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			El descuento seleccionado ya ha sido guardado.
		</p>
	</div>
</div>

<script type="text/javascript" src='/static/lib/js/bootstrap-modal.js'></script>
<script type="text/javascript">

$('#deal-restrictions').html(linkify($('#deal-restrictions').html()));

function saveDeal(dealId, popup){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/save/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			if(popup)
	  				$('#modal-messages').html(html);
	  			else{
	  				$('#modal-deal-save-body').html(html);
	  				$('#modal-deal-save').modal('show');
	  			}
	  		}
	  	}
	});
}

$('#search-company').chosen({allow_single_deselect: true});
$('#search-category').chosen();
$('#search-resource').chosen();
$('#search-mall').chosen({allow_single_deselect: true});

$('input','#form-search').keypress(function(evt){
	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
		$('#btn-search').click();
		return evt.preventDefault();
	}
	});
$('body').on('keydown', '.chzn-search input', function(evt) {
	if (evt.which === 13 && $(this).closest('.chzn-container').find('.chzn-single-with-drop').length === 0) {
		$('#btn-search').click();
		return evt.preventDefault();
	}
	});
	$('body').on('keydown', '.search-field input', function(evt) {
	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
		$('#btn-search').click();
		return evt.preventDefault();
	}
});

$('#btn-search').click(function(){
	if(validateForm($('#form-search'))){
		location.href = "/inicio/?query=1&"+$('#form-search').serialize();
	}
});

function validateForm(form){
	var filter = false;
	$(form).find(':input:not(.default)').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                if(jQuery.trim($(this).val())!='')
                	filter=true;
                break;
        }
    });
    return filter;
}

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$("#loader").show();
  		},
	  	success: function(json){
	  		$('button').attr('disabled',false);
	  		$("#loader").hide();
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}

</script>

{% endblock %}