{% extends 'app/app-base.html' %}

{% block title %}Crupzi.com - {{ deal.company }} - {{ deal.title }} [Descuento falso]{% endblock %}

{% block linkcss %}
<style type="text/css">
	a.connect:link{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:visited{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:active{ color: #fff; text-decoration:none; font-size:1.5em;}
	a.connect:hover{ color: #fff; text-decoration:none; font-size:1.5em;}
	.logo-style{
		text-align:center; 	}
	.alpha{
		background: rgb(1, 1, 1);
		  background: rgba(1, 1, 1, 0.6);
		  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";padding-top:2em;
		-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; box-shadow: 0 3px 20px -5px #888888;
	}

	.container-white-opacity{
	background: #fff; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; border: 1px solid; border-color:#EBEAE5 #E0DFDC #DBDAD7;padding: 1em; margin-bottom: 30px;
	background: rgba(255,255,255, 0.80);
	background: -moz-linear-gradient(top, rgba(255,255,255, 0.80) 0%, rgba(255,255,255, 0.88) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255 0.80)), color-stop(100%,rgba(255,255,255 0.88)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.80) 0%,rgba(255,255,255,0.88) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.80) 0%,rgba(255,255,255,0.88) 100%);
    filter: alpha(opacity=50);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF)";
}
.modal-messages{ background: #f5f5f5; margin-top: 25px; font-size:0.9em; padding: 10px;}
#fb-bar iframe{min-height:80px !important;}
{% if deal.deal_opacity %} 
	.deal_background_opacity{ filter: alpha(opacity={{ deal.deal_opacity }}); -moz-opacity: 0.{{ deal.deal_opacity }}; -khtml-opacity: 0.{{ deal.deal_opacity }}; opacity: 0.{{ deal.deal_opacity }}; }
{% endif %}
.deal_category_opacity{ filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; }

</style>
{% endblock %}

{% block meta %}
	<meta property="og:url" content="http://www.crupzi.com/descuentos/f/{{ deal.slug }}/"> 
	<meta property="og:title" content="{{ deal.company }} - {{ deal.title }}"> 
	<meta property="og:description" content="{{ deal.description }}. Válido {{ schedule }}">
	<meta property="og:type" content="website"/>
	<meta property="fb:app_id" content="351082044978229"/>
	<meta property="og:image" content="http://www.crupzi.com/static/images/app/fake-logo.png"> 

	
{% endblock %}

{% block user-header %}

{% endblock %}

{% block sub-header %}
	<div class='container'></div>
{% endblock %}

{% block content %}

{% if deal %}
{% if not user_profile %}
<div class='container' style='background: url(/static/images/backgrounds/bgsd6.jpg) repeat;'>
	<div style='margin-bottom:40px;' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
				<li class=""><a href="/" data-target="tab">Inicio</a></li>
				<li class="{% block features-css %}{% endblock %}"><a href="{% url features %}" data-target="tab">Beneficios</a></li>
				<li class="{% block commerce-css %}{% endblock %}"><a href="{% url commerce %}" data-target="tab">Comercios</a></li>
				<li class="{% block us-css %}{% endblock %}"><a href="{% url us %}" data-target="tab">Nosotros</a></li>
				<li class="{% block contact-css %}{% endblock %}"><a href="{% url contact %}" data-target="tab">Contacto</a></li>
				<li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
				<li class="{% block support-css %}{% endblock %}"><a href="{% url support %}" data-target="tab">Soporte</a></li>
			</ul>
        </div>
        <div style='clear:both;'></div>
      </div>
    </div>

{% else %}
<div class='container' style='background: url(/static/images/backgrounds/bgsd6.jpg) repeat;'>
	<div style='margin-bottom:40px;' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
          	<li><a href="/inicio"><i class='icon-home icon-white'></i></a></li>
            <li><a href="/comercios/lista/" data-target="tab">Comercios</a></li>
            <li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
            <li><a href="/mis-descuentos/" data-target="tab">Mis Descuentos</a></li>
            <li>
              {% if display %}
              <div class='floatleft' style=''>
                <img src="{{ display }}" width='32px'>
              </div>
              {% endif %}
              <div class='floatright' style='text-align:right; padding:0 0 0 0em; max-height:35px; margin-top:-5px;  '>
                <div>
                  <div style='margin:0; text-align:center;'><span style='color:#fff; font-size:1.1em;'>Bienvenido</span></div>
                  <ul class="nav nav-pills nav-pills-user" style='margin-top:-10px;'>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          {{ user.username }}<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu  pull-right">
                        <li><a href="/cuenta/perfil">Editar perfil</a></li>
                        <li><a href="/logout">Salir</a></li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
              <div style='clear:both;'></div>
            </li>          
          </ul>
        </div>
        <div style='clear:both;'></div>
      </div>
    </div>
{% endif %}
	
	<div class='span7 container-white' style="position:relative; overflow:visible;">
		<div style="position:absolute; top:-30px; right:-15px; z-index:1;"><img src="/static/images/app/fake-logo.png" width="100"></div>
			{% if deal.deal_background %}
				<div style="height: 180px; position: relative; margin-bottom:20px;">
					<div class='modal-header deal_background_opacity' style="background-image: url({{ deal.deal_background }}); height:180px; background-size: 100% 210px; z-index:0; "></div>
			<div style="position:absolute; bottom:10px; left:20px; background-image: url(/static/images/mobile/categories-deal/category{{deal.category.id}}.png); height:180px; background-size: 100% 77px; z-index:1; height:77px; width: 77px;" class="deal_category_opacity"></div>
			<div class='deal-modal-header' style="top:0; position:absolute; margin-top:90px;">
				<h3 class='crupzi-font' style="color:{{ deal.deal_color }}; line-height:1;">{{ deal.title }}</h3>
				<h4 class='crupzi-font' style="color:{{ deal.deal_color }};">{{ deal.company|upper }}</h4>
			</div>
		</div>
			{% else %}
				<div class='modal-header' style="background-image: url(/static/images/categories/cat-layout-{{deal.category.id}}.jpg); height:180px; background-size: 100% 210px;">
				<div class='deal-modal-header' style="margin-top:90px;">
					<h3 class='crupzi-font' style="">{{ deal.title }}</h3>
					<h4 class='crupzi-font'>{{ deal.company|upper }} -  {{ schedule }}</h4>
				</div>
			</div>
			{% endif %}
		<div class='modal-body' style='position: relative; min-height:250px; overflow:visible;'>
			<div class='floatleft crupzi-font crupzi-font-light' id='modal-body-right'>
				<h2>{{ deal.title }}</h2>
				<span class='bold'>{{ deal.description }}</span><br><br>
				V&aacute;lida los d&iacute;as: {{ schedule }} <br>
				{% if end_date%}
					V&aacute;lida hasta la fecha: {{ end_date }}
					<br>
				{% endif %}
				
				<br>
				{% if deal_resources %}
				<div>
					{% for res in deal_resources %}
						{% if forloop.first %}
							<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:</span>
								<li>{{ res.resource.name }}</li>
						{% else %}
								<li>{{ res.resource.name }}</li>
						{% endif%}
						
					{% endfor %}
				</div>
				<br>
				{% endif %}

				{% if deal.restrictions %}
					<span class='bold'>Restricciones</span><br>
					<span>{{ deal.restrictions }}{% if deal.restrictions2 %}{{ deal.restrictions2 }} {% endif %}</span>
				{% endif %}

				<div class='modal-messages' style=''>
					<span class='bold'>&iquest;Por qu&eacute; veo este descuento falso?</span><br>
					<p style="">La vida es demasiado corta para tomarla totalmente en serio. Este descuento falso es parte de nuestro correo semanal y es &uacute;nicamente para tu diversi&oacute;n. Cualquier similitud con descuentos de la vida real es una coincidencia.</p>
				</div>
				<div id='modal-social-save' style="overflow:visible;">
					<div class='floatleft deal-social' style=''>
						<div class='floatleft' style='width: 150px; overflow:visible;'>
							<div class="fb-like" data-href="http://www.crupzi.com/descuentos/f/{{deal.slug}}/" data-layout="button_count" data-width="50" data-show-faces="true" data-font="arial" data-send="true"></div>
						</div>
						<div class='floatleft'>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.crupzi.com/descuentos/f/{{deal.slug}}/" data-via="crupzi" data-lang="en" data-text="{{ deal.company }} - {{ deal.name }}" data-count='horizontal'></a>
						</div>
						<div style='clear:both;'></div>
					</div>
					<div style='clear:both;'></div>
				</div>
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
	<div class='span5' style="">
		<div class="container-white-opacity">
			<!-- <h3 style='color:#000; font-size:28px;' class='crupzi-font-titles'>¿Quieres m&aacute;s Crupzi.com?</h3> -->
			<h3 style='color:#000; font-size:32px;' class='crupzi-font-titles'>¿QUIERES M&Aacute;S CRUPZI.COM?</h3>
			<h4 class='crupzi-font crupzi-font-light'>Busca descuentos reales (no como este) y descubre crupzi.com</h4>
			<hr style="border-top: 1px solid #000; border-bottom:1px solid #ccc;">
			<div style='margin:2.3em 0 0.2em 0;'>
	  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/lupa.png"></div>
				<div class='floatleft'><h4 class='crupzi-font'><span style='font-size:1.5em; font-weight:700;'>B&uacute;squeda</span> <br><span style="font-weight:300;">de descuentos</span></h4></div>
				<div style='clear:both;'></div>
			</div>
		  	<div class=''>
				<form id='form-search' action='/search/get/' method='GET'>
					<div>
						<input type='text' name='search-desc' id='search-desc' style='width: 335px;' placeholder="Descripci&oacute;n"/>
					</div>
					<div>
						<select id='search-mall' name='search-mall' data-placeholder="Centro comercial" style='width: 348px;'>
							<option></option>
							{% for mall in malls%}
								<option value='{{mall.id}}'>{{mall.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='margin-top:0.6em;'>
						<select id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style="width:348px;">
							<option></option>
							{% for company in companies%}
								<option value='{{company.id}}'>{{company.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='margin-top:0.4em;'>
						<select id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:348px;">
							<option></option>
							<option value='1'>Ropa y calzado</option>
							<option value='2'>Bares</option>
							<option value='3'>Restaurantes</option>
							<option value='4'>Caf&eacute;s</option>
							<option value='5'>Regalos</option>
							<option value='6'>Viajes</option>
							<option value='7'>Belleza y Salud</option>
							<option value='8'>Entretenimiento</option>
							<option value='9'>Otros</option>
						</select>
					</div>
					<div style='margin-top:0.4em;'>
						<select id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:348px;">
							{% include "app/select-resources.html" %}
						</select>
					</div>
				</form>
				<div>
					<button class='btn btn-primary' id='btn-search' style='width:350px;'>Buscar</button>
				</div>
			</div>
			{% if not user_profile %}
			<div class="" style="margin-top:20px; text-align:center; padding:10px;">
				<span class="floatleft bold crupzi-font crupzi-font-light" style=''>O Ingresa a Crupzi con :</span>
				<div class="floatleft" style="margin-left:10px; margin-top:-5px;">
					<a class='connect' href="{%  url socialauth_begin 'facebook' %}">
						<img class="index-icon" src="/static/images/facebook.png"/>
					</a>
					<a class='connect' href="{%  url socialauth_begin 'twitter' %}" style="text-align:left;">
						<img class="index-icon" src="/static/images/twitter.png"/>
					</a>
					<a class='connect' href="http://www.crupzi.com/login/google-oauth2/" style="text-align:left;">
						<img class="index-icon" src="/static/images/google.png"/>
					</a>
				</div>
				<div style="clear:both;"></div>
			</div>
			{% endif %}
		</div>
	</div>

</div>
{% endif %}

<script type="text/javascript" src='/static/lib/js/bootstrap-modal.js'></script>
<script type="text/javascript">

$('#search-company').chosen({allow_single_deselect: true});
$('#search-category').chosen();
$('#search-resource').chosen();
$('#search-mall').chosen({allow_single_deselect: true});

$('input','#form-search').keypress(function(evt){
	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
		$('#btn-search').click();
		return evt.preventDefault();
	}
	});
$('body').on('keydown', '.chzn-search input', function(evt) {
	if (evt.which === 13 && $(this).closest('.chzn-container').find('.chzn-single-with-drop').length === 0) {
		$('#btn-search').click();
		return evt.preventDefault();
	}
	});
	$('body').on('keydown', '.search-field input', function(evt) {
	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
		$('#btn-search').click();
		return evt.preventDefault();
	}
});

$('#btn-search').click(function(){
	if(validateForm($('#form-search'))){
		location.href = "/inicio/?query=1&"+$('#form-search').serialize();
	}
});

function validateForm(form){
	var filter = false;
	$(form).find(':input:not(.default)').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                if(jQuery.trim($(this).val())!='')
                	filter=true;
                break;
        }
    });
    return filter;
}

</script>

{% endblock %}