{% extends 'user-base.html' %}

{% block sub-header %}
	<div class='container'>
	</div>
{% endblock %}

{% block content %}

<div class='container content-body'>
	<div class='span4'>
		<div class='search-box'>
			<h4>B&uacute;squeda de descuentos</h4>
			<br>
			<form id='form-search' action='/search/get/' method='GET'>
				<div>
					<label>Centro comercial</label>
					<select id='search-mall' name='search-mall' data-placeholder=" ">
						<option></option>
						{% for mall in malls%}
							<option value='{{mall.id}}'>{{mall.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label>Establecimiento</label>
					<select id='search-company' name='search-company' data-placeholder=" " multiple style="width:300px;">
						<option></option>
						{% for company in companies%}
							<option value='{{company.id}}'>{{company.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label>Categor&iacute;a</label>
					<select id='search-category' name='search-category' multiple data-placeholder=" " style="width:300px;">
						<option></option>
						<option value='1'>Ropa y calzado</option>
						<option value='2'>Bares</option>
						<option value='3'>Restaurantes</option>
						<option value='4'>Caf&eacute;s</option>
						<option value='5'>Regalos</option>
						<option value='6'>Viajes</option>
						<option value='7'>Salud</option>
						<option value='8'>Entretenimiento</option>
						<option value='9'>Otros</option>
					</select>
				</div>
				<div>
					<label>Entidad</label>
					<select id='search-entity' name='search-entity'>
						<option></option>
						{% for entity in entities%}
							<option value='{{entity.id}}'>{{entity.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div style='display:none;' id='seach-row-resources'>
					<label>Recurso</label>
					<select id='search-resource' name='search-resource' multiple data-placeholder=" " style="width:300px;" ></select>
				</div>
			</form>
			<div>
				<button class='btn btn-info' id='btn-search'><i class='icon-zoom-in icon-white'></i>Buscar descuentos</button>
				<button class='btn' id='btn-clear'><i class='icon-remove'></i>Limpiar formulario</button>
			</div>
		</div>
	</div>

	<div class='span8' style='margin-left:0;'>
		<h1>Resultados</h1>
		<div id='search-results'>
			<div class='floatright'>
				Filtrar en resultados <input type='text' id='text-filter'>
			</div>
			<div style='clear:both;'></div>
			<div class='timeline-container'></div>
		</div>
	</div>
</div>


<div class='modal hide' id='modal-deal-info'></div>
<div class='modal hide' id='modal-deal-save'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Hemos encontrado errores en la solicitud</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			El descuento seleccionado ya ha sido guardado.
		</p>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/static/lib/chosen/chosen.css">
<script type="text/javascript" src='/static/lib/chosen/chosen.jquery.min.js'></script>
<script type="text/javascript" src='/static/lib/js/bootstrap-modal.js'></script>
<script type="text/javascript">

var serializedQuery;

$(document).ready(function(){
	//$('#search-mall').chosen({allow_single_deselect: true});
	$('#search-company').chosen({allow_single_deselect: true});
	$('#search-category').chosen();
	$('#search-resource').chosen();
});

$('#search-entity').change(function(){
	if($(this).val()!=''){
		jQuery.ajax({
	  		type: "GET",
	  		url: "{% url search_box_input 'resources' %}",
	  		data: "country_id=1&entity_id="+$(this).val(),
			beforeSend: function(){
		  		$('button').attr('disabled',true);
	  		},
		  	success: function(data){
		  		$('button').attr('disabled',false);
		  		if(data){
		  			json = eval(data);
		  			var html='';
		  			html += '<option></option>';
		  			for (key in json){
		  				html+="<option selected value='"+json[key].pk+"'>"+json[key].fields['name']+"</option>"
		  			}
		  			$('#search-resource').html(html);
		  			$("#search-resource").trigger("liszt:updated");
		  			$('#seach-row-resources').show();
		  		}
		  		else{
		  			var html='<option></option>';
		  			$('#search-resource').html(html);
		  			$("#search-resource").trigger("liszt:updated");
					$('#seach-row-resources').hide();
		  		}
		  	}
		});
	}
	else{
		var html='<option></option>';
		$('#search-resource').html(html);
		$("#search-resource").trigger("liszt:updated");
		$('#seach-row-resources').hide();
	}
});

$('#btn-search').click(function(){
	//$('#form-search').submit();
	if(validateForm($('#form-search')))
		getResults(1,false);
	else
		alert('Debe especificar al menos un filtro.');
});

$('#btn-clear').click(function(){
	clearForm($('#form-search'));
});

function clearForm(form){
	$(form).find(':input').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            	$(this).val('-1');
            	break;
            case 'select-one':
            	$(this).val('-1');
            	break;
            case 'text':
            case 'textarea':
                $(this).val('');
                break;
            case 'checkbox':
            case 'radio':
                this.checked = false;
        }
    });
    $("#search-resource").trigger("liszt:updated");
    $("#search-category").trigger("liszt:updated");
    $("#search-company").trigger("liszt:updated");
}

function getResults(page, append){
	if(!append)
		serializedQuery = $('#form-search').serialize();
	jQuery.ajax({
  		type: "GET",
  		url: "/search/get/"+page+"/",
  		data: serializedQuery,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			if(append){
	  				$('button[name^="btn-next-deals-"]').hide();
	  				$('.timeline-container','#search-results').append(html);
	  			}
	  			else
	  				$('.timeline-container','#search-results').html(html);
	  		}
	  		twttr.widgets.load();
	  		FB.XFBML.parse();
	  	}
	});
}

$("#text-filter").keyup(function () {
    var filter = $(this).val(), count = 0;
    $(".deal-container").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).addClass("hidden");
        } else {
            $(this).removeClass("hidden");
            count++;
        }
    });
    $("#filter-count").text(count);
});

function validateForm(form){
	var filter = false;
	$(form).find(':input').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                if(jQuery.trim($(this).val())!='')
                	filter=true;
                break;
        }
    });
    return filter;
}

function getDeal(dealId){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/code/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			$('#modal-deal-info').html(html);
	  			$('#modal-deal-info').modal('show');
	  			twttr.widgets.load();
	  			FB.XFBML.parse();
	  		}
	  	}
	});
}

function saveDeal(dealId, popup){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/save/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			if(popup)
	  				$('#modal-messages').html(html);
	  			else{
	  				$('#modal-deal-save-body').html(html);
	  				$('#modal-deal-save').modal('show');
	  			}
	  		}
	  	}
	});
}


</script>

{% endblock %}