{% for deal in deals %}
{% if forloop.last %}
<div class='deal-container' next-page='{{deal.next_page}}' id='deal-{{deal.id}}' name='deal-{{deal.id}}'>
{% else%}
<div class='deal-container' id='deal-{{deal.id}}' name='deal-{{deal.id}}'>
{% endif %}
	<div class='deal-wrapper' style="cursor: pointer;" onclick="javascript:getDeal({{deal.id}});">
		<div style='width:560px;'>
			<div>
				<div style='background:#fff;'>
					<div class='floatleft' style='padding:1em;'>
						{% with deal.category|first as cat %}<img src="/static/images/categories/icons/{{ cat }}-icon.png">{% endwith %}
					</div>
					<div class='floatleft deal-preview-content'>
						<span class='deal-preview-h1' name='deal-name'>
							<a href="javascript:void(0);" onclick='javascript:getDeal({{deal.id}});' class='gray'>{{deal.name}}</a><br>
							<a href="/comercios/perfiles/{{deal.company_slug}}" class='black'><span style='font-weight:bold; font-size: 0.9	em;'>{{deal.company}}</span></a> - <span class='deal-preview-h2' style='font-weight:normal;'>{{deal.schedule}}</span>
						</span>
					</div>
					<div class='floatright'>
						<div style='background: #F5F5F5; margin:10px 10px 0 10px;'>
							{% if deal.company_logo %}
							<div class='deal-logo floatright'>
								<a href="/comercios/perfiles/{{deal.company_slug}}"><img src='/static/images/companies/logos_56/56x56_{{deal.company_logo}}'></a>
							</div><div style='clear:both;'></div>
							{% else%}
							<div class='deal-logo floatright'>
								<div class='deal-logo-fake'></div>
							</div><div style='clear:both;'></div>
							{% endif %}
						</div>
					</div><div style='clear:both;'></div>
				</div>
				<div style='padding:20px 0 0 56px; background:#f5f5f5; margin: 0 10px 10px 10px;'>
					<div class='deal-description-container' style=''>
						<span class='deal-preview-desc' name='deal-desc'>{{deal.description}}</span>
						<div style='margin-top: 1em;'>
							<div class='floatleft deal-social deal-preview-h1' data-id="{{ deal.id }}">
								<div class='deal-social-fake'>
									<img name="btn-fb01" src="/static/images/app/social/btn-social-01.png">
									<img name="btn-fb02" src="/static/images/app/social/btn-social-02.png">
									<img name="btn-tw01" src="/static/images/app/social/btn-social-03.png">
								</div>
								<div style='clear:both;'></div>
							</div>
							<div class='floatright'>
								<div>
									<div class='deal-preview-save'>
										<button onclick='javascript: removeDeal({{deal.id}}); event.stopPropagation();' class='btn btn-danger btn-mini' style="height: 26px; width: 75px;">Remover</button>
									</div>
								</div>
							</div><div style='clear:both;'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% if next_page %}
<div class='span4'>
	<div class='next-deals'>
		<button class='btn btn-next' name='btn-next-deals-{{next_page}}' onclick='javascript:getNextPage({{ next_page }});'>Ver siguientes</button>
	</div>
</div>
<div style="clear:both;"></div>
{% endif %}