{% extends 'app/app-base.html' %}

{% block title %} Crupzi.com - Inicio {% endblock %}

{% block sub-header %}
	<div></div>
{% endblock %}

{% block active-home %}active{% endblock %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="/static/lib/css/alert-bangtidy.css">
<link rel="stylesheet" type="text/css" href="/static/lib/fancybox/jquery.fancybox-1.3.4.css">
<style type="text/css">
.notification-newsletter-header{ background:#d14e0f; padding:1em; position: relative;}
.notification-newsletter-header:after{
    position: absolute;
    top: 100%;
    right: 80px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px #d14e0f;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
</style>
{% endblock %}

{% block content %}

<div class='container' style='background:#f5f5f5; padding-bottom:50px;'>
	<div class=''>
		<div class='span8' style='margin:20px 0 0 0px;'>
			<div class=''>
				<div class="tabtable"> <!-- Only required for left/right tabs -->
				  <ul class="tabs nav nav-pills nav-pills-font-large" id='ul-deals' style='margin-left:260px;'>
				    <li class="active"><a href="#tab-1" data-toggle="tab">Top</a></li>
				    <li><a href="#tab-2" data-toggle="tab">Hoy</a></li>
				    <li><a href="#tab-3" data-toggle="tab">Nuevos</a></li>
				    <li><a href="#tab-4" data-toggle="tab" id='li-search' style='display:none;'>B&uacute;squeda</a></li>
				  </ul>
				  <!-- <hr style='margin:13px 25px 0 20px;'> -->
				  <div class="tab-content" style="height:100%;">
				    <div class="tab-pane active" id="tab-1">
				      <div name='timeline-tab-0' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-1' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-2' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-3' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-4' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-5' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-6' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-7' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-8' class='timeline-container' style='display:none;'></div>
				      <div name='timeline-tab-9' class='timeline-container' style='display:none;'></div>
				    </div>
				    <div class="tab-pane" id="tab-2">
			      		<div name='timeline-tab-0' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-1' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-2' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-3' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-4' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-5' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-6' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-7' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-8' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-9' class='timeline-container' style='display:none;'></div>
				    </div>
				    <div class="tab-pane" id="tab-3">
				    	<div name='timeline-tab-0' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-1' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-2' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-3' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-4' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-5' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-6' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-7' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-8' class='timeline-container' style='display:none;'></div>
						<div name='timeline-tab-9' class='timeline-container' style='display:none;'></div>
				    </div>
				    <div class="tab-pane" id="tab-4">
				    	<div id='timeline-tab-4'>
							<h4 class='padding-small'>Resultados de la b&uacute;squeda</h4>	
							<div id='search-results'>
								<div class='padding-normal' style='padding-top:0.5em;'>
									Filtrar en resultados <input type='text' id='text-filter'>
								</div>
								<div style='clear:both;'></div>
								<div class='timeline-container'></div>
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class='span5' style='background:#F4F4F6;'>
			<div class='fancy-container' style='margin-top:20px;'>
		  		<div style='display:none;'>
			    	<select id='sel_country'>
				      {% for country in countries%}
				      	{% if country.id == user_country.country_id %}
				        	<option value="{{country.id}}" selected>{{country.name}}</option>
				        {% else %}
				        	<option value="{{country.id}}">{{country.name}}</option>
				        {% endif %}
				      {% endfor %}
			    	</select>
			  	</div>
			  	<div style='margin:2.3em 0 0.2em 0;'>
		  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/lupa.png"></div>
					<div class='floatleft'><h4 style='font-weight:300;'><span style='font-size:1.5em; font-weight:700;'>B&uacute;squeda</span> <br>de descuentos</h4></div>
					<div style='clear:both;'></div>
				</div>
			  	<div class='container-gray'>			  		
					<form id='form-search' action='/search/get/' method='GET'>
						<div>
							<input type='text' name='search-desc' id='search-desc' style='width: 305px;' placeholder="Descripci&oacute;n"/>
						</div>
						<div>
							<select id='search-mall' name='search-mall' data-placeholder="Centro comercial" style='width: 318px;'>
								<option></option>
								{% for mall in malls%}
									<option value='{{mall.id}}'>{{mall.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div style='margin-top:0.6em;'>
							<select id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style="width:318px;">
								<option></option>
								{% for company in companies%}
									<option value='{{company.id}}'>{{company.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div style='margin-top:0.4em;'>
							<select id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:318px;">
								<option></option>
								<option value='1'>Ropa y calzado</option>
								<option value='2'>Bares</option>
								<option value='3'>Restaurantes</option>
								<option value='4'>Caf&eacute;s</option>
								<option value='5'>Regalos</option>
								<option value='6'>Viajes</option>
								<option value='7'>Belleza y Salud</option>
								<option value='8'>Entretenimiento</option>
								<option value='9'>Otros</option>
							</select>
						</div>
						<div style='margin-top:0.4em;'>
							<select id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:318px;">
								{% include "app/select-resources.html" %}
							</select>
						</div>
					</form>
					<div>
						<button class='btn btn-inverse' id='btn-search' style=''>Buscar</button>
						<button class='btn' id='btn-clear'>Cancelar</button>
					</div>
				</div>
			  	<div class=''>
			  		<h4><span style='font-size:1.5em;'>Populares</span></h4>
			  		<div>
			  			<div>
			  				{% for fav in favs %}
			  				<div class='popu-deal-container'>
					      		<div class='deal-wrapper'>
					      			{% with fav.category|first as cat %}
					      			<div class='floatleft' style='width:76px;'>
										<img src="/static/images/categories/icons/{{ cat }}-icon.png">
									</div>
									{% endwith %}
					      			<div class='popu-preview-content floatleft' style='width:176px;'>
					      				<div>
						      				<a href="javascript:void(0);" onclick='javascript:getDeal({{fav.id}});' class='floatleft gray'>
						      					<span class='popu-preview-h1'>{{fav.name}}</span>
						      				</a>
					      				</div><br>
					      				<div style=''> 
					      					<span style='font-size:0.9em;'><a href="/comercios/perfiles/{{fav.company_slug}}" class='popu-preview-h2 floatleft black bold'>{{fav.company}}</a></span>
					      				</div>
					      				<div style='clear:both;'></div>
					      			</div>

					      			<div class='floatright'>
					      				<div style='background:#F5F5F5; padding:5px;'>
					      					{% if fav.company_logo %}
												<img src='/static/images/companies/logos_56/56x56_{{fav.company_logo}}'>
											{% else%}
												<div style='width:56px; height:56px; background:#fff;'></div>
											{% endif %}
					      					
					      				</div>
					      			</div>
					      			<div style='clear:both;'></div>
					      		</div>
					      	</div>
					      	{% endfor %}
			  			</div>
			  		</div>
			  	</div>
			  	<div id="favorites-waypoint"></div>
			  	<div style='clear:both;'></div>
			</div>
		</div>
	</div>
</div>

<div class='modal hide' id='modal-deal-info'></div>
<div class='modal hide' id='modal-deal-save'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Hemos encontrado errores en la solicitud</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			El descuento seleccionado ya ha sido guardado.
		</p>
	</div>
</div>

{% if new_user %}
<div class='modal hide' id='modal-welcome' style='top:50%;'>
	<div class='modal-header' style=''>
		<button type="button" class="close" data-dismiss="modal"  style='color:#000;'>×</button>
		<img src="/static/images/logo_blog.png" width='220px'>
		<h3 style='color:#505050; text-align:center;'>&iexcl;Bienvenido {% if user.username %} {{user.username}} {% endif %}!</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<ul class='icons'>
			<li><i class="icon-ok-sign"></i>Crupzi te permite encontrar descuentos disponibles y utilizarlos en restaurantes, bares, centros comerciales y más. <strong>¡Sí, es gratis!</strong></li>
			<li><i class='icon-remove-sign'></i><strong>No necesitas comprar cupones ni imprimir ningún comprobante</strong>. Únicamente menciona el descuento en el comercio seleccionado y listo. Si, es así de fácil.
			<li><i class='icon-question-sign'></i>Si tienes alguna duda puedes visitar nuestra secci&oacute;n de <a href="/soporte/" target='_blank'>Preguntas Frecuentes</a><br><br>
			<i>"Comprar cupones es genial. Tener cupones gratis es aún más genial."</i>.
		</ul>
	</div>
</div>
{% endif %}

{% if not user.is_authenticated %}
<div class='notifications top-right' id='notification-welcome' style="margin-top:30px;"></div>
{% endif %}
{% if notification%}
<a href="#notification-newsletter-container" id="notification-newsletter" style="display:none;"></a>
<div style="display:none">
<div class='' id='notification-newsletter-container' style="z-index:5000;">
<div style="" class="notification-newsletter-header">
	<span style="color:#fff; font-size:1.5em; font-weight: 300;">&iexcl;Suscr&iacute;bete a nuestra lista VIP!</span>
</div>
<div style="padding: 1em;">
	Recibe semanalmente los mejores descuentos en m&aacute;s de 250 comercios.<hr style="margin:5px 0 10px 0;"><form onsubmit="return false;" id="form-newsletter"><input type="text" name="username" id="news-username" placeholder="Nombre" style="width:200px;"/> <input type="text" name="email" id="news-email" placeholder="Email" style="width:200px;"/><input type="text" name="message" id="news-message" style="display:none;"/><button class="btn btn-orange" style="margin-top:-10px; margin-left:10px;" name="btn-newsletter" id="btn-newsletter">Suscr&iacute;beme</button></form><div style="margin-top:-20px;">Recibir&aacute;s un correo para confirmar tu suscripci&oacute;n.<br> Podr&aacute;s eliminar tu suscripci&oacute;n en cualquier momento. Odiamos el spam, amamos el tocino.</div><div class="alert alert-success" id="newsletter-success" style="display:none;"><strong>&iexcl;Excelente!</strong><br>Ahora solo revisa tu correo y confirma tu suscripci&oacute;n dando clic en el enlace</div><div class="alert alert-error" id="newsletter-error" style="display:none;"><strong>&iexcl;Rayos!</strong><br>Algo sucedi&oacute;, si ya eres usuario de Crupzi, probablemente ya est&aacute;s inscrito. <br>Si no, int&eacute;ntalo nuevamente</div>
	<div class="alert alert-error" id="newsletter-notvalid" style="margin-top:10px; display:none;"><strong>&iexcl;Rayos!</strong><br>Debes completar ambos campos del formulario. <br>Recuerda que debes ingresar una dirección de correo válida. </div>
	</div>
</div>
</div>
<script type="text/javascript" src='/static/lib/fancybox/jquery.fancybox-1.3.4.js'></script>
<script type="text/javascript" src="/static/lib/js/waypoints.min.js"></script>
{% endif %}

<script type="text/javascript" src='/static/lib/js/bootstrap-modal.js'></script>
<script type="text/javascript">

var selectedTab=1;
var currentTab = 1;
var selectedCategory=0;
var currentCategory=0;
var loadedData = new Array();
var loadedCategory = new Array();
var newsletterAlreadyOpen = false;

$(document).ready(function(){
	$('#modal-welcome').modal('show');
	$('#notification-welcome').notify(
		{ 
			message: { html:'{% include "app/no-user-notification.html" %}'}, 
			fadeOut: { enabled: false}, type: 'blockAlert'
		}
	).show();



	/* Notification newslstter */
	/*$('#notification-newsletter').notify(
		{ 
			message: { html:'{% include "app/no-user-newsletter.html" %}'}, 
			fadeOut: { enabled: false}, type: 'blockAlert'
		}
	).show();*/
	{% if notification %}
	$("#notification-newsletter").fancybox({
		'padding': 0, 'width': 700, 'height': 459, 
		'autoScale'		: false,
		'transitionIn'	: 'none',
		'transitionOut'	: 'none',
		'scrolling': 'no',
		'centerOnScroll': false,
		onComplete: function(){newsletterAlreadyOpen=true;} 
	});
	{% endif %}

	$("#btn-newsletter").click(function(){
		$("#newsletter-success, #newsletter-error").hide();
		if(validateNewsletterForm()){
			$.post("/sendynewsletter/subscribe/", $("#form-newsletter").serialize(), function(data){
				if(data=='true' || data=='1'){
					$("#newsletter-success").show();
					setTimeout("parent.$.fancybox.close();", 4000);
					localStorage.setItem('newsletterSignUp',true);
				}
				else{
					$("#newsletter-error").show();
					setTimeout("$('#newsletter-error').hide();", 4000);
				}
			});	
		}
		else{
			$("#newsletter-notvalid").show();
			setTimeout("$('#newsletter-notvalid').hide();", 4000);
		}
	});


	$('#search-company').chosen({allow_single_deselect: true});
	$('#search-category').chosen();
	$('#search-resource').chosen();
	$('#search-mall').chosen({allow_single_deselect: true});
	$('input','#form-search').keypress(function(evt){
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			searchAction();
			return evt.preventDefault();
		}
  	});
	$('body').on('keydown', '.chzn-search input', function(evt) {
    	if (evt.which === 13 && $(this).closest('.chzn-container').find('.chzn-single-with-drop').length === 0) {
			searchAction();
			return evt.preventDefault();
		}
  	});
  	$('body').on('keydown', '.search-field input', function(evt) {
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			searchAction();
			return evt.preventDefault();
		}
  	});
	if($.getUrlVar('query')){
		getResultsFromQuery($.getUrlVars());
	}
	else
		getTabData();
});

$('#sel_country').change(function(){
	getTabData();
});

$('a[data-toggle="tab"]', '#ul-categories').on('shown', function (e) {
	var target = e.target.toString();
	var cat_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedCategory = cat_arr[1];
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			getTabData();
		else{
			$('.timeline-container','#tab-'+selectedTab).hide();
			$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
		}
	else
		getTabData();
});

function changeCategory(categ){
	if(selectedCategory!=categ){
		$('#cat-'+selectedCategory).removeClass('app-header-active');
		$('#cat-'+categ).addClass('app-header-active');
		selectedCategory = categ;
	}
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			getTabData();
		else{
			$('.timeline-container','#tab-'+selectedTab).hide();
			$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
		}
	else
		getTabData();
}

$('a[data-toggle="tab"]', '#ul-deals').on('shown', function (e) {
	var target = e.target.toString();
	var tab_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedTab = tab_arr[1];
	if(!loadedData[selectedCategory][selectedTab-1])
		getTabData();
	else{
		$('.timeline-container','#tab-'+selectedTab).hide();
		$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
	}
});

function getTabData(category, tab, page, append){
	if(!page) page = 1;
	if(!category) category = selectedCategory;
	if(!tab) tab = selectedTab;
	if(tab=='4' || tab==4) return;
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/"+category+"/"+tab+"/",
  		data: 'sel_country='+$('#sel_country').val()+'&page='+page,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			if(append){
	  				$('button[name^="btn-next-deals-"]','#tab-'+tab).hide();
	  				$('[name="timeline-tab-'+category+'"]','#tab-'+tab).append(html);
	  			}
	  			else
	  				$('[name="timeline-tab-'+category+'"]','#tab-'+tab).html(html);
	  			$('.timeline-container','#tab-'+tab).hide();
	  			$('[name="timeline-tab-'+category+'"]','#tab-'+tab).show();
	  			
	  			loadedCategory[category] = true;
	  			if(!loadedData[category]){
	  				loadedData[category]=new Array();
	  			}
	  			loadedData[category][tab-1]=true;
	  			$('.deal-social-fake','.deal-social', '[name="timeline-tab-'+category+'"]','#tab-'+tab).on("click hover",function(){
	  				var isthis = $(this).parent();
	  				jQuery.ajax({
  						type: "GET",
  						url: "/deals/get/social/"+$(this).parent().attr("data-id")+"/",
  						beforeSend: function(){
					  		$('button').attr('disabled',true);
					  		$('#loader').show();
				  		},
				  		success: function(html){
				  			$('button').attr('disabled',false);
	  						$('#loader').hide();
	  						if(html){
	  							isthis.html(html);
	  							twttr.widgets.load();						
	  							FB.XFBML.parse(isthis[0]);
	  						}
				  		}
	  				});
	  			});
	  		}
	  	}
	});
}

function getDealHtml(dealObj){
	var html = '';
	html+="<div class='deal-container'"+(dealObj.next_page?" next-page='"+dealObj.next_page+"'":'')+">";
  	html+="<div class='deal-wrapper'>";
  	html+="<div class='floatleft deal-preview-icon'>";
	html+="<img src='/static/images/icons/icon-category-"+dealObj.category+".jpg'>";
  	html+="</div>";
  	html+="<div class='floatleft deal-preview-content'>";
  	html+="<span class='deal-preview-h1'>"+dealObj.name+"</span>";
  	html+="<span class='deal-preview-h2'>";
  	html+=dealObj.company+","+dealObj.schedule;
  	html+="</span>";
  	html+="<span class='deal-preview-desc'>"+dealObj.description+"</span>";
  	html+="<div>";
  	html+="<div class='floatleft'>";
  	html+="<img src='/static/images/icons/facebook-share.png'>";
  	html+="<img src='/static/images/icons/twitter-share.png'>";
  	html+="</div>";
  	html+="<div class='floatleft deal-preview-save'>";
  	html+="<button class='btn btn-primary' onclick='javascript:saveDeal("+dealObj.id+");'><i class='icon-bookmark icon-white'></i>Guardar</button>";
  	html+="<button class='btn btn-info' style='margin-left: 1em;' onclick='javascript:getDeal("+dealObj.id+");'><i class='icon-plus icon-white'></i>Ver m&aacute;s</button>";
  	html+="</div>";
  	html+="<div style='clear:both;'></div>";
  	html+="</div>";
  	html+="</div>";
  	html+="<div class='floatleft'>";
  	html+="<img src=''>";
  	html+="</div>";
  	html+="<div style='clear:both;'></div>";
  	html+="</div>";
  	html+="</div>";
  	return html;
}

function getNextButton(category, tab, nextPage){
	var html ='';
	html+="<div class='span6'>";
	html+="<div class='next-deals'>";
	html+="<button class='btn' name='btn-next-deals' onclick='javascript:getNextPage("+category+","+tab+","+nextPage+");'>Ver siguientes</button>";
	html+="</div>";
	html+="</div>";
	html+='<div style="clear:both;"></div>'
	return html;
}

function getNextPage(category, tab, page){
	getTabData(category, tab, page, true);
}

function getDeal(dealId){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/code/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			$('#modal-deal-info').html(html);
	  			$('#modal-deal-info').modal('show');
	  			$('#deal-restrictions').html(linkify($('#deal-restrictions').html()));
	  			FB.XFBML.parse(document.getElementById("modal-deal-info"));
	  			twttr.widgets.load();	
	  		}
	  	}
	});
}

function saveDeal(dealId, popup){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/save/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			noty({text:html, timeout:'4000', layout:'bottom', type:'error'});
	  		}
	  		else{
	  			var msg = "<p><i class='icon-tag icon'></i>&nbsp;El descuento se guardó correctamente.</span></p>";
	  			noty({text: msg, timeout:'4000', layout:'bottom', type:'success'});
	  		}
	  	}
	});
}


/*Form Search*/

$('#btn-search').click(function(){
	searchAction();
});

function searchAction(){
	if(validateForm($('#form-search'))){
		if(selectedTab!='4' || selectedCategory!='0'){
			$('a[href="#cat-0"]', '#ul-categories').click();
			$('a[href="#tab-4"]', '#ul-deals').click();
		}
		getResults(1,false);
	}
	else
		alert('Debe especificar al menos un filtro.');
}

$('#btn-clear').click(function(){
	clearForm($('#form-search'));
	$('#li-search').hide();
	$('a[href="#cat-0"]', '#ul-categories').click();
	$('a[href="#tab-1"]', '#ul-deals').click();
});

function clearForm(form){
	$(form).find(':input').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            	$(this).val('-1');
            	break;
            case 'select-one':
            	$(this).val('-1');
            	break;
            case 'text':
            case 'textarea':
                $(this).val('');
                break;
            case 'checkbox':
            case 'radio':
                this.checked = false;
        }
    });
    $("#search-resource").trigger("liszt:updated");
    $("#search-category").trigger("liszt:updated");
    $("#search-company").trigger("liszt:updated");
    $("#search-mall").trigger("liszt:updated");
}

function validateForm(form){
	var filter = false;
	$(form).find(':input:not(.default)').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                if(jQuery.trim($(this).val())!='')
                	filter=true;
                break;
        }
    });
    return filter;
}

function getResults(page, append){
	if(!append)
		serializedQuery = $('#form-search').serialize();
	jQuery.ajax({
  		type: "GET",
  		url: "/search/get/"+page+"/",
  		data: serializedQuery,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			if(append){
	  				$('button[name^="btn-next-deals-"]', '#timeline-tab-4').hide();
	  				$('.timeline-container','#timeline-tab-4').append(html);
	  			}
	  			else{
	  				$('.timeline-container','#timeline-tab-4').html(html);
	  				$('#li-search').show();
	  			}
	  		}
	  		$('.deal-social-fake','.deal-social', '#timeline-tab-4').on("click hover",function(){
  				var isthis = $(this).parent();
  				jQuery.ajax({
						type: "GET",
						url: "/deals/get/social/"+$(this).parent().attr("data-id")+"/",
						beforeSend: function(){
				  		$('button').attr('disabled',true);
				  		$('#loader').show();
			  		},
			  		success: function(html){
			  			$('button').attr('disabled',false);
  						$('#loader').hide();
  						if(html){
  							isthis.html(html);
  							twttr.widgets.load();
  							FB.XFBML.parse(isthis[0]);
  						}
			  		}
  				});
  			});
	  	}
	});
}

$("#text-filter").keyup(function () {
    var filter = $(this).val(), count = 0;
    $(".deal-container","#timeline-tab-4").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).addClass("hidden");
        } else {
            $(this).removeClass("hidden");
            count++;
        }
    });
    $("#filter-count").text(count);
});

$('a[href="#tab-4"]', '#ul-deals').click(function(){

});

function getResultsFromQuery(queryObject){
	for (key in queryObject){
		$('#form-search').find(':input:not(.default)').each(function() {
			if($(this).attr('id')==key){
				$(this).val(queryObject[key]);
			}
			if($(this).attr('id')=='search-desc')
				$(this).val(decodeURIComponent($(this).val()));
		});
	}
	$("#search-resource").trigger("liszt:updated");
    $("#search-category").trigger("liszt:updated");
    $("#search-company").trigger("liszt:updated");
    $("#search-mall").trigger("liszt:updated");
    getResults(1);
	loadedCategory[0] = true;
	loadedData[0]=new Array();
	//loadedData[0][3]=true;
	$('a[href="#tab-4"]', '#ul-deals').click();
    
}

{% if notification %}

$("#favorites-waypoint").waypoint(function(direction) {
  if (direction=="down" && !newsletterAlreadyOpen && !localStorage.getItem("newsletterSignUp"))
  	$("#notification-newsletter").click();
}, { offset: "-550" });

function validateNewsletterForm(){
	return (jQuery.trim($("#news-username").val())!='' && isEmail($("#news-email").val()) );
}

function isEmail(email) {
  var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}

{% endif %}


/*$('input','#form-search').focus(function(){

})*/

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$("#loader").show();
  		},
	  	success: function(json){
	  		$('button').attr('disabled',false);
	  		$("#loader").hide();
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}

</script>

{% endblock %}