<!doctype html >
<html xmlns:fb="http://ogp.me/ns/fb#">

<head>
	<title>{% block title %} Crupzi.com {% endblock %}</title>
	<link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"> 
	<!-- <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
	<link href="/static/lib/css/base.css?time=1385000487" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-notify.css">
  <link href="/static/lib/css/bootstrap-replace.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/lib/chosen/chosen.css">
  <link rel="stylesheet" type="text/css" href="/static/lib/font-awesome/css/font-awesome.min.css?t=1385438913">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon-precomposed.png"/>
  <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>

  <style type="text/css">
  .nav-pills-app li{
    font-family: 'Open Sans','Helvetica','Arial', sans-serif;
    border-left: 1px solid black; border-right: 1px solid black;
    font-size: 0.7em; padding: 0.5em 1em 0.5em 1em; margin-left: -1px;}
  .nav-pills-app > .active > a,
  .nav-pills-app > .active > a:hover { color: #ffffff; background-color: #353535;}
  .nav-pills-app > li > a:hover { text-decoration: none; background-color: #606060; }
  .nav-pills-user > .active > a,
  .nav-pills-user > .active > a:hover { color: #ffffff; background-color: #353535; }
  .nav-pills-user > li > a:hover { text-decoration: none; background-color: #606060; }
  .nav-pills-user li{ border-left: 0px solid black; border-right: 0px solid black; font-size: 1em; }
  .nav-pills-user{ height: 42px;}
  .nav-pills-user .caret:hover{ color:#fff; background: #fff; }
  .app-header-cat{ height: 100px; padding: 0.5em;}
  .app-header-cat span{ font-size: 0.8em; font-family: 'Economica', sans-serif; color: #fff;}
  .app-header-cat img{ opacity:0.6; filter:alpha(opacity=60); /* For IE8 and earlier */}
  .app-header-active{ background: #f5f5f5; color: #000; padding: 0.5em;}
  .app-header-active img{ opacity:1; filter:alpha(opacity=100); /* For IE8 and earlier */}
  .app-header-active span{ color: #000;}
  .popover-title{ color: #333; font-size: 1em;}
  .popover-content{font-size: 1em; color: #333; font-weight: 300;}
  .btn-action {
  background-color: hsl(218, 3%, 37%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a6c70", endColorstr="#5b5d61");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#6a6c70), to(#5b5d61));
  background-image: -moz-linear-gradient(top, #6a6c70, #5b5d61);
  background-image: -ms-linear-gradient(top, #6a6c70, #5b5d61);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6c70), color-stop(100%, #5b5d61));
  background-image: -webkit-linear-gradient(top, #6a6c70, #5b5d61);
  background-image: -o-linear-gradient(top, #6a6c70, #5b5d61);
  background-image: linear-gradient(#6a6c70, #5b5d61);
  border-color: #5b5d61 #5b5d61 hsl(218, 3%, 35.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
  height: 26px; width: 75px;
  }
  .tab-content, .timeline-container{ overflow: visible;}
  .url{ color: #088CAD; text-decoration: none; } .url:hover{ color: #088CAD; text-decoration: underline; }
  </style>
	{% block linkcss %}{% endblock %}
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
  <script type="text/javascript" src='/static/lib/js/jquery-1.7.1.min.js'></script>
  <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src='/static/lib/js/bootstrap-modal.js'></script>
  <script type="text/javascript" src='/static/lib/js/bootstrap-notify.js'></script>
  <script type="text/javascript" src='/static/lib/chosen/chosen.jquery.min.js'></script>
  <script type="text/javascript" src='/static/lib/js/noty/jquery.noty.js'></script>
  <script type="text/javascript" src='/static/lib/js/noty/layouts/bottom.js'></script>
  <script type="text/javascript" src="/static/lib/js/noty/themes/default.js"></script>
  <script type="text/javascript" src='/static/lib/js/linkify.js'></script>
	{% block scriptjs %}{% endblock %}
  {% block meta %}
  <meta property="og:image" content="http://www.crupzi.com/static/images/logo_crupzi.png"/>
  <meta property="og:image" content="http://www.crupzi.com/static/images/logo_crupzi.png"/>
  <meta property="og:url" content="http://www.crupzi.com/"> 
  <meta property="og:title" content="Crupzi.com"> 
  <meta property="og:description" content="Crupzi te permite encontrar descuentos disponibles, almacenarlos para fácil acceso y utilizarlos en restaurantes, bares, centros comerciales, y más. ¡Sí, es gratis!">
  <meta property="og:type" content="website"/>
  <meta property="fb:app_id" content="351082044978229"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% endblock %}
</head>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35442362-1']);
  _gaq.push(['_setCampSourceKey', 'utm_source']);
  _gaq.push(['_setCampMediumKey', 'utm_medium']);
  _gaq.push(['_setCampContentKey', 'utm_content']);
  _gaq.push(['_setCampTermKey', 'utm_keyword']);
  _gaq.push(['_setCampNameKey', 'utm_campaign']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  //jQuery extension for getting the values of a query string
  $.extend({
    getUrlVars: function(){
      var vars = [], hash;
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
      for(var i = 0; i < hashes.length; i++)
      {
        hash = hashes[i].split('=');
        if(vars[hash[0]]){
          if( Object.prototype.toString.call( vars[hash[0]] ) === '[object Array]' ) 
            vars[hash[0]].push(hash[1]);
          else
            vars[hash[0]] = new Array(vars[hash[0]],hash[1]);
        }
        else{
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
      }
      return vars;
    },
    getUrlVar: function(name){
      return $.getUrlVars()[name];
    }
  });

</script>
<body>
  {% if not not_user %}
  {% block user-header %}
  <div class='container' style='background: url(/static/images/app/0-deg.png); height:243px;'>
    <div style='' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
            <li class='{% block active-home %}{% endblock %}'><a href="/inicio"><i class='icon-home icon-white'></i></a></li>
            <li class='{% block active-com %}{% endblock %}'><a href="/comercios/lista/" data-target="tab">Comercios</a></li>
            <li class=''><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
            {% if user_profile %}
            <li class='{% block active-user %}{% endblock %}'><a href="/mis-descuentos/" data-target="tab">Mis Descuentos</a></li>
            <li>
              {% if display %}
              <div class='floatleft' style=''>
                <img src="{{ display }}" width='32px'>
              </div>
              {% endif %}
              <div class='floatright' style='text-align:right; padding:0 0 0 0em; max-height:35px; margin-top:-5px;  '>
                <div>
                  <div style='margin:0; text-align:center;'><span style='color:#fff; font-size:1.1em;'>Bienvenido</span></div>
                  <ul class="nav nav-pills nav-pills-user" style='margin-top:-10px;'>
                    <li class="dropdown {% block active-profile %}{% endblock %}">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}<b class="caret"></b></a>
                      <ul class="dropdown-menu  pull-right">
                        <li><a href="/cuenta/perfil">Editar perfil</a></li><li><a href="/logout">Salir</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div style='clear:both;'></div>
            </li>
            {% else %}
            <li class='dropdown'>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Iniciar sesi&oacute;n <b class="caret"></b></a>
              <ul class="dropdown-menu  pull-right">
                <div style=''>
                  <div class='social-header' style='text-align:left; margin-left:20px; margin-bottom:5px;'>Ingresa con :</div>
                  <div style='text-align:left; margin-left:20px;'>
                    <a href="{%  url socialauth_begin 'facebook' %}" class='floatleft'>
                        <img class="index-icon" src="/static/images/facebook.png"/>
                    </a>
                    <a href="{%  url socialauth_begin 'twitter' %}" class='floatleft' style="margin-left:10px;">
                        <img class="index-icon" src="/static/images/twitter.png"/>
                    </a>
                    <a href="http://www.crupzi.com/login/google-oauth2/" class='floatleft' style="margin-left:10px;">
                        <img class="index-icon" src="/static/images/google.png"/>
                    </a>
                    <div style='clear:both;'></div>
                  </div>                  
                </div>
              </ul>
            </li>
            {% endif %}     
          </ul>
        </div>
        <div style='clear:both;'></div>
      </div>      
    </div>
    <div>
        <div style='margin:60px 0 0 140px;'>
          <div class='floatleft app-header-cat app-header-active'  id='cat-0'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(0);'>
              <div>
                <div><img src="/static/images/categories/icons/0-icon.png"></div>
                <div style='text-align:center;'><span>Todos</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-1'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(1);'>
              <div>
                <img src="/static/images/categories/icons/1-icon.png">
                <div style='text-align:center;'><span>Ropa</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-2'>
            <div>
              <a href="javascript:void(0);" onclick='javascript:changeCategory(2);'>
                <div>
                  <img src="/static/images/categories/icons/2-icon.png">
                  <div style='text-align:center;'><span>Bares</span></div>
                </div>
              </a>
            </div>
          </div>
          <div class='floatleft app-header-cat' id='cat-3'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(3);'>
              <div>
                <img src="/static/images/categories/icons/3-icon.png">
                <div style='text-align:center;'><span>Restaurantes</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-4'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(4);'>
              <div>
                <img src="/static/images/categories/icons/4-icon.png">
                <div style='text-align:center;'><span>Caf&eacute;s</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-5'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(5);'>
              <div>
                <img src="/static/images/categories/icons/5-icon.png">
                <div style='text-align:center;'><span>Compras</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-6'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(6);'>
              <div>
                <img src="/static/images/categories/icons/6-icon.png">
                <div style='text-align:center;'><span>Viajes</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-7'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(7);'>
              <div>
                <img src="/static/images/categories/icons/7-icon.png">
                <div style='text-align:center;'><span>Belleza y Salud</span></div>
              </div>
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-8'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(8);'>
              <div>
                <img src="/static/images/categories/icons/8-icon.png">
                <div style='text-align:center;'><span>Entretenimiento</span></div>
              </div>  
            </a>
          </div>
          <div class='floatleft app-header-cat' id='cat-9'>
            <a href="javascript:void(0);" onclick='javascript:changeCategory(9);'>
              <div>
                <img src="/static/images/categories/icons/9-icon.png">
                <div style='text-align:center;'><span>Otros</span></div>
              </div>
            </a>
          </div>
          <div style='clear:both;'></div>
        </div>

      </div>
  </div>
  {% endblock %}

  {% endif %}
  {% block sub-header %}
  <div class='container content-body'>
    <div class='span4'>
      <div>
        <label>Pa&iacute;s</label>
        <select id='sel_country'>
          {% for country in countries%}
            {% if country.id == user_country.country_id %}
              <option value="{{country.id}}" selected>{{country.name}}</option>
            {% else %}
              <option value="{{country.id}}">{{country.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  {% endblock %}
	{% block content %}
	{% endblock %}
  <div style='clear:both;'></div>
  <div class='container sectionfooter1'>
    <div>
      <div class='span2'>
      <label>Crupzi.com</label>
          <ul>
            <li><a href="{% url features %}" target='_blank'>Beneficios</a></li>
            <li><a href="{% url commerce %}" target='_blank'>Comercios</a></li>
            <li><a href="{% url us%}" target='_blank'>Nosotros</a></li>
            <li><a href="/tutoriales" target='_blank'>Tutoriales</a></li>
          </ul>
        </div>
        <div class='span2'>
          <label>Comunidad</label>
          <ul>
            <li><a href="{% url contact %}" target='_blank'>Contacto</a></li>
            <li><a href="{% url support %}" target='_blank'>Soporte</a></li>
            <li><a href="mailto:info@crupzi.com" target='_blank'>Feedback</a></li>
            <li><a href="http://en.crupzi.com/kitDePrensa" target="_blank">Kit de Prensa</a></li>
          </ul>
        </div>
        <div class='span2'>
          <label>Social</label>
          <ul>
            <li><a href="http://www.facebook.com/crupzi" target='_blank'>Facebook</a></li>
            <li><a href="http://www.twitter.com/crupzi" target='_blank'>Twitter</a></li>
            <li><a href="http://blog.crupzi.com">Blog</a></li>
          </ul>
        </div>
        <div class='offset3 span3'>
        <div style='margin-bottom:10px;'>
          <img src="/static/images/app/corazon.png" class='floatleft'>
          <div class='floatleft crupzi-share'>
            Comparte tu amor por Crupzi con tus amigos:
          </div>
        </div>
        <div>
          <div style='margin:40px 0 0 40px;'>
            {% if user_profile %}
            <div class='floatleft' style='margin-right:10px;'><a href="javascript:void(0);" onclick="javascript:openEmailShare();"><img src="/static/images/footer-mail.png"></a></div>
            {% endif %}
            <div class='floatleft'>
              <a href="#" target="_blank" class="btn-share" data-name="facebook"><img src="/static/images/footer-fb.png"></a>
            </div>
            <div class='floatleft' style='margin-left:10px;'>
              <a href="#" target="_blank" class="btn-share" data-name="twitter"><img src="/static/images/footer-tw.png"></a>
            </div>
            <div style='clear:both;'></div>
          </div>
        </div>
      </div>
      </div>
  </div>
<div class='container sectionfooter2'>
  <div class='floatleft' style='width:200px; margin-left: 10px;'>
    <img src="/static/images/landing/logo.png">
  </div>
  <div class='floatleft' style='width:550px; margin: 5px 0 0 30px;'>
    <p>
    Las cosas son simples hasta que alguien las complica. Nuestra misi&oacute;n es crear cosas simples y geniales que a&uacute;n no existen pero creemos deber&iacute;an existir.
    </p>
  </div>
  <div style='clear:both;'></div>
</div>
<div id='loader' class='ajax-loader'>
  <div style='margin: 0 auto;'>
      <img src="/static/images/load.gif">
      <p style='color: #BAB095;'>Cargando ...</p>
  </div>
</div>
<div class="modal hide fade" id='modal-emailshare'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Comparte Crupzi con tus amigos</h3>
  </div>
  <div class="modal-body">
    <div> <!-- Form -->
      <form method="POST" name='form-invitation' id='form-invitation'>
        <div class='my-url'>
          <input id='email-url' name='email-url'>
        </div>
        <div id='email-div'>
          <label>Correo de tu amigo</label>
          <input id='email-to' name='email-to' placeholder="usuario@direccion.com," style='width:60%;' type='text'></input>
          <span class="help-inline">Introduzca una dirección válida.</span>
        </div>
        <div>
          <label>Mensaje</label>
          <textarea style='width:60%;' id='email-msg' name='email-msg'></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" onclick='javascript:sendInvitation();' class="btn btn-primary">Enviar</a>
  </div>
</div>
  
  <!-- Twitter Script -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- End Twitter Script -->

  <!-- Facebook Script -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=351082044978229";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!-- end Facebook Script -->
  <script type="text/javascript">

  $('.btn-share').click(function(event) {
    var fbShare = "https://www.facebook.com/sharer/sharer.php?u=www.crupzi.com";
    var twitterShare = "https://twitter.com/intent/tweet?text=Crupzi%20te%20permite%20encontrar%20los%20mejores%20descuentos.&tw_p=tweetbutton&url=http%3A%2F%2Fwww.crupzi.com%2F&via=crupzi";
      var width  = 575,
          height = 400,
          left   = ($(window).width()  - width)  / 2,
          top    = ($(window).height() - height) / 2,
          url    = this.href,
          opts   = 'status=1' +
                   ',width='  + width  +
                   ',height=' + height +
                   ',top='    + top    +
                   ',left='   + left;
      window.open(($(this).attr("data-name")=="facebook"?fbShare:twitterShare), 'share window', opts);
      return false;
    });
  
  function openEmailShare(){
    clearEmailForm();
    $('#modal-emailshare').modal('show');
  }

  function clearEmailForm(){
    $('#email-url').val('');
    $('#email-to').val('');
    $('#email-msg').val('');
    $('#email-div').removeClass('control-group error');
    $('.help-inline','#email-div').hide();
  }

  function validateEmailForm(){
    var to_emails = $('#email-to').val();
    if(jQuery.trim($('#email-to').val())=='') return false;
    var array = to_emails.split(',');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var valid = true;
    for (var i=0;i<array.length;i++){
      if(jQuery.trim(array[i])!='')
        if(!filter.test(jQuery.trim(array[i]))) valid = false;
    }
    return valid;
  }

  function sendInvitation(){
    if(validateEmailForm()){
      var formData = $('#form-invitation').serialize();
      jQuery.ajax({
          type: "POST",
          url: "/send_invitation/",
          data: formData,
          beforeSend: function(){
            $('button').attr('disabled',true);
          },
          success: function(json){
            $('#modal-emailshare').modal('hide');
            $('button').attr('disabled',false);
            var data = eval(json);
            if(data[0].error == true){
              noty({text:'Se encontraron errores. Intentalo más tarde.', timeout:'4000', layout:'bottom', type:'error'});
            }
            else{
              var msg = "¡Gracias por recomendar Crupzi!";
              noty({text: msg, timeout:'4000', layout:'bottom', type:'success'});
            }
          }
      });
    }
    else{
      $('#email-div').addClass('control-group error');
      $('.help-inline','#email-div').show();
    }
    
  }
  $('[data-toggle="popover"]').popover({
        html: true,
        trigger: 'hover'
  });
  </script>
</body>
</html>