{% regroup resources by entity.name as res_list %}
{% for entity in res_list %}
    <optgroup label='{{ entity.grouper }}'>
    {% for item in entity.list %}
          <option value='{{item.id}}'>{{entity.grouper}} - {{item.name}}</option>
    {% endfor %}
    </optgroup>
{% endfor %}
<optgroup label='Descuentos que no requieren tarjeta'><option value='0'>Sin tarjeta</option></optgroup>
