{% extends 'app/app-base.html' %}
{% load deals_filters %}

{% block user-header %}

{% endblock %}

{% block sub-header %}
	<div class='container'>
	</div>
{% endblock %}

{% block content %}

<style type="text/css">

.nav-tabs.nav-stacked > li > a {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #fff;
	padding-top:0.7em;
	padding-bottom: 0.7em;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: #333;
	cursor: default;
	background-color: #fff;
	border: 1px solid #E0DCBB;
	border-bottom-color: transparent;
	font-weight: bold;
}

.main-container{
	background:#fff; padding: 1em;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sub-container{
	padding: 1em; 
	margin-left: -1em;
	margin-right: -1em;
}
.border-bottom{
	border-bottom:1px solid #ddd;
}
.subscription-title{
	font-size: 1.5em; font-weight:bold;
	max-width: 300px;
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

</style>

<div class='container' style='padding-bottom:200px; background:#f5f5f5;'>
	<div style='' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
          	<li><a href="/inicio"><i class='icon-home icon-white'></i></a></li>
            <li><a href="/comercios/lista/" data-target="tab">Comercios</a></li>
            <li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
            <li><a href="/mis-descuentos/" data-target="tab">Mis Descuentos</a></li>
            <li>
              {% if profile.display %}
              <div class='floatleft' style=''>
                <img src="{{ profile.display }}" width='32px'>
              </div>
              {% endif %}
              <div class='floatright' style='text-align:right; padding:0 0 0 0em; max-height:35px; margin-top:-5px;  '>
                <div>
                  <div style='margin:0; text-align:center;'><span style='color:#fff; font-size:1.1em;'>Bienvenido</span></div>
                  <ul class="nav nav-pills nav-pills-user" style='margin-top:-10px;'>
                    <li class="dropdown active">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          {{ user.username }}<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu  pull-right">
                        <li><a href="/cuenta/perfil">Editar perfil</a></li>
                        <li><a href="/logout">Salir</a></li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
              <div style='clear:both;'></div>
            </li>          
          </ul>
        </div>
        <div style='clear:both;'></div>
      </div>
      
    </div>
    <div style="margin-top:60px;">
	    <div class="span5" style="">
	    	<div style="margin-left:40px;">
		    	<div class="main-container">
		    		<div class="floatleft">
		    			{% if profile %}
							{% if profile.display %}
								<img src="{{profile.display}}" width='60' style='margin-right:20px;'>
							{% endif %}
						{% endif%}
		    		</div>
		    		<div class="floatleft" style="line-height:1.5;">
		    			<span class='bold' style='font-size: 1.5em;'>{{user.username}}</span><br>
		    			<span class="" style='font-size: 1em;'>{{user.email}}</span><br>
		    		</div>
		    		<div style="clear:both;"></div>
		    	</div>
		    	<div class="" style="margin-top:20px;">
		    		<ul class="nav nav-tabs nav-stacked tabs">
		    			<li class="active"><a href="#tab-profile" data-toggle="tab"><i class="icon-chevron-right pull-right"></i>Perfil</a></li>
		    			<li><a href="#tab-subscriptions" data-toggle="tab"><i class="icon-chevron-right pull-right"></i>Mis suscripciones</a></li>
		    			<li><a href="#tab-suggestions" data-toggle="tab"><i class="icon-chevron-right pull-right"></i>Mis recomendaciones</a></li>
		    		</ul>
		    	</div>
	    	</div>
	    </div>
	    <div class='span7 tab-content' >
			<div id="tab-profile" class="tab-pane active">
				<div class='main-container' style="">
					<div style="" class="sub-container border-bottom">
						<span style="font-weight:bold; font-size:2em;">Perfil</span><br>
					</div>	
					<div class='sub-container' style="padding:1em;">
						<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
							{{ form.non_field_errors }}
							{% for field in form %}
								<div class="fieldWrapper inline-fields">
									{{ field.errors }}
									{% if field.name == 'newsletter' or field.name == 'notice' %}
										<div class='floatleft'>{{ field }}</div>
										<div class='floatleft' style='width:40%; margin:0.8em 0 0 12px;'>{{ field.label_tag }}</div>
										
									{% else %}
										<div class='inline-label floatleft' style='width:35%;'>{{ field.label_tag }}</div>
										<div class='inline-input floatleft'>{{ field }}</div><br>
									{% endif %}
									<div style='clear:both;'></div>
								</div>
							{% endfor %}
							<div style='padding-top: 1em;'>
								<input type="submit" value="Guardar" class='btn btn-black'/>
							</div>
						</form>
					</div>
				</div>
			
			</div>
			<div class="tab-pane main-container" id="tab-subscriptions" style="background:#fff;">
				<div style="" class="sub-container border-bottom">
					<span style="font-weight:bold; font-size:2em;">Mis suscripciones</span><br>
					<span>Recibir&aacute;s notificaciones de estos comercios</span>
				</div>
				{% if subscriptions %}
					{% for item in subscriptions %}
						<div data-companyid="{{ item.id }}" class="sub-container {% if not forloop.last %}border-bottom{% endif %}">
							<div class="floatleft" style="width:400px;">
								<div class="floatleft">
									<img src="/static/images/companies/logos_56/56x56_{{item.logo}}" style="border: 1px solid #f5f5f5; padding:5px;">
								</div>
								<div class="floatleft" style="line-height:1.2; margin: 10px 1em 0 1em;">
									<span class="subscription-title">{{ item.name }}</span><br>
									<p style="font-size:1.2em;">{{ item.categories|joinby:" • "}}</p>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div class="floatleft" style="margin-top:20px;">
								<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:unsubscribe({{ item.id }});"><i class="fa fa-check-circle"></i> Eliminar</a>
								<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:subscribe({{ item.id }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
							</div>
							<div style="clear:both;"></div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="tab-pane main-container" id="tab-suggestions" style="background:#fff;">
				<div style="" class="sub-container border-bottom">
					<span style="font-weight:bold; font-size:2em;">Mis recomendaciones</span><br>
					<span>&iquest;Quieres recibir notificaciones de estos comercios?</span>
				</div>
				{% if non_subscriptions %}
					{% for item in non_subscriptions %}
						<div data-companyid="{{ item.id }}" class="sub-container {% if not forloop.last %}border-bottom{% endif %}">
							<div class="floatleft" style="width:400px;">
								<div class="floatleft">
									<img src="/static/images/companies/logos_56/56x56_{{item.logo}}" style="border: 1px solid #f5f5f5; padding:5px;">
								</div>
								<div class="floatleft" style="line-height:1.2; margin: 10px 1em 0 1em;">
									<span class="subscription-title">{{ item.name }}</span><br>
									<p style="font-size:1.2em;">{{ item.categories|joinby:" • "}}</p>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div class="floatleft" style="margin-top:20px;">
								<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:unsubscribe({{ item.id }});"><i class="fa fa-check-circle"></i> Eliminar</a>
								<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:subscribe({{ item.id }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
							</div>
							<div style="clear:both;"></div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src='/static/lib/js/jquery.maskedinput-1.3.min.js'></script>
<script type="text/javascript">

var currentCity;

$(document).ready(function(){
	$( "#id_birthday" ).mask("99/99/9999");
	currentCity = $('#id_city').val();
	getCities(true);
});

$('#id_country').change(function(){
	getCities();
});

function getCities(firstLoad){
	jQuery.ajax({
  		type: "GET",
  		url: "{% url users_get 'cities'%}",
  		data: "country_id="+$('#id_country').val(),
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(data){
	  		$('button').attr('disabled',false);
	  		if(data){
	  			json = eval(data);
	  			var html=''
	  			for (key in json){
	  				html+="<option value='"+json[key].pk	+"'>"+json[key].fields['name']+"</option>"
	  			}
	  			$('#id_city').html(html);
	  			if(firstLoad)
	  				$('#id_city').val(currentCity);
	  		}
	  	}
	});
}
function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$("#loader").show();
  		},
	  	success: function(json){
	  		$('button').attr('disabled',false);
	  		$("#loader").hide();
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}
</script>

{% endblock %}