{% extends 'app/app-base.html' %}
{% block title %} Crupzi.com - Mis descuentos {% endblock %}
{% block sub-header %}
	<div></div>
{% endblock %}
{% block active-user %}active{% endblock %}
{% block content %}
<div class='container' style='background:#f5f5f5; padding-bottom:50px;'>
	<div>
		<div class='span8' style='margin:20px 0 0 0px;'>
			<div class=''>
				<div class="tabtable"> <!-- Only required for left/right tabs -->
					<div>
						<div class='floatleft' style='padding:0.5em 0 0 25px;'>
							<span class='bold' style='font-size:1.8em;'>Mis descuentos</span>
						</div>
			  			<ul class="tabs nav nav-pills nav-pills-font-large floatleft" id='ul-deals' style='margin-left:100px;'>
				    		<li class="active"><a href="#tab-1" data-toggle="tab">Timeline</a></li>
					    	<li><a href="#tab-2" data-toggle="tab">Hoy</a></li>
					    	<li><a href="#tab-3" data-toggle="tab" id='li-search' style='display:none;'>B&uacute;squeda</a></li>
				  		</ul>
				  		<div style='clear:both;'></div>
			  		</div>
					<div class="tab-content">
					    <div class="tab-pane active" id="tab-1">
							<div name='timeline-tab-0' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-1' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-2' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-3' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-4' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-5' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-6' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-7' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-8' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-9' class='timeline-container' style='display:none;'></div>
					    </div>
					    <div class="tab-pane" id="tab-2">
				      		<div name='timeline-tab-0' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-1' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-2' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-3' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-4' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-5' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-6' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-7' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-8' class='timeline-container' style='display:none;'></div>
							<div name='timeline-tab-9' class='timeline-container' style='display:none;'></div>
					    </div>
					    <div class="tab-pane" id="tab-3">
					    	<div id='timeline-tab-3'>
								<h4 class='padding-small'>Resultados de la b&uacute;squeda</h4>	
								<div id='search-results'>
									<div class='padding-normal' style='padding-top:0.5em;'>
										Filtrar en resultados <input type='text' id='text-filter'>
									</div>
									<div style='clear:both;'></div>
									<div class='timeline-container'></div>
								</div>
							</div>
						</div>
	  				</div>
				</div>
			</div>
		</div>
		<div class='span5' style='background:#F4F4F6;'>
			<div style='padding:1em;'>
				<div style='display:none;'>
				    <select id='sel_country'>
						{% for country in countries%}
				        {% if country.id == user_country.country_id %}
				      		<option value="{{country.id}}" selected>{{country.name}}</option>
				        {% else %}
				      		<option value="{{country.id}}">{{country.name}}</option>
				        {% endif %}
					{% endfor %}
					</select>
				</div>
				<div style='margin:55px 0 0.2em 0;' >
		  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/lupa.png"></div>
					<div class='floatleft'><h4 style='font-weight:300;'><span style='font-size:1.5em; font-weight:700;'>B&uacute;squeda</span> <br>de descuentos</h4></div>
					<div style='clear:both;'></div>
				</div>
				<div class='container-gray' >
					<form id='form-search' action='/search/get/' method='GET'>
						<input type='hidden' id='hid-user' name='hid-user' value='1'/>
						<div>
							<input type='text' name='search-desc' id='search-desc' style='width: 305px;' placeholder="Descripci&oacute;n"/>
						</div>
						<div>
							<select id='search-mall' name='search-mall' data-placeholder="Centro comercial" style="width:318px;">
								<option></option>
								{% for mall in malls%}
									<option value='{{mall.id}}'>{{mall.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div style='margin-top:0.6em;'>
							<select id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style="width:318px;">
								<option></option>
								{% for company in companies%}
									<option value='{{company.id}}'>{{company.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div style='margin-top:0.4em;'>
							<select id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:318px;">
								<option></option>
								<option value='1'>Ropa y calzado</option>
								<option value='2'>Bares</option>
								<option value='3'>Restaurantes</option>
								<option value='4'>Caf&eacute;s</option>
								<option value='5'>Regalos</option>
								<option value='6'>Viajes</option>
								<option value='7'>Belleza y Salud</option>
								<option value='8'>Entretenimiento</option>
								<option value='9'>Otros</option>
							</select>
						</div>
						<div style='margin-top:0.4em;'>
							<select id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:318px;">
								{% include "app/select-resources.html" %}
							</select>
						</div>
					</form>
					<div>
						<button class='btn btn-inverse' id='btn-search-user'>Buscar</button>
						<button class='btn' id='btn-clear'>Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modals -->
<div class='modal hide' id='modal-deal-info'></div>
<div class='modal hide' id='modal-deal-remove'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Hemos encontrado errores en la solicitud</h3>
	</div>
	<div class='modal-body' id='modal-deal-remove-body'>
		<p>
			El descuento seleccionado ya ha sido removido.
		</p>
	</div>
</div>
<script type="text/javascript">

var selectedCategory = 0;
var currentCategory = 0;
var selectedTab = 1;
var currentTab = 1;
var loadedData = new Array();
var loadedCategory = new Array();

function fillLoadedDataArrays(){
	var tabs = 2, categories = 9;
	for(var i=0; i<=categories; i++) loadedCategory[i] = false;
	for(var i=0; i<=categories; i++){
		loadedData[i] = new Array();
		for(var j=0; j<tabs; j++)
			loadedData[i][j] = false;
	}
}

$(document).ready(function(){
	fillLoadedDataArrays();
	$('#search-company').chosen({allow_single_deselect: true});
	$('#search-category').chosen();
	$('#search-resource').chosen();
	$('#search-mall').chosen({allow_single_deselect: true});
	$('input','#form-search').keypress(function(evt){
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			searchAction();
			return evt.preventDefault();
		}
  	});
	$('body').on('keydown', '.chzn-search input', function(evt) {
    	if (evt.which === 13 && $(this).closest('.chzn-container').find('.chzn-single-with-drop').length === 0) {
			searchAction();
			return evt.preventDefault();
		}
  	});
  	$('body').on('keydown', '.search-field input', function(evt) {
    	if (evt.which === 13 && $(this).parent().parent().next('.chzn-drop').css('left')!='0px') {
			searchAction();
			return evt.preventDefault();
		}
  	});
	getTabData();
});

$('#sel_country').change(function(){
	getTabData();
});

$('a[data-toggle="tab"]', '#ul-categories').on('shown', function (e) {
	var target = e.target.toString();
	var cat_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedCategory = cat_arr[1];
	
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			getTabData();
		else{
			$('.timeline-container','#tab-'+selectedTab).hide();
			$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
		}
	else
		getTabData();
});

function changeCategory(categ){
	if(selectedCategory!=categ){
		$('#cat-'+selectedCategory).removeClass('app-header-active');
		$('#cat-'+categ).addClass('app-header-active');
		selectedCategory = categ;
	}
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			getTabData();
		else{
			$('.timeline-container','#tab-'+selectedTab).hide();
			$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
		}
	else
		getTabData();
}

$('a[data-toggle="tab"]', '#ul-deals').on('shown', function (e) {
	var target = e.target.toString();
	var tab_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedTab = tab_arr[1];
	if(!loadedData[selectedCategory][selectedTab-1])
		getTabData();
	else{
		$('.timeline-container','#tab-'+selectedTab).hide();
		$('[name="timeline-tab-'+selectedCategory+'"]','#tab-'+selectedTab).show();
	}
});

function getTabData(category, tab, page, append){
	if(!page) page = 1;
	if(!category) category = selectedCategory;
	if(!tab) tab = selectedTab;
	if(tab=='3' || tab==3) return;
	jQuery.ajax({
  		type: "GET",
  		url: "/user-deals/get/"+category+"/"+tab+"/",
  		data: 'sel_country='+$('#sel_country').val()+'&page='+page,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			if(append){
	  				$('button[name^="btn-next-deals-"]','#tab-'+tab).hide();
	  				$('[name="timeline-tab-'+category+'"]','#tab-'+tab).append(html);
	  			}
	  			else
	  				$('[name="timeline-tab-'+category+'"]','#tab-'+tab).html(html);
	  			$('.timeline-container','#tab-'+tab).hide();
	  			$('[name="timeline-tab-'+category+'"]','#tab-'+tab).show();
	  			
	  			loadedCategory[category] = true;
	  			if(!loadedData[category]){
	  				loadedData[category]=new Array();
	  			}

	  			loadedData[category][tab-1]=true;
	  			$('.deal-social-fake','.deal-social', '[name="timeline-tab-'+category+'"]','#tab-'+tab).on("click hover",function(){
	  				var isthis = $(this).parent();
	  				jQuery.ajax({
  						type: "GET",
  						url: "/deals/get/social/"+$(this).parent().attr("data-id")+"/",
  						beforeSend: function(){
					  		$('button').attr('disabled',true);
					  		$('#loader').show();
				  		},
				  		success: function(html){
				  			$('button').attr('disabled',false);
	  						$('#loader').hide();
	  						if(html){
	  							isthis.html(html);
	  							twttr.widgets.load();
	  							FB.XFBML.parse(isthis[0]);
	  						}
				  		}
	  				});
	  			});
	  		}
	  		else{
	  			$('.timeline-container','#tab-'+tab).hide();
	  			$('[name="timeline-tab-'+category+'"]','#tab-'+tab).show();
	  		}
	  	}
	});
}

function getDeal(dealId){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/code/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			$('#modal-deal-info').html(html);
	  			$('#modal-deal-info').modal('show');
	  			$('#deal-restrictions').html(linkify($('#deal-restrictions').html()));
	  			twttr.widgets.load();
	  			FB.XFBML.parse(document.getElementById("modal-deal-info"));
	  		}
	  	}
	});
}

function removeDeal(dealId, popup){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/remove/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			noty({text:html, timeout:'4000', layout:'bottom', type:'error'});
	  		}
	  		else{
	  			$('[name="deal-'+dealId+'"]').remove();
	  			var msg = "<p><i class='icon-ok icon'></i>&nbsp;El descuento se removió correctamente.</span></p>";
	  			noty({text: msg, timeout:'4000', layout:'bottom', type:'success'});
	  		}
	  	}
	});
}

function getNextPage(page){
	getTabData(null, null, page, true);
}

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$("#loader").show();
  		},
	  	success: function(json){
	  		$('button').attr('disabled',false);
	  		$("#loader").hide();
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}
</script>
<script type="text/javascript" src='/static/lib/js/app.search.js'></script>
{% endblock %}