<meta content="en-us" http-equiv="Content-Language"><meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Descuentos semanales Crupzi: Telepizza, Sushiitto, Devlyn, La Bodega Italiana y m&aacute;s</title>
<style type="text/css"> 
	@media only screen and (max-width: 600px) { 
		table{width:100%;} 
	img{width:100%; height:auto;}
	#logo-crupzi{width: 110px;}
	#header{margin-bottom: -20px;} 
	.footer{display:none;} 
	#table{border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;} 
	.tddivider{padding: 10px 0 10px 0;}
	.social-logo{width: 35px;}
} 
	
</style><!-- start wrapped table-->

<div style="height: 100%; margin: -8px;padding: 0;background: #fff;line-height: 1.6em;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
	<table width="100%" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
		<tbody>
			<tr>
				<td>
					<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
						<tbody>
						<tr>
							<td align="center" style="padding:10px 0 10px 0; color:#818180;">
							<p>&iquest;Este correo se ve extra&ntilde;o? Revisa la  <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></p>
							</td>
						</tr>
					</tbody>
					</table>
					<!-- end of header --><!-- defined email background color -->
					<table id="table" width="600" bgcolor="#fff" align="center" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;"><!-- star of header image -->
						<tbody>
							<tr>
								<td width='600'>
									<table bgcolor="#f5f5f5">
										<tbody>
											<tr>
												<td width="120"><img id="logo-crupzi" src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja-110.png" alt="" style="border: 0;" width="110"></td>
												<td width='480' align="right">
													<table style="color: #5a5a5a;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
														<tbody>
															<tr align="right">
																<td><span style="color: #362e25 !important; text-decoration: none; margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 17px;font-weight: bold;">Descuentos Crupzi</span></td>
															</tr>
															<tr align="right">
																<td>1 de abril de 2013</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
									
								</td>
							</tr>
							<tr>
								<td style="padding-top:10px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td><h2 style="text-decoration: none; margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 12px; font-weight:300">Hey [FirstName,fallback=]!</h2>

									<p>Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: </p>
									</td>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<!-- end module 17 --><!-- ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<!-- end divider -->
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td><!-- module 17 tittle -->
												<span style="line-height:30px;">Salud y belleza</span><br>
												<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://www.crupzi.com/descuentos/opticas-devlyn-lentes-de-sol-hasta-con-un-50-de-descuento/" style="color:#e63721; text-decoration:none;">Lentes de sol hasta con un 50% de descuento</a></span>

									<p style="line-height:16px">
										<span style="font-weight:bold;">Opticas Devlyn</span> - válida los días: lunes a domingo <br>
									Válida hasta la fecha: 30 de abril de 2013<br>Aplica por la compra de aro.</p>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<!-- /ROW --><!-- ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<!-- end divider -->
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td><!-- module 17 tittle -->
													<span style="line-height:30px;">Restaurante</span><br>
													<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://www.crupzi.com/descuentos/telepizza-2x1-en-pizzas-todos-los-dias/" style="color:#e63721; text-decoration:none;">2x1 en pizzas todos los días</a></span>

													<p style="line-height:16px">
														<span style="font-weight:bold;">Telepizza</span> - válida los d&iacute;as: lunes<br>
													Válida hasta la fecha: 1 de abril 2013 <br>Aplica en pizzas grandes y gigantes</p>

															<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>
<!-- /ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
<!-- end divider --><!-- end module 17 --><!-- start of common footer --><!-- start of module 20 -->
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td><!-- module 17 tittle -->
													<span style="line-height:30px;">Restaurante</span><br>
													<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://www.crupzi.com/descuentos/sushiitto-2x1-en-rollos/" style="color:#e63721; text-decoration:none;">2x1 en Rollos</a></span>

													<p style="line-height:16px">
														<span style="font-weight:bold;">Sushiitto</span> - válida los d&iacute;as: lunes y mi&eacute;rcoles <br>
													Válida hasta la fecha: 30 de abril de 2013 <br>No aplica para llevar ni a domicilio.</p>

															<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>
<!-- /ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
<!-- end divider --><!-- end module 17 --><!-- start of common footer --><!-- start of module 20 -->
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td><!-- module 17 tittle -->
													<span style="line-height:30px;">Restaurante</span><br>
													<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://www.crupzi.com/descuentos/la-bodega-italiana-15-de-descuento-y-postre-gratis/" style="color:#e63721; text-decoration:none;">15% de descuento y postre gratis</a></span>

													<p style="line-height:16px">
														<span style="font-weight:bold;">La Bodega Italiana</span> - válida los d&iacute;as: lunes a domingo <br>
													Válida hasta la fecha: 31 de octubre de 2013 <br>Al pagar con tus tarjetas Citi</p>

															<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>
<!-- /ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
<!-- end divider --><!-- end module 17 --><!-- start of common footer --><!-- start of module 20 -->
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td><!-- module 17 tittle -->
													<span style="line-height:30px;">Salud y Belleza</span><br>
													<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://www.crupzi.com/descuentos/baby-smile-care-50-de-descuento-en-consulta-inicial/" style="color:#e63721; text-decoration:none;">50% de descuento en consulta inicial</a></span>

													<p style="line-height:16px">
														<span style="font-weight:bold;">BABY SMILE CARE</span> - válida los d&iacute;as: luness a domingo <br>
													Válida hasta la fecha: 30 de abril de 2013 <br>Consulta inicial (prenatal o consulta dental del bebé). Aplica con tarjetas Credomatic</p>

															<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>
<!-- /ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider2.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="padding:3px;">
										<tr>
											<td width="200"></td>
											<td width="200">
												<a href="http://www.crupzi.com" style="text-decoration:none;">
												<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;">Ver m&aacute;s descuentos</div>
												</a>
											</td>
											<td width="200"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider2.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td><!-- module 17 tittle -->
													<span style="line-height:30px;">Compras varias</span><br>
													<span style="color: #362e25; font-family: Arial, Helvetica, sans-serif;font-size: 20px;font-weight: bold; line-height:22px;"><a href="http://crupzi.com/descuentos/f/cheesy-market-agua-dietetica-con-90-de-descuento/" style="color:#285C98; text-decoration:none;">Agua dietética con 90% de descuento</a></span>

													<p style="line-height:16px">
														<span style="font-weight:bold;">Cheesy Market</span> - válida los d&iacute;as: martes, jueves y s&aacute;bado<br>
													Válida hasta la fecha: 31 de mayo de 2013 <br>Por la compra de nachos extra grandes con extra queso.</p>
													<td width="20"></td>
												</td>
										</tbody>
									</table>
								</td>
							</tr>
<!-- /ROW --><!-- start divider -->
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr><td style="padding:5px 0 0 0;"></td></tr>
							<tr>
								<td>
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 11px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td align="center"><!-- module 17 tittle -->
												<p>
													Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>.Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
												</p>
											</td>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<tr><td style="padding:5px 0 0 0;"></td></tr>
							<tr>
								<td width="600">
									<table bgcolor="#f5f5f5" height="" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width='600' align="center" style="padding: 0px 0 0 0;">
													<ul style="list-style: none; padding:0;">
														<li style="display:inline;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> </li>
														<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
														<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
														<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
													</ul>
												</td>
											</tr>
											<tr align="center" valign="top">
												<td>
													<ul style="list-style: none; padding:0;" >
														<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500-35.png" width="35" class="social-logo"></a></li>
														<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter-35.png" width="35" class="social-logo"></a></li>
														<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja-35.png" width="35" class="social-logo"></a></li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td align="center" style="padding:10px 0 10px 0; color:#818180;">
											<p>Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</p>
											</td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					</table><!-- end wrapped table-->
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- unsubscribe: te vamos a extranar! -->