<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style>
<div style="color:#727272;">
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> &iquest;Este correo se ve extra&ntilde;o?, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px; margin-bottom:5px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700; font-size:13px; padding:10px 0 0 0;">6 de mayo de 2013</span>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: <br>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/banco-promerica-25-en-restaurantes/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/banco-promerica-25-en-restaurantes/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">25% de descuento en restaurantes</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/banco-promerica-25-en-restaurantes/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">BANCO PROM&Eacute;RICA</span> - v&aacute;lida los d&iacute;as: lunes a viernes <br>
	V&aacute;lida hasta la fecha fecha: 10 de mayo de 2013<br>Aplica en todos los restaurantes al pagar con tarjeta de cr&eacute;dito. Debes reportar la compra.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/banco-promerica-25-en-restaurantes/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/san-martin-bakery-15-de-descuento-en-pasteles/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Caf&eacute;s y Postres</a><br>
<a href="http://www.crupzi.com/descuentos/san-martin-bakery-15-de-descuento-en-pasteles/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">15% de descuento en todos los pasteles</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/san-martin-bakery-15-de-descuento-en-pasteles/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">SAN MART&Iacute;N BAKERY</span> - v&aacute;lida los d&iacute;as: mi&eacute;rcoles a domingo <br>
	V&aacute;lida hasta la fecha: 12 de mayo de 2013 <br> Hasta agotar existencias.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/san-martin-bakery-15-de-descuento-en-pasteles/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/istore-hasta-24-meses-sin-intereses/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Compras y Regalos</a><br>
<a href="http://www.crupzi.com/descuentos/istore-hasta-24-meses-sin-intereses/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Cuotas hasta 24 meses sin intereses</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/istore-hasta-24-meses-sin-intereses/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">iSTORE</span> - v&aacute;lida los d&iacute;as: lunes a viernes<br>
	V&aacute;lida hasta la fecha: 10 de mayo 2013 <br>Aplica al pagar con tarjetas de Banco Agr&iacute;cola.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/istore-hasta-24-meses-sin-intereses/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/chilis-grill-and-bar-banquete-4-x-20/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/chilis-grill-and-bar-banquete-4-x-20/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Banquete 4 x $20</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/chilis-grill-and-bar-banquete-4-x-20/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">CHILI'S GRILL AND BAR </span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 31 de mayo de 2013  <br>4 platos por $20.00 todos los días y a toda hora
	</a><br>
	<a href="http://www.crupzi.com/descuentos/chilis-grill-and-bar-banquete-4-x-20/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/la-place-segundo-par-con-50-de-descuento/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Ropa y Calzado</a><br>
<a href="http://www.crupzi.com/descuentos/la-place-segundo-par-con-50-de-descuento/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Segundo par con 50% de descuento</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/la-place-segundo-par-con-50-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">LA PLACE</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 19 de mayo de 2013 <br>V&aacute;lido en marcas participantes. Aplican restricciones.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/la-place-segundo-par-con-50-de-descuento/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>


<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<center>
<a href="http://www.crupzi.com" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 10px 0 15px 0;">Ver m&aacute;s descuentos</div>
</a>
</center>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/f/champions-meals-mas-tocineta-y-donas-gratis-con-tu-desayuno/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/f/champions-meals-mas-tocineta-y-donas-gratis-con-tu-desayuno/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Más Tocineta y Donas GRATIS con tu desayuno</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/f/champions-meals-mas-tocineta-y-donas-gratis-con-tu-desayuno/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">CHAMPIONS MEALS </span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 31 de mayo de 2013 <br>Valor del desayuno: $6.00, 24/7. No aplica domingo.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/f/champions-meals-mas-tocineta-y-donas-gratis-con-tu-desayuno/" style="color:#285C98; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div><br>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</span>
</div>