<meta content="en-us" http-equiv="Content-Language"><meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Descuentos semanales Crupzi: 10% en gasolina, Mister Donut, St. Jacks y m&aacute;s</title>
<style type="text/css"> 
	@media only screen and (max-width: 600px) { 
		table{width:100%;} 
	img{width:100%; height:auto;}
	#logo-crupzi{width: 110px;}
	#header{margin-bottom: -20px;} 
	.footer{display:none;} 
	#table{border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;} 
	.tddivider{padding: 10px 0 10px 0;}
	.social-logo{width: 35px;}
} 
	
</style>

<div style="height: 100%; margin: -8px;padding: 0;background: #fff;line-height: 1.6em;-webkit-text-size-adjust: none;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
	<table width="100%" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
		<tbody>
			<tr>
				<td>
					<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
						<tbody>
						<tr>
							<td align="center" style="padding:10px 0 10px 0; color:#818180;">
							<p>&iquest;Este correo se ve extra&ntilde;o? Revisa la  <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></p>
							</td>
						</tr>
					</tbody>
					</table>

					<table id="table" width="600" bgcolor="#fff" align="center" cellpadding="0" cellspacing="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
						<tbody>
							<tr>
								<td width='600'>
									<table bgcolor="#f5f5f5">
										<tbody>
											<tr>
												<td width="120"><a href="http://www.crupzi.com"><img id="logo-crupzi" src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja-110.png" alt="" style="border: 0;" width="110"></a></td>
												<td width='480' align="right">
													<table style="color: #5a5a5a; font-size: 12px;">
														<tbody>
															<tr align="right">
																<td><span style="color: #362e25 !important; text-decoration: none; margin-bottom: 5px; font-size: 17px;font-weight: bold;">Descuentos Crupzi</span></td>
															</tr>
															<tr align="right">
																<td>8 de abril de 2013</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding-top:10px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td><h2 style="text-decoration: none; margin-bottom: 5px;font-family: Arial, Helvetica, sans-serif;font-size: 12px; font-weight:300">Hey [FirstName,fallback=]!</h2>

											<p>Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: </p>
											</td>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td>
												<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina" style="color:#727272; text-decoration:none; line-height:30px;" target="_blank">Otros</a><br>
												<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">10% de descuento en gasolina</a>

									<p style="line-height:16px">
										<a href="http://www.crupzi.com/descuentos/banco-promerica-10-de-descuento-en-gasolina/" style="color:#727272; text-decoration:none;" target="_blank">
										<span style="font-weight:bold;">Banco Prom&eacute;rica</span> - válida los días: martes <br>
									Válida en la fecha: 9 de abril de 2013<br>Aplica en todas las gasolinera del pa&iacute;s
										</a>
									</p>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td>
													<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento" style="color:#727272; text-decoration:none; line-height:30px;" target="_blank">Restaurante</a><br>
													<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;">40% de descuento</a>
													<p style="line-height:16px" target="_blank">
														<a href="http://www.crupzi.com/descuentos/parrillada-el-charrua-40-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
														<span style="font-weight:bold;">Parrillada el Charr&uacute;a</span> - válida los d&iacute;as: martes<br>
													Válida hasta la fecha: 30 de abril 2013 <br>Aplica con tarjetas de cr&eacute;dito de Banco Agr&iacute;cola</a></p>

															<td width="20"></td>
												</td>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>

							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272; font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td>
													<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento" style="line-height:30px; color: #727272; text-decoration:none;" target="_blank">Restaurante</a><br>
													<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">20% de descuento</a>

													<p style="line-height:16px">
														<a href="http://www.crupzi.com/descuentos/roberto-cuadra-cocina-peruana-20-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
														<span style="font-weight:bold;">Roberto Cuadra Cocina Peruana</span> - válida los d&iacute;as: lunes a domingo<br>
													Válida hasta la fecha: 30 de abril de 2013 <br>Aplica al pagar con tarjetas de Banco Prom&eacute;rica</a></p>

													<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>

							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td>
													<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento" style="line-height:30px; color: #727272; text-decoration:none;" target="_blank">Restaurante</a><br>
													<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px" target="_blank">10% de descuento</a>

													<p style="line-height:16px">
														<a href="http://www.crupzi.com/descuentos/mister-donut-10-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
														<span style="font-weight:bold;">Mister Donut</span> - válida los d&iacute;as: lunes a domingo <br>
													Válida hasta la fecha: 31 de diciembre de 2013 <br>Para afiliados AFP Confia y compras m&iacute;nimas de $4.00<a/></p>

															<td width="20"></td>
														
												</td>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>

							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>
												<td>
													<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano" style="line-height:30px; color: #727272; text-decoration:none;" target="_blank">Ropa y Calzado</a><br>
													<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Gran Rebaja de Fin de Verano</a>

													<p style="line-height:16px">
														<a href="http://www.crupzi.com/descuentos/st-jacks-gran-rebaja-de-fin-de-verano/" style="color:#727272; text-decoration:none;" target="_blank">
														<span style="font-weight:bold;">St. Jacks</span> - válida los d&iacute;as: lunes a domingo <br>
													Válida hasta la fecha: 16 de abril de 2013 <br>Descuentos desde el 20% al 50%
												</a></p>
												<td width="20"></td>		
												</td>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider2.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="padding:3px;">
										<tr>
											<td width="200"></td>
											<td width="200">
												<a href="http://www.crupzi.com" style="text-decoration:none;">
												<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;">Ver m&aacute;s descuentos</div>
												</a>
											</td>
											<td width="200"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider2.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr>
								<td style="padding-top:0px;">
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width="20"></td>

												<td>
													<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="line-height:30px; color: #727272; text-decoration:none;" target="_blank">Educaci&oacute;n Complementaria</a><br>
													<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Clases de Nominación, ¡3 AÑOS GRATIS!</a>

													<p style="line-height:16px">
														<a href="http://www.crupzi.com/descuentos/f/la-universidad-clases-de-nominacion-3-anos-gratis/" style="color:#727272; text-decoration:none;" target="_blank">
														<span style="font-weight:bold;">La Universidad</span> - válida los d&iacute;as: lunes a domingo<br>
													Válida hasta la fecha: 31 de diciembre de 2021 <br>Aprende el nombre del viento, controlar el fuego, enamorar chicas y m&aacute;s</a></p>
													<td width="20"></td>
												</td>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="tddivider"><img src="http://www.crupzi.com/static/images/emails/divider.gif" width="600" height="2" alt="divider" style="border: 0;"></td>
							</tr>
							<tr><td style="padding:5px 0 0 0;"></td></tr>
							<tr>
								<td>
									<table style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 11px;">
									<tbody>
										<tr>
											<td width="20"></td>

											<td align="center">
												<p>
													Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>.Leemos todos los correos. Es en serio. Todos. <br>S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>.
												</p>
											</td>
											<td width="20"></td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
							<tr><td style="padding:5px 0 0 0;"></td></tr>
							<tr>
								<td width="600">
									<table bgcolor="#f5f5f5" height="" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
										<tbody>
											<tr>
												<td width='600' align="center" style="padding: 0px 0 0 0;">
													<ul style="list-style: none; padding:0;">
														<li style="display:inline;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a> </li>
														<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
														<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
														<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
													</ul>
												</td>
											</tr>
											<tr align="center" valign="top">
												<td>
													<ul style="list-style: none; padding:0;" >
														<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500-35.png" width="35" class="social-logo"></a></li>
														<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter-35.png" width="35" class="social-logo"></a></li>
														<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja-35.png" width="35" class="social-logo"></a></li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="color: #727272;font-family: Arial, Helvetica, sans-serif;font-size: 12px;">
									<tbody>
										<tr>
											<td align="center" style="padding:10px 0 10px 0; color:#818180;">
											<p>Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</p>
											</td>
										</tr>
									</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>