<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style>
<div style="color:#727272;">
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> &iquest;Este correo se ve extra&ntilde;o?, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px; margin-bottom:5px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700; font-size:13px; padding:10px 0 0 0;">24 de junio 2013</span>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: <br>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/walmart-hasta-24-cuotas-sin-intereses/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Compras y regalos</a><br>
<a href="http://www.crupzi.com/descuentos/walmart-hasta-24-cuotas-sin-intereses/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Hasta 24 cuotas sin intereses</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/walmart-hasta-24-cuotas-sin-intereses/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">WALMART</span> - v&aacute;lida los d&iacute;as: lunes a domingo<br>
	V&aacute;lida hasta la fecha: 30 de junio de 2013<br>Beneficio en tecnolog&iacute;a, l&iacute;nea de c&oacute;mputo, l&iacute;nea blanca y m&aacute;s pagando con tarjetas Citibank.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/walmart-hasta-24-cuotas-sin-intereses/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/la-place-50-de-descuento-en-segundo-par/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Ropa y calzado</a><br>
<a href="http://www.crupzi.com/descuentos/la-place-50-de-descuento-en-segundo-par/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">50% de descuento en segundo par</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/la-place-50-de-descuento-en-segundo-par/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">LA PLACE</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 30 de junio de 2013 <br> Aplican restricciones
	</a><br>
	<a href="http://www.crupzi.com/descuentos/la-place-50-de-descuento-en-segundo-par/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/inka-grill-30-de-descuento/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/inka-grill-30-de-descuento/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">30% de descuento</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/inka-grill-30-de-descuento/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">INKA GRILL</span> - v&aacute;lida los d&iacute;as: lunes a domingo<br>
	V&aacute;lida hasta la fecha: 30 de junio de 2013<br>V&aacute;lido al presentar membres&iacute;a de Pricesmart.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/inka-grill-30-de-descuento/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/la-bodega-italiana-40-de-descuento-al-instante/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/la-bodega-italiana-40-de-descuento-al-instante/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">40% de descuento</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/la-bodega-italiana-40-de-descuento-al-instante/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">LA BODEGA ITALIANA</span> - v&aacute;lida los d&iacute;as: lunes<br>
	V&aacute;lida hasta la fecha: 24 de junio de 2013 <br>Descuento al instante al pagar con tarjetas de Banco Davivienda
	</a><br>
	<a href="http://www.crupzi.com/descuentos/la-bodega-italiana-40-de-descuento-al-instante/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/la-susheria-no-te-pierdas-los-viernes-de-sushi/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/la-susheria-no-te-pierdas-los-viernes-de-sushi/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Viernes de Sushi</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/la-susheria-no-te-pierdas-los-viernes-de-sushi/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">LA SUSHERIA</span> - v&aacute;lida los d&iacute;as: viernes <br>
	V&aacute;lida hasta la fecha: 19 de julio de 2013 <br>15% de descuento en tu orden.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/la-susheria-no-te-pierdas-los-viernes-de-sushi/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>


<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<center>
<a href="http://www.crupzi.com" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 10px 0 15px 0;">Ver m&aacute;s descuentos</div>
</a>
</center>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/f/openswimmingcom-clases-de-natacion-en-linea-gratis/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Cursos en l&iacute;nea</a><br>
<a href="http://www.crupzi.com/descuentos/f/openswimmingcom-clases-de-natacion-en-linea-gratis/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Clases de nataci&oacute;n en l&iacute;nea gratis!</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/f/openswimmingcom-clases-de-natacion-en-linea-gratis/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">OPENSWIMMING.COM</span> - v&aacute;lida los d&iacute;as: lunes a viernes<br>
	V&aacute;lida hasta la fecha: 31 de agosto de 2013 <br>El primero de 3 niveles (nivel "Pingüino Tropical") es completamente gratis! y los &uacute;ltimos dos con 50% de descuento.
	<a href="http://www.crupzi.com/descuentos/f/openswimmingcom-clases-de-natacion-en-linea-gratis/" style="color:#285C98; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div><br>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</span>
</div>