<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style>
<div style="color:#727272;">
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> &iquest;Este correo se ve extra&ntilde;o?, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px; margin-bottom:5px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700; font-size:13px; padding:10px 0 0 0;">27 de mayo de 2013</span>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: <br>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/viva-espresso-35-en-bebidas-a-base-de-cafe/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Caf&eacute;s y Postres</a><br>
<a href="http://www.crupzi.com/descuentos/viva-espresso-35-en-bebidas-a-base-de-cafe/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">35% en bebidas a base de café</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/viva-espresso-35-en-bebidas-a-base-de-cafe/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">VIVA ESPRESSO</span> - v&aacute;lida los d&iacute;as: lunes a domingo<br>
	V&aacute;lida hasta la fecha: 31 de mayo de 2013<br>Aplica en la compra de 2 o más cafés. Ver m&aacute;s condiciones en detalle de descuento.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/viva-espresso-35-en-bebidas-a-base-de-cafe/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/papa-johns-entradas-al-2x1/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/papa-johns-entradas-al-2x1/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Entradas al 2x1</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/papa-johns-entradas-al-2x1/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">PAPA JOHN'S</span> - v&aacute;lida los d&iacute;as: lunes a jueves <br>
	V&aacute;lida hasta la fecha: 30 de mayo de 2013 <br> Válido solamente en restaurantes al presentar tu membres&iacute;a de suscriptor de La Prensa Gr&aacute;fica.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/papa-johns-entradas-al-2x1/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/maki-sushi-to-go-2x1-en-rollos/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Restaurantes</a><br>
<a href="http://www.crupzi.com/descuentos/maki-sushi-to-go-2x1-en-rollos/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">2x1 en rollos</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/maki-sushi-to-go-2x1-en-rollos/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">MAKI SUSHI TO GO</span> - v&aacute;lida los d&iacute;as: lunes y jueves<br>
	V&aacute;lida hasta la fecha: 31 de diciembre de 2013<br>Aplica en restaurantes. 6 especialidades a elegir.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/maki-sushi-to-go-2x1-en-rollos/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/tiendas-md-30-de-descuento-en-toda-la-tienda/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Ropa y Calzado</a><br>
<a href="http://www.crupzi.com/descuentos/tiendas-md-30-de-descuento-en-toda-la-tienda/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">30% de descuento en toda la tienda</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/tiendas-md-30-de-descuento-en-toda-la-tienda/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">TIENDAS MD</span> - v&aacute;lida los d&iacute;as: lunes<br>
	V&aacute;lida hasta la fecha: 27 de mayo 2013 <br>Aplica en cualquier forma de pago.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/tiendas-md-30-de-descuento-en-toda-la-tienda/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/cali-salon-beauty-shop-15-off-mayo-es-de-mama/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Salud y Belleza</a><br>
<a href="http://www.crupzi.com/descuentos/cali-salon-beauty-shop-15-off-mayo-es-de-mama/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">15% OFF Mayo es de Mam&aacute;</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/cali-salon-beauty-shop-15-off-mayo-es-de-mama/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">CALI SALÓN & BEAUTY SHOP</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 31 de mayo de 2013 <br>Aplica en todos los servicios y productos de belleza
	</a><br>
	<a href="http://www.crupzi.com/descuentos/cali-salon-beauty-shop-15-off-mayo-es-de-mama/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>


<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<center>
<a href="http://www.crupzi.com" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 10px 0 15px 0;">Ver m&aacute;s descuentos</div>
</a>
</center>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/f/agencia-la-comarca-camping-trip-a-mordor/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Paquetes de viaje</a><br>
<a href="http://www.crupzi.com/descuentos/f/agencia-la-comarca-camping-trip-a-mordor/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Camping trip a Mordor</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/f/agencia-la-comarca-camping-trip-a-mordor/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">AGENCIA LA COMARCA</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 30 de junio de 2013 <br>Compra en compañ&iacute;a: paquete vacacional a Mordor con un 70% de descuento.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/f/agencia-la-comarca-camping-trip-a-mordor/" style="color:#285C98; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div><br>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</span>
</div>