<style type="text/css"> div, p, a, li, td, span { -webkit-text-size-adjust:none; } </style>
<div style="color:#727272;">
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> &iquest;Este correo se ve extra&ntilde;o?, revisa la <webversion style="color:#e63721; text-decoration:none;">Versi&oacute;n Web</webversion></span><br>
<div style="text-align:left; background:#f7f7f7; margin-top:20px; margin-bottom:5px;"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-naranja.png" width="150"></div>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 700; font-size:13px; padding:10px 0 0 0;">29 de abril de 2013</span>
<div style="padding-top:20px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; "> Hey [FirstName,fallback=], <br>
<br>
 Sabemos que te gustan los descuentos. Nuestro equipo de ingenieros, programadores y duendes ha recolectado la siguiente selecci&oacute;n de descuentos que creemos podr&iacute;an interesarte para esta semana: <br>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/world-time-relojes-nautica-30-off/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Compras y Regalos</a><br>
<a href="http://www.crupzi.com/descuentos/world-time-relojes-nautica-30-off/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Relojes NAUTICA 30% off!</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/world-time-relojes-nautica-30-off/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">WORLD TIME</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha fecha: 30 de abril de 2013<br>Aplican restricciones.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/world-time-relojes-nautica-30-off/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/nine-west-nine-west-most-wanted-15-off/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Ropa y Calzado</a><br>
<a href="http://www.crupzi.com/descuentos/nine-west-nine-west-most-wanted-15-off/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Nine West Most Wanted: 15% off!</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/nine-west-nine-west-most-wanted-15-off/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">NINE WEST</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 30 de abril de 2013 <br> Aplica con tus tarjetas BAC de Credomatic.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/nine-west-nine-west-most-wanted-15-off/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/almacenes-siman-trajes-de-bano-al-2x1/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Compras y Regalos</a><br>
<a href="http://www.crupzi.com/descuentos/almacenes-siman-trajes-de-bano-al-2x1/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">Trajes de baño al 2x1</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/almacenes-siman-trajes-de-bano-al-2x1/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">ALMACENES SIMAN</span> - v&aacute;lida los d&iacute;as: lunes a jueves<br>
	V&aacute;lida hasta la fecha: 2 de mayo 2013 <br>Aplica en trajes de ba&ntilde;o con vi&ntilde;eta amarilla en los departamentos de damas y damas juvenil.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/almacenes-siman-trajes-de-bano-al-2x1/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/claro-15-de-descuento-500-millas-multipremio/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Otros</a><br>
<a href="http://www.crupzi.com/descuentos/claro-15-de-descuento-500-millas-multipremio/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">15% de descuento + 500 Millas Multipremio</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/claro-15-de-descuento-500-millas-multipremio/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">CLARO</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 22 de mayo de 2013  <br>Contrata tu plan postpago para BlackBerry 9900 o Samsung Galaxy Note II pagando con tarjetas Citi.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/claro-15-de-descuento-500-millas-multipremio/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/koffee-mix-10-de-descuento-en-consumo/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Caf&eacute;s</a><br>
<a href="http://www.crupzi.com/descuentos/koffee-mix-10-de-descuento-en-consumo/" style="color:#e63721; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">10% de descuento en consumo</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/koffee-mix-10-de-descuento-en-consumo/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">KOFFEE MIX</span> - v&aacute;lida los d&iacute;as: lunes a domingo <br>
	V&aacute;lida hasta la fecha: 31 de mayo de 2013 <br>Aplica con tarjetas Scotiabank.
	</a><br>
	<a href="http://www.crupzi.com/descuentos/koffee-mix-10-de-descuento-en-consumo/" style="color:#e63721; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>


<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<center>
<a href="http://www.crupzi.com" style="text-decoration:none;">
<div style="width:200px; background: #e63721; padding: 10px; text-align:center; color:white; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin: 10px 0 15px 0;">Ver m&aacute;s descuentos</div>
</a>
</center>

<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>
<div style="padding-left: 10px; padding-right:10px;">
<a href="http://www.crupzi.com/descuentos/f/hyli-carpet-market-2x1-en-alfombras-voladoras/" style="color:#727272; text-decoration:none; line-height:20px;" target="_blank">Art&iacute;culos extraordinarios</a><br>
<a href="http://www.crupzi.com/descuentos/f/hyli-carpet-market-2x1-en-alfombras-voladoras/" style="color:#285C98; font-size: 20px;font-weight: bold; line-height:22px;" target="_blank">2x1 en Alfombras Voladoras</a>
<p style="">
	<a href="http://www.crupzi.com/descuentos/f/hyli-carpet-market-2x1-en-alfombras-voladoras/" style="color:#727272; text-decoration:none;" target="_blank">
	<span style="font-weight:bold;">HYLI CARPET MARKET </span> - v&aacute;lida los d&iacute;as: s&aacute;bado y domingo <br>
	V&aacute;lida hasta la fecha: 22 de mayo de 2013 <br>Disponibles en m&uacute;ltiples colores y texturas. ¡Originales! ¡sin pl&aacute;stico!
	</a><br>
	<a href="http://www.crupzi.com/descuentos/f/hyli-carpet-market-2x1-en-alfombras-voladoras/" style="color:#285C98; text-decoration:none;" target="_blank">Ver descuento &raquo;</a><br>
</p>
</div>
<hr style="background:none; border:solid 1px #eaeaea; border-width:1px 0 0 0; height:0; width:100%; margin:5px 0px 0px 0px; padding-bottom:10px;" ></hr>

</div>
<div style="text-align:center; font-size:11px; padding-bottom:10px; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; -webkit-text-size-adjust:none; margin-top:20px;"> Puedes escribirnos en cualquier momento a <a href="mailto:info@crupzi.com" style="color:#e63721; text-decoration:none;">info@crupzi.com</a>. Leemos todos los correos. Es en serio. Todos. <br>
S&iacute;guenos en <a href="http://www.twitter.com/crupzi" style="color:#e63721; text-decoration:none;">Twitter</a>. Tambi&eacute;n estamos en <a href="http://www.facebook.com/crupzi" style="color:#e63721; text-decoration:none;">Facebook</a>. </div>
<div style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px; -webkit-text-size-adjust:none; text-align:center; background:#f7f7f7; padding:10px 0 10px 0;">
<ul style="list-style: none; margin-left:0px;">
	<li style="display:inline; padding: 0 5px 0 0;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/beneficios">Beneficios</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/nosotros">Nosotros</a></li>
	<li style="display:inline; padding: 0 5px 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/soporte">Preguntas Frecuentes</a></li>
	<li style="display:inline; padding: 0 0 0 5px;"><a style="color:#e63721; text-decoration:none;" href="http://www.crupzi.com/contacto">Contacto</a></li>
</ul>
<ul style="list-style: none;">
	<li style="display:inline;"><a style="" href="http://www.facebook.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/facebook500.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://www.twitter.com/crupzi"><img src="http://www.crupzi.com/static/images/emails/twitter.png" width="35"></a></li>
	<li style="display:inline;"><a href="http://blog.crupzi.com"><img src="http://www.crupzi.com/static/images/emails/crupzi-logo-round-naranja.png" width="35"></a></li>
</ul></div><br>
<span style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 300; font-size:13px;"> Puedes eliminar tu <unsubscribe style="color:#e63721; text-decoration:none;">suscripci&oacute;n</unsubscribe> en cualquier momento. Te extra&ntilde;aremos. No lo hagas.</span>
</div>