{% for deal in deals %}
{% if forloop.last and next_page %}
<div class="deal-wrapper" name="deal-{{ deal.id }}" deal-name="{{ deal.company }} - {{ deal.name }}" next-page="{{ next_page }}" data-today="{% if deal.today%}today{% endif %}">
{% else %}
<div class="deal-wrapper" name="deal-{{ deal.id }}" deal-name="{{ deal.company }} - {{ deal.name }}" data-today="{% if deal.today%}today{% endif %}">
{% endif %}
<div style="cursor: pointer;" onclick="location.href='#page-deal';">
	<div class="deal-top-wrapper">
		<div class="deal-top-left">
			{% with deal.category|first as cat %}
			<img src="/static/images/mobile/categories-deal/category{{ cat }}.png" width="55px">
			{% endwith %}
		</div>
		<div class="deal-top-center" class="" style="">

			<p class="deal-header-company bold"><a href="/comercios/perfiles/{{ deal.company_slug }}/" data-ajax="false" onclick="handleClick(event);">{{ deal.company }}</a></p>

			<p class="deal-header-schedule">{{ deal.schedule }}</p>
		</div>

		<div class="deal-top-right">
			<div class="container-logo">
				<a href="/comercios/perfiles/{{ deal.company_slug }}/" data-ajax="false" onclick="handleClick(event);">
					<div class="circular-50" style="background: url(/static/images/companies/logos_56/56x56_{{deal.company_logo}}) no-repeat; background-size:50px 50px;"></div>
				</a>
			</div>
		</div>
	
	</div>
	<div class="deal-bottom-wrapper"><p>{{ deal.name }}</p></div>
</div>
</div>
{% endfor %}