<form id='form-search' action='/search/get/' method='GET'>
	<div>
		<div style="">
			<input data-role="none" type='text' name='search-desc' id='search-desc' style='width: 218px; -webkit-appearance: none;' placeholder="Ingresa un t&eacute;rmino de b&uacute;squeda" class="input-bootstrap floatleft"/>
			<div class="floatleft desc-icon-box">
				<i class="fa fa-search"></i>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="search-rest" style="display:none;">
		<div>
			<select data-role="none" id='search-mall' name='search-mall' data-placeholder="Centro comercial" style='width: 348px;'>
				<option></option>
				{% for mall in malls%}
					<option value='{{mall.id}}'>{{mall.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div style='margin-top:0.6em;'>
			<select data-role="none" id='search-company' name='search-company' data-placeholder="Establecimiento" multiple style='width: 348px;'>
				<option></option>
				{% for company in companies%}
					<option value='{{company.id}}'>{{company.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div style='margin-top:0.4em;'>
			<select data-role="none" id='search-category' name='search-category' multiple data-placeholder="Categoría" style="width:348px;">
				<option></option>
				<option value='1'>Ropa y calzado</option>
				<option value='2'>Bares</option>
				<option value='3'>Restaurantes</option>
				<option value='4'>Caf&eacute;s</option>
				<option value='5'>Regalos</option>
				<option value='6'>Viajes</option>
				<option value='7'>Belleza y Salud</option>
				<option value='8'>Entretenimiento</option>
				<option value='9'>Otros</option>
			</select>
		</div>
		<div style='margin-top:0.4em;'>
			<select data-role="none" id='search-resource' name='search-resource' data-placeholder="Tarjeta requerida" multiple style="width:348px;">
				{% include "app/select-resources.html" %}
			</select>
		</div>
	</div>
</form>
<div style="float:right; margin-top:10px; display:none;" id="search-buttons">
	<a href="#" data-rel="popup" data-role="button" data-theme="" data-inline="true" id="btn-cancel" class="btn-cancel">Cancelar</a>
	<a href="#" data-rel="popup" data-role="button" data-theme="e" data-inline="true" id="btn-search">Buscar</a>
</div>
<div style="clear:both;"></div>