{% if deal %}


<div class='modal-header flat-bg' style="background: #343434; background-size: 100% 180px; height:140px; margin:-1em -1em 0 -1em;" data-companyid="{{ set_company }}">
<!-- <div class='modal-header flat-bg' style=""> -->
	<div style="padding-top: 10px;">
		{% if deal.company_ext %}
		<div class="circular-80" style="background: url(/static/images/companies/logos_56/56x56_{{deal.company_ext.logo}}) no-repeat; background-size:80px 80px; position:relative;">
		{% else %}
		<div class="circular-80" style="background: url(/static/images/companies/logos_56/56x56_{{deal.company.logo}}) no-repeat; background-size:80px 80px; position:relative;">
		{% endif %}
		{% if not not_user %}
			{% if not subscription %}
				<a href="javascript:void(0);" onclick="javascript:subscribe({{ set_company }});" class="btn-subscribe-mobile" style="top:-0.5em; right:-24px; position:absolute;" data-name="subscribe">
					<i class="fa fa-plus fa-2x"></i>
				</a>
				<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ set_company }});" class="btn-following-mobile" style="top:-0.5em; right:-24px; position:absolute; display:none;" data-name="following">
					<i class="fa fa-check fa-2x"></i>
				</a>
			{% else %}
				<a href="javascript:void(0);" onclick="javascript:subscribe({{ set_company }});" class="btn-subscribe-mobile" style="top:-0.5em; right:-24px; position:absolute; display:none;" data-name="subscribe">
					<i class="fa fa-plus fa-2x"></i>
				</a>
				<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ set_company }});" class="btn-following-mobile" style="top:-0.5em; right:-24px; position:absolute;" data-name="following">
					<i class="fa fa-check fa-2x"></i>
				</a>
			{% endif %}
		{% endif %}
		</div>
	</div>
	<div style='color:#fff; margin-top:5px; height:70px; '>
		<div style="padding: 0px 10px; text-align:center;">
			{% if deal.company_ext %}
				<h3 class="h-deal-data-company">{{ deal.company_ext.name }}
				{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}</h3>
			{% else %}
				<h3 class="h-deal-data-company">{{ deal.company.name }}
				{% if deal.verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:5px;">{% endif %}</h3>
			{% endif %}
		</div>
	</div>
</div>
<div class="content-primary container-white" style='margin-top: 10px; font-size:0.9em; padding-top:10px;'>
	<div class='' id='modal-body-right'>
		<h4 style="text-align:center;">{{ deal.name }}</h4>
		<p style="text-align:center;">{{ schedule }}</p><br>
		{% if deal.name != deal.description %}<p>{{ deal.description }}</p><br>{% endif %}
		{% if end_date%}
			{% if deal.limited_time %}
				Promoci&oacute;n v&aacute;lida por tiempo limitado.
			{% else %}
				<b>V&aacute;lida hasta la fecha:</b><br> {{ end_date }}
			{% endif %}
			<br>
		{% endif %}
		<br>
		{% if resources %}
		<div>
			{% for res in resources %}
				{% if forloop.first %}
					<span class='bold'>Promoci&oacute;n v&aacute;lida haciendo uso de:</span>
						<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
				{% else %}
						<li>{{ res.resource.entity.name }} - {{ res.resource.name }}</li>
				{% endif%}
			{% endfor %}
		</div>
		<br>
		{% endif %}
		{% if branches %}
		<div>
			{% for branch in branches %}
				{% if forloop.first %}
					<span class='bold'>V&aacute;lida en las sucursales:</span>
				{% endif %}
				<li>{{ branch.branch.name }}</li>
			{% endfor %}
		</div>
		<br>
		{% endif %}
		{% if deal.restrictions %}
			<span class='bold'>Restricciones</span><br>
			<span>{{ deal.restrictions }}{% if deal.restrictions2 %}{{ deal.restrictions2 }} {% endif %}</span><br>
		{% endif %}
		{% if deal.limited_time %}
			<span style="font-size:0.8em;">Descuento ingresado el {{ init_date }}</span>
		{% endif %}
	</div>

	<div style="text-align:center; margin-top:25px;" >
		<div id="social-buttons-container">
			{% if remove_deal %}
			<img name="btn-fb01" src="/static/images/mobile/action-buttons/remove-deal.png" onclick="javascript:removeDeal({{ deal.id }});" width="45px">
			{% else %}
			<img name="btn-fb01" src="/static/images/mobile/action-buttons/save-deal.png" onclick="javascript:saveDeal({{ deal.id }});" width="45px">
			{% endif %}
			<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.crupzi.com/descuentos/{{ deal.slug }}/" target="_blank" style="text-decoration:none;">
				<img name="btn-fb01" src="/static/images/mobile/action-buttons/share.png" width="45px" style="margin-left:5px;">
			</a>
			 <a href="https://twitter.com/share?&url=http%3A%2F%2Fwww.crupzi.com/descuentos/{{ deal.slug|urlencode }}/&text={{ deal.company.name|urlencode }}%20-%20{{ deal.name|urlencode }}%20&via=crupzi" target="_blank" data-ajax="false">
			 	<img name="btn-tw01" src="/static/images/mobile/action-buttons/tweet.png" width="45px" style="margin-left:5px;">
			 </a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{% endif %}