<div id="header-inner" style="position:relative; height:45px;">
	<div style="width:50px; position:absolute; left:0; padding:0; z-index:1;">
		<div id="mini-home">
			<a href="#panel-left"><i class="fa fa-bars fa-2x" style=""></i></a>
		</div>
	</div>
	<div style="position:absolute; margin: 3px 0px 0 0px; width:100%; z-index:0;">
		<div style="text-align:center;">
			<!-- <img src="/static/images/landing/logo.png" width="125px"> -->
			<h1 style="font-size:1.6em; color:#fff; text-shadow:none;">Crupzi.com</h1>
		</div>
	</div>
	<div style="position:absolute; right:0; width:50px; top:0; z-index:1;">
		{% if page == 'home' %}
		<div id="mini-right">
			{% if is_tablet %}
			<a href="#panel-right" data-rel="popup" data-inline="true" data-transition="" data-position-to="#div-popup-fake">
			{% else %}
			<a href="#panel-right">
			{% endif %}
				<div id="img-selected-category" class="category0" style="width:45px; height:50px; margin-top:-5px;"></div></a>
		</div>
		{% elif page == 'userhome' %}
		<div id="mini-userhome">
			<i class="icon-heart icon-2x" style=""></i>
		</div>
		{% endif %}
	</div>
</div>