<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<title>Crupzi.com</title>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no"> -->
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0; user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<!-- <meta name="mobile-web-app-capable" content="yes"> -->
	<link rel="stylesheet" type="text/css" href="/static/lib/jqm/flat-ui/jquery.mobile.flatui.min.css" />
	<link rel="stylesheet" href="/static/lib/css/jqm/jqm-styles-override.css?t=1387058037" />
	<link rel="stylesheet" href="/static/lib/css/jQuery.smartWebBanner.css">
	<link rel="stylesheet" type="text/css" href="/static/lib/font-awesome/css/font-awesome.min.css?t=1387058037">
	<link rel="stylesheet" type="text/css" href="/static/lib/select2/select2.min.css?t=1387058037">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
	<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-precomposed.png"/>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon-precomposed.png"/>
	<link rel="shortcut icon" href="/static/images/apple-touch-icon-precomposed.png">
	<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35442362-1']);
	  _gaq.push(['_setCampSourceKey', 'utm_source']);
	  _gaq.push(['_setCampMediumKey', 'utm_medium']);
	  _gaq.push(['_setCampContentKey', 'utm_content']);
	  _gaq.push(['_setCampTermKey', 'utm_keyword']);
	  _gaq.push(['_setCampNameKey', 'utm_campaign']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
{% block main-page %}{% endblock %}

<div data-role="subpage" data-theme="c" id="page-deal" data-add-back-btn="true" style="background: #f5f5f5;">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=351082044978229";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div data-role="header" data-tap-toggle="false" data-update-page-padding="false" data-theme='e' style="height:45px;">
		<a href="#" data-rel="back" data-role="none">
			<i class="fa fa-chevron-left fa-2x" style="margin-top:6px; margin-left:10px; text-decoration:none; color:#fff;"></i>
		</a>
		<h1 style="font-size:1.6em; margin: 3px 0 0 0;">Crupzi.com</h1>
	</div>
	<div data-role="content" >
		<div style="">
			<div id="page-deal-content">
			</div>
		</div>
	</div>
</div>
<div data-role="popup" id="popupSuccess" class="ui-content" data-theme="e" style="display:none;">
    <p>&iexcl;Excelente! Una gran selecci&oacute;n.</p>
</div>
<div data-role="popup" id="popupError" class="ui-content" data-theme="b" style="margin: 0 1em 0 0.3em; display:none;"><p></p></div>


<script type="text/javascript" src="/static/lib/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/lib/js/getUrlVars.js"></script>
<script type="application/javascript" src="/static/lib/js/jQuery.smartWebBanner.min.js"></script>
<!-- Twitter Script -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- End Twitter Script -->
 {% block custom-js %}{% endblock %}
 <script type="text/javascript">
$().smartWebBanner({
    title: "Crupzi", 
    titleSwap: true, 
    url: 'http://www.crupzi.com.com/inicio/',
    useIcon: true,
    iconGloss: false,
    showFree: false, 
    daysHidden: 0, 
    daysReminder: 30,
    debug: false 
});
 </script>
<script type="text/javascript" src="/static/lib/js/jqm/main.js"></script>
</body>
</html>