<div data-role="panel" id="panel-left" style="background:#4b4b49;" class="panelInner" data-position-fixed="true" data-display="reveal">

	<ul data-role="listview" data-theme="d" data-divider-theme="d" data-icon="false" class="jqm-list" id="ul-menu">
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-first-child" style="height:28px;">
			<p style="padding:3px 0 0 0; margin:-3px;">
				<img src="/static/images/landing/logo.png" width="120px">
			</p>
		</li>
	</ul>

	<div class="container-search" style="" id="div-search-form">
		{% include "mobile/app/deals/deal-search-form.html" %}
	</div>
	<div style="clear:both;"></div>
	<ul data-role="listview" data-theme="d" data-divider-theme="b" data-icon="false" class="jqm-list" id="ul-menu" >
		<!-- <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-first-child" style="">
			<p style="padding:3px 0 0 0; margin:0;">
			<img src="/static/images/landing/logo.png" width="125px">
			</p>
		</li> -->
		<li data-role="list-divider" role="heading">PRINCIPAL</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="/inicio/" class="ui-link-inherit" data-ajax="false" onclick="handleClick(event);">
				<img src="/static/images/mobile/sidebar-left/home.png" class="ui-li-icon">Inicio</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="/mis-descuentos/" class="ui-link-inherit" data-ajax="false" onclick="handleClick(event);" >
				<img src="/static/images/mobile/sidebar-left/user-deals.png" class="ui-li-icon">Mis Descuentos</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="/suscripciones/" class="ui-link-inherit" data-ajax="false" onclick="handleClick(event);" >
				<img src="/static/images/mobile/sidebar-left/user-subscriptions.png" class="ui-li-icon">Suscripciones</a>
		</li>
		<li data-role="list-divider" role="heading">EXTRAS</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="/tutoriales/" class="ui-link-inherit" data-ajax="false" target="_blank">
				<img src="/static/images/mobile/sidebar-left/tutorials.png" class="ui-li-icon">Tutoriales</a>    			
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="http://blog.crupzi.com" class="ui-link-inherit" data-ajax="false"  target="_blank">
				<img src="/static/images/mobile/sidebar-left/blog.png" class="ui-li-icon">Blog</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="/logout" class="ui-link-inherit" data-ajax="false" onclick="handleClick(event);">
				<img src="/static/images/mobile/sidebar-left/logout.png" class="ui-li-icon" >Salir</a>
		</li>
	</ul>
</div>
