{% if is_tablet %}
	<!-- <div data-role="popup" id="panel-right" data-theme="c"  class="popup-categories" data-corners="false"> -->
{% else %}
<div data-role="panel" id="panel-right" style="background:#4b4b49;" class="panelInner" data-position-fixed="true" data-position="right" data-display="overlay">
{% endif %}

	<ul data-role="listview" data-theme="d" data-divider-theme="b" data-icon="false" class="jqm-list" id="ul-menu-categories">
		<li data-role="list-divider" role="heading">Categor&iacute;as</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="a">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category00.png" class="ui-li-icon">Todos</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category01.png" class="ui-li-icon">Ropa y Calzado</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category02.png" class="ui-li-icon">Bares</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category03.png" class="ui-li-icon">Restaurantes</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category04.png" class="ui-li-icon">Caf&eacute;s</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category05.png" class="ui-li-icon">Compras y Regalos</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category06.png" class="ui-li-icon">Viajes</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category07.png" class="ui-li-icon">Salud</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category08.png" class="ui-li-icon">Entretenimiento</a>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-iconpos="right" data-theme="d">
			<a href="" class="ui-link-inherit">
				<img src="/static/images/mobile/sidebar-right/category09.png" class="ui-li-icon">Otros</a>
		</li>
	</ul>
</div>
