{% extends 'mobile/app/mobile-base.html' %}
{% block main-page %}
<style type="text/css">
	.tag-filter{
		text-shadow: 0 0px 0 #000;
		font-family: 'Open Sans',sans-serif;
		padding: 5px;
		margin: 5px 5px -10px 0;
		color: #D14E0F;
		font-size: 1em;
		float: left;
		font-weight: 400;
	}
	#tag-filter-container{
		margin-left: 20px;
		padding-left: 10px;
	}
</style>
<div data-role="page" class="jqm-demos" id="page-top" data-dom-cache="false">
	{% include "mobile/app/panel-menu-left.html" %}
	<div data-role="header" class="jqm-header" data-quicklinks="true" data-theme="a" >
		{% include "mobile/app/app-header.html" %}
		<div data-role="navbar" data-iconpos="left">
	        <ul>
				<li><a href="#" class="ui-btn-active" onclick="javascript:changeTab('top');" id="ref-top">Top</a></li>
				<li><a href="#" onclick="javascript:changeTab('new');" id="ref-new">Nuevos</a></li>
	        </ul>
	    </div><!-- /navbar -->
	</div>
	<!-- BODY -->
	<div data-role="content"  class="container-search" style="display:none;" id="div-search-form">
		{% include "mobile/app/deals/deal-search-form.html" %}
	</div>
	<div data-role="content">
		<h1 style="font-weight: 400; font-family:'Open Sans', sans-serif; font-size:1.2em;">Resultados de la b&uacute;squeda: </h1>
		<div class="title-tag-wrapper">
			<img src="/static/images/mobile/search-icon.png" width="30px;" style="float:left; margin: 15px 5px 0 10px">
			<div id="tag-filter-container"></div>
			<div style="clear:both;"></div>
		</div>
		<div style="margin-top:15px;">
			<div id="content-top">
				<div id="dealscontainer-top">
					{% include "mobile/app/deals/deal-card.html" %}
				</div>
				<a onclick="javascript:loadNext('top',false);" data-role="button" data-theme='e' id='btnnext-top' rel='external' style='display:none;'>Ver siguientes</a>
			</div>
			<div id="content-new" style="display:none;">
				<div id="dealscontainer-new"></div>
				<a onclick="javascript:loadNext('new',true);" data-role="button" data-theme='e' id='btnnext-new' rel='external' style='display:none;'>Ver siguientes</a>
			</div>
		</div>		
	</div>
	<!-- END BODY -->
</div>
{% endblock %}

{% block custom-js %}
<script type="text/javascript">
var serializedQuery, selectedTab='top';
var selectedDeal, selectedDealHeader;
var loadedTab = new Array();

$(document).ready(function(){
	serializedQuery = window.location.href.slice(window.location.href.indexOf('?') + 1);
	$("#tag-filter-container").html(getSearchTags($.getUrlVars()));
	$('[id^="btnnext-"]').hide();
	if($('.deal-wrapper','#dealscontainer-top').last().attr('next-page'))
		$('#btnnext-top').show();
	loadedTab['top'] = true;
	loadedTab['new'] = false;
});

function getSearchTags(queryObject){
	var html="";
	for (key in queryObject){
		if(queryObject[key]!=""){
			switch(key){
				case "search-desc":
					html+="<div class='tag-filter'>+ "+queryObject[key]+"</div>";
					break;
				case "search-mall": 
					html+="<div class='tag-filter'>+ "+$("#"+key+" option[value="+queryObject[key]+"]").text()+"</div>";
					break;
				case "search-company": case "search-resource": case "search-category":
					if( Object.prototype.toString.call( queryObject[key] ) === '[object Array]' ){
						var arrlen = queryObject[key].length;
						for(var i=0;i<arrlen;i++)
							html+="<div class='tag-filter'>+ "+$("#"+key+" option[value="+queryObject[key][i]+"]").text()+"</div>";	
					}
					else
						html+="<div class='tag-filter'>+ "+$("#"+key+" option[value="+queryObject[key]+"]").text()+"</div>";
					break;
			}
		}		
	}
	if(jQuery.trim(html)!="")
		html+="<div style='clear:both;'></div>"
	return html;
}

function loadNext(tab, orderby){
	var nextpage = $('.deal-wrapper','#dealscontainer-'+tab).last().attr('next-page') || false;
	getData(tab, nextpage, orderby);
}

function getData(tab, page, orderby){
	if(!page) page = 1;
	var extraParams = "";
	extraParams+=orderby?"&order_by_date=1":"";
	extraParams+="&page="+page;
	jQuery.ajax({
  		type: "GET",
  		url: "/search/query/",
  		data: serializedQuery+extraParams,
		beforeSend: function(){
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(html){
	  		$.mobile.loading( 'hide' );
	  		$('#dealscontainer-'+tab).append(html);
	  		$('[id^="btnnext-"]').hide();
	  		if($('.deal-wrapper','#dealscontainer-'+tab).last().attr('next-page'))
				$('#btnnext-'+tab).show();
	  	}
	});
}
$(document).delegate('[name^="deal-"]', 'click', function() {
	selectedDeal = $(this).attr('name').match(/[\d]+$/);
	selectedDealHeader = $(this).attr('deal-name');
	$.mobile.changePage($("#page-deal"), { transition: "fade" });
});

$(document).live( 'pagechange',function(event, data){
	if(data.toPage.attr('id')=='page-deal'){
		$('#page-deal-header').html(selectedDealHeader);
		$('#page-deal-content').html('');
		$.mobile.loading( 'show' );
		$('#page-deal-content').load("/deals/get/code/"+selectedDeal+"/?ismobile=1", function(){$.mobile.loading( 'hide' );});
	}
	else{
		switch(selectedTab){
			case 'top':
				$("#ref-top").addClass("ui-btn-active"); break;
			case 'new':
				$("#ref-new").addClass("ui-btn-active"); break;
		}
	}
});

function changeTab(tab){
	selectedTab = tab;
	switch(selectedTab){
		case "top":
			$('#content-new').hide(); $('#content-top').show(); break;
		case "new":
			$('#content-top').hide(); $('#content-new').show(); break;
	}
	if(tab=="new" && !loadedTab["new"]){
		getData(tab, 1, true);
		loadedTab["new"] = true;
	}
}
</script>
{% endblock %}
