{% extends 'mobile/app/mobile-base.html' %}

{% block main-page %}
<div data-role="page" class="jqm-demos" id="page-top" data-dom-cache="false">
	{% include "mobile/app/panel-menu-left.html" %}
	<div data-role="header" class="jqm-header" data-quicklinks="true" data-theme="a">
		{% include "mobile/app/app-header.html" %}
		<div data-role="navbar" >
		    <ul>
		        <li><a href="#" class="ui-btn-active" onclick="javascript:changeTab(1);" id="ref-timeline">Timeline</a></li>
		        <li><a href="#" class="" onclick="javascript:changeTab(2);" id="ref-today">Hoy</a></li>
		    </ul>
		</div><!-- /navbar -->
	</div>
	<!-- BODY -->
	<div data-role="content"  class="container-search" style="display:none;" id="div-search-form">
		{% include "mobile/app/deals/deal-search-form.html" %}
	</div>
	<div data-role="content" id="content-timeline">
		<div>
			<div id='dealscontainer-1_0' ></div>
			<div id='dealscontainer-1_1' style='display:none;'></div>
			<div id='dealscontainer-1_2' style='display:none;'></div>
			<div id='dealscontainer-1_3' style='display:none;'></div>
			<div id='dealscontainer-1_4' style='display:none;'></div>
			<div id='dealscontainer-1_5' style='display:none;'></div>
			<div id='dealscontainer-1_6' style='display:none;'></div>
			<div id='dealscontainer-1_7' style='display:none;'></div>
			<div id='dealscontainer-1_8' style='display:none;'></div>
			<div id='dealscontainer-1_9' style='display:none;'></div>
		</div>
		<a onclick="javascript:loadNext(1,0);" data-role="button" data-theme='e' id='btnnext-1_0' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,1);" data-role="button" data-theme='e' id='btnnext-1_1' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,2);" data-role="button" data-theme='e' id='btnnext-1_2' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,3);" data-role="button" data-theme='e' id='btnnext-1_3' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,4);" data-role="button" data-theme='e' id='btnnext-1_4' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,5);" data-role="button" data-theme='e' id='btnnext-1_5' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,6);" data-role="button" data-theme='e' id='btnnext-1_6' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,7);" data-role="button" data-theme='e' id='btnnext-1_7' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,8);" data-role="button" data-theme='e' id='btnnext-1_8' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(1,9);" data-role="button" data-theme='e' id='btnnext-1_9' rel='external' style='display:none;'>Ver siguientes</a>
	</div>
	<div data-role="content" id="content-today" style="display:none;">
		<div>
			<div id='dealscontainer-2_0' ></div>
			<div id='dealscontainer-2_1' style='display:none;'></div>
			<div id='dealscontainer-2_2' style='display:none;'></div>
			<div id='dealscontainer-2_3' style='display:none;'></div>
			<div id='dealscontainer-2_4' style='display:none;'></div>
			<div id='dealscontainer-2_5' style='display:none;'></div>
			<div id='dealscontainer-2_6' style='display:none;'></div>
			<div id='dealscontainer-2_7' style='display:none;'></div>
			<div id='dealscontainer-2_8' style='display:none;'></div>
			<div id='dealscontainer-2_9' style='display:none;'></div>
		</div>
		<a onclick="javascript:loadNext(2,0);" data-role="button" data-theme='e' id='btnnext-2_0' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,1);" data-role="button" data-theme='e' id='btnnext-2_1' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,2);" data-role="button" data-theme='e' id='btnnext-2_2' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,3);" data-role="button" data-theme='e' id='btnnext-2_3' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,4);" data-role="button" data-theme='e' id='btnnext-2_4' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,5);" data-role="button" data-theme='e' id='btnnext-2_5' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,6);" data-role="button" data-theme='e' id='btnnext-2_6' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,7);" data-role="button" data-theme='e' id='btnnext-2_7' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,8);" data-role="button" data-theme='e' id='btnnext-2_8' rel='external' style='display:none;'>Ver siguientes</a>
		<a onclick="javascript:loadNext(2,9);" data-role="button" data-theme='e' id='btnnext-2_9' rel='external' style='display:none;'>Ver siguientes</a>
	</div>
	<!-- END BODY -->
</div>
{% endblock %}


{% block custom-js %}
<script type="text/javascript">

var selectedTab=1, selectedCategory=0, selectedDeal, selectedDealHeader;
var loadedData = new Array();
var loadedCategory = new Array();

$(document).ready(function(){
	fillLoadedDataArrays();
	getData();
});

function fillLoadedDataArrays(){
	var tabs = 3, categories = 9;
	for(var i=0; i<=9; i++) loadedCategory[i] = false;
	for(var i=0; i<=9; i++){
		loadedData[i] = new Array();
		for(var j=0; j<3; j++)
			loadedData[i][j] = false;
	}
}

function getData(category, tab, page, append){
	if(!page) page = 1;
	if(!category) category = selectedCategory;
	if(!tab) tab = selectedTab;
	//if(tab=='4' || tab==4) return; //Tab de busqueda.
	jQuery.ajax({
  		type: "GET",
  		url: "/user-deals/get/"+category+"/"+tab+"/",
  		data: 'sel_country=1&ismobile=1&page='+page,
		beforeSend: function(){
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(html){
	  		$.mobile.loading( 'hide' );
	  		if(html){
	  			$('#dealscontainer-'+tab+'_'+category+'').append(html);
	  			$('[id^="btnnext-"]').hide();
	  			if($('.deal-wrapper','#dealscontainer-'+tab+'_'+category+'').last().attr('next-page'))
	  				$('#btnnext-'+tab+'_'+category+'').show();
  			 	loadedCategory[category] = true;
	  			if(!loadedData[category]){
	  				loadedData[category]=new Array();
	  			}
  				loadedData[category][tab-1]=true;
  				$('[id^="dealscontainer-"]').hide();
				$('#dealscontainer-'+tab+'_'+category).show();
				//$('#page-deal').trigger("create");
	  		}
	  	}
	});
}

function loadNext(tab, category){
	var nextpage = $('.deal-wrapper','#dealscontainer-'+tab+'_'+category+'').last().attr('next-page') || false;
	getData(category, tab, nextpage, true);
}

function changeTab(tabNumber){
	selectedTab = tabNumber;
	switch(selectedTab){
		case 1:
			$('#content-today').hide(); $('#content-timeline').show(); break;
		case 2:
			$('#content-timeline').hide(); $('#content-today').show(); break;

	}
	//changeCategory(selectedCategory);
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			loadNext();
		else{
			$('[id^="dealscontainer-"]').hide();
			$('#dealscontainer-'+selectedTab+'_'+selectedCategory).show();
			$('[id^="btnnext-"]').hide();
			if($('.deal-wrapper','#dealscontainer-'+selectedTab+'_'+selectedCategory+'').last().attr('next-page'))
  				$('#btnnext-'+selectedTab+'_'+selectedCategory+'').show();
		}
	else
		loadNext();
}

$(document).delegate('[name^="deal-"]', 'click', function() {
	selectedDeal = $(this).attr('name').match(/[\d]+$/);
	selectedDealHeader = $(this).attr('deal-name');
	$.mobile.changePage($("#page-deal"), { transition: "fade" });
});

function changeCategory(categ){
	if(selectedCategory!=categ){
		$('#dealscontainer-'+selectedTab+'_'+selectedCategory).hide();
		$('#dealscontainer-'+selectedTab+'_'+categ).show();
		selectedCategory = categ;
	}
	if(loadedCategory[selectedCategory])
		if(!loadedData[selectedCategory][selectedTab-1])
			loadNext();
		else{
			$('[id^="btnnext-"]').hide();
			if($('.deal-wrapper','#dealscontainer-'+selectedTab+'_'+selectedCategory+'').last().attr('next-page'))
				$('#btnnext-'+selectedTab+'_'+selectedCategory+'').show();
		}
	else
		loadNext();
}

$(document).live( 'pagechange',function(event, data){
	if(data.toPage.attr('id')=='page-deal'){
		$('#page-deal-header').html(selectedDealHeader);
		$('#page-deal-content').html('');
		$.mobile.loading( 'show' );
		$('#page-deal-content').load("/user-deals/get/code/"+selectedDeal+"/?ismobile=1", function(){$.mobile.loading( 'hide' );});
	}
	else{
		switch(selectedTab){
			case 1:
				$("#ref-timeline").addClass("ui-btn-active"); break;
			case 2:
				$("#ref-today").addClass("ui-btn-active"); break;
		}
	}
});

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('.btn').attr('disabled',true);
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(json){
	  		$('.btn').attr('disabled',false);
	  		$.mobile.loading( 'hide' );
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}

</script>
{% endblock %}