{% extends 'mobile/app/mobile-base.html' %}
{% load deals_filters %}

{% block main-page %}
<style type="text/css">
.box-container{background:#fff; margin:-10px; margin-bottom:15px; height: 70px; padding-top: 5px; padding-left: 5px;}
.box-three-column-wrapper{width: 100%; margin: 0; padding: 0; position: relative;}
.box-three-column-left{ position:absolute; left:0px; width:60px; padding: 0; margin: 0;}
.box-three-column-center{ margin: 0 120px 0 60px; padding-left: 5px; padding-top: 10px;}
.box-three-column-right{ position:absolute; right:0px; width:117px; top: 0; }
.box-title{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 400; color: #D14E0F; font-size: 1.2em; line-height: 1.5; }
.box-subtitle{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight: 400; font-size: 0.9em; line-height: 1;}
</style>
<div data-role="page" class="jqm-demos" id="page-top" data-dom-cache="false">
	{% include "mobile/app/panel-menu-left.html" %}
	<div data-role="header" class="jqm-header" data-quicklinks="true" data-theme="a">
		{% include "mobile/app/app-header.html" %}
		<div data-role="navbar" >
		    <ul>
		        <li><a href="#" class="ui-btn-active" onclick="javascript:changeTab(1);" id="ref-timeline">Suscripciones</a></li>
		        <li><a href="#" class="" onclick="javascript:changeTab(2);" id="ref-today">M&aacute;s</a></li>
		    </ul>
		</div><!-- /navbar -->
	</div>
	<!-- BODY -->
	<div data-role="content"  class="container-search" style="display:none;" id="div-search-form">
		{% include "mobile/app/deals/deal-search-form.html" %}
	</div>
	<div data-role="content" id="content-susbscriptions">
		<div>
			<div id='suscriptions'>
				{% if subscriptions %}
					{% for item in subscriptions %}
						<div data-companyid="{{ item.id }}" class="box-container" style="">
							<div class="box-three-column-wrapper">
								<div class="box-three-column-left" style="margin-top:5px;">
									<div class="circular-50" style="background: url(/static/images/companies/logos_56/56x56_{{item.logo}}) no-repeat; background-size:50px 50px;"></div>
								</div>
								<div class="box-three-column-center" style="">
									<p class="box-title">{{ item.name }}</p>
									<p class="box-subtitle">{{ item.categories|joinby:" • "}}</p>
								</div>
								<div class="box-three-column-right company-subscription" style="margin-top:15px;">
									<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ item.id }});" data-rel="" data-role="button" data-theme="d" data-inline="true" id="" data-mini="true" data-name="following"><i class="fa fa-check-circle"></i> Siguiendo</a>
									<a href="javascript:void(0);" onclick="javascript:subscribe({{ item.id }});" data-rel="" data-role="button" data-theme="c" data-inline="true" id="" data-mini="true" style="display:none;" data-name="subscribe"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<!-- <a onclick="javascript:loadNext(1,0);" data-role="button" data-theme='e' id='btnnext-1_0' rel='external' style='display:none;'>Ver siguientes</a> -->
	</div>
	<div data-role="content" id="content-nonsubscriptions" style="display:none;">
		<div>
			<div id='nonsubscriptions'>
				{% if non_subscriptions %}
					{% for item in non_subscriptions %}
						<div data-companyid="{{ item.id }}" class="box-container" style="">
							<div class="box-three-column-wrapper">
								<div class="box-three-column-left" style="margin-top:5px;">
									<div class="circular-50" style="background: url(/static/images/companies/logos_56/56x56_{{item.logo}}) no-repeat; background-size:50px 50px;"></div>
								</div>
								<div class="box-three-column-center" style="">
									<p class="box-title">{{ item.name }}</p>
									<p class="box-subtitle">{{ item.categories|joinby:" • "}}</p>
								</div>
								<div class="box-three-column-right company-subscription" style="margin-top:15px;">
									<a href="javascript:void(0);" onclick="javascript:unsubscribe({{ item.id }});" data-rel="" data-role="button" data-theme="d" data-inline="true" id="" data-mini="true" style="display:none;" data-name="following"><i class="fa fa-check"></i> Siguiendo</a>
									<a href="javascript:void(0);" onclick="javascript:subscribe({{ item.id }});" data-rel="" data-role="button" data-theme="c" data-inline="true" id="" data-mini="true" data-name="subscribe"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- END BODY -->
</div>
{% endblock %}



{% block custom-js %}
<script type="text/javascript">

var selectedTab=1;

function changeTab(tabNumber){
	selectedTab = tabNumber;
	switch(selectedTab){
		case 1:
			$('#content-nonsubscriptions').hide(); $('#content-susbscriptions').show(); break;
		case 2:
			$('#content-susbscriptions').hide(); $('#content-nonsubscriptions').show(); break;

	}
}

$(document).live( 'pagechange',function(event, data){
	switch(selectedTab){
		case 1:
			$("#ref-timeline").addClass("ui-btn-active"); break;
		case 2:
			$("#ref-today").addClass("ui-btn-active"); break;
	}
});

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('.btn').attr('disabled',true);
	  		$.mobile.loading( 'show' );
  		},
	  	success: function(json){
	  		$('.btn').attr('disabled',false);
	  		$.mobile.loading( 'hide' );
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$("a[data-name='subscribe']","div[data-companyid='"+company+"']").show();
	  				$("a[data-name='following']","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}

</script>
{% endblock %}