{% for company in companies%}
	<div class='company-container span2'>
		<a href="/comercios/perfiles/{{company.slug}}">
			<div style='height: 66px; background:#fafafa; padding:5px;' >
				{% if company.logo %}
					<div class='deal-logo'>
						<img src="/static/images/companies/logos_56/56x56_{{company.logo}}">
						<img src="/static/images/companies/logos_56/56x56_{{company.logo}}" class='img-opacity'>
					</div>
					{% else%}
					<div class='deal-logo' style='width:56px;'>
						<img src="/static/images/companies/logos_56/56x56_{{company.id}}.png">
					</div>
				{% endif %}
			</div>
			<div>
				<span>{{company.name}}</span>
			</div>
		</a>
	</div>
{% endfor %}