{% extends 'app/app-base.html' %}
{% load deals_filters %}
{% block title %} Crupzi.com - {{ company.name }} {% endblock %}

{% block linkcss %}
<style type="text/css">
a.connect:link{ color: #fff; text-decoration:none; font-size:1.5em;}
a.connect:visited{ color: #fff; text-decoration:none; font-size:1.5em;}
a.connect:active{ color: #fff; text-decoration:none; font-size:1.5em;}
a.connect:hover{ color: #fff; text-decoration:none; font-size:1.5em;}
.logo-style{text-align:center; 	}
.alpha{
	background: rgb(1, 1, 1);
	background: rgba(1, 1, 1, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	padding-top:2em;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0 3px 20px -5px #888888;}

.login-container{
	margin: 50px 10px 10px 20px;
	padding: 1em 1em 1em 2em;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#fafafa));
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border: 2px solid;
	border-color:#EBEAE5 #E0DFDC #DBDAD7;}
.circular-56{
	width: 56px; height: 56px; margin: 0 auto;  border-radius: 28px;-webkit-border-radius: 28px; -moz-border-radius: 28px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .8);}
</style>
{% endblock %}

{% block user-header %}

{% endblock %}

{% block sub-header %}
<div></div>
{% endblock %}

{% block active-com %}active{% endblock %}

{% block content %}

{% with categories|first as cat %}
<div class='container' style='background: url(/static/images/app/{{cat}}-deg.png) no-repeat;  height:243px;'>
{% endwith %}
	<div style='' class='alpha_body'>
      <div class='app-header'>
        <div class='floatleft'><a href="/"><img src="/static/images/landing/logo.png"></a></div>
        <div class='floatright'>
          <ul class="tabs nav nav-pills nav-pills-app app" id='ul-home'>
          	<li><a href="/inicio"><i class='icon-home icon-white'></i></a></li>
            <li class='active'><a href="/comercios/lista/" data-target="tab">Comercios</a></li>
            <li><a href="http://blog.crupzi.com" data-target="tab" target='_blank'>Blog</a></li>
            {% if user_profile %}
            <li><a href="/mis-descuentos/" data-target="tab">Mis Descuentos</a></li>
            <li>
              {% if display %}
              <div class='floatleft' style=''>
                <img src="{{ display }}" width='32px'>
              </div>
              {% endif %}
              <div class='floatright' style='text-align:right; padding:0 0 0 0em; max-height:35px; margin-top:-5px;  '>
                <div>
                  <div style='margin:0; text-align:center;'><span style='color:#fff; font-size:1.1em;'>Bienvenido</span></div>
                  <ul class="nav nav-pills nav-pills-user" style='margin-top:-10px;'>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          {{ user.username }}<b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu  pull-right">
                        <li><a href="/cuenta/perfil">Editar perfil</a></li>
                        <li><a href="/logout">Salir</a></li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>
              <div style='clear:both;'></div>
            </li> 
            {% else %}
        	<li class='dropdown'>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Iniciar sesi&oacute;n <b class="caret"></b></a>
              <ul class="dropdown-menu  pull-right">
                <div>
                  <div class='social-header' style='text-align:left; margin-left:20px; margin-bottom:5px;'>Ingresa con :</div>
                  <div style='text-align:left; margin-left:20px;'>
                    <a href="{%  url socialauth_begin 'facebook' %}" class='floatleft'>
                        <img class="index-icon" src="/static/images/facebook.png"/>
                    </a>
                    <a href="{%  url socialauth_begin 'twitter' %}" class='floatleft' style="margin-left:10px;">
                        <img class="index-icon" src="/static/images/twitter.png"/>
                    </a>
                    <a href="http://www.crupzi.com/login/google-oauth2/" class='floatleft' style="margin-left:10px;">
                        <img class="index-icon" src="/static/images/google.png"/>
                    </a>
                    <div style='clear:both;'></div>
                  </div> 
                </div>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
        <div style='clear:both;'></div>
      </div>

    </div>
    {% if not_user %}
    <div style='padding:20px 0 0 40px;'>
    {% else %}
    <div style='padding:10px 0 0 40px;'>
    {% endif %}
    	<div class="floatleft" style="padding: 5px; background-color:#dbdcd7; width:93px;" data-companyid="{{ set_company }}">
    		<img src="/static/images/companies/logos_56/56x56_{{company.logo}}" style="width:92px;">
    		{% if not not_user %}
				{% if subscription %}
					<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% else %}
					<a class="btn btn-following-desktop" href="javascript:void(0);" style=" width:67px; display:none;" onclick="javascript:unsubscribe({{ set_company }});"><i class="fa fa-check-circle"></i> Siguiendo</a>
					<a class="btn btn-subscribe-desktop" href="javascript:void(0);" style=" width:67px;" onclick="javascript:subscribe({{ set_company }});"><i class="fa fa-plus-circle"></i> Suscr&iacute;beme</a>
				{% endif %}
			{% endif %}
    	</div>
    	<div class="floatleft" style="margin-left:1.5em; margin-top:20px;">
		<h1 class='h1-company-home' style="">{{ company.name }} 
			{% if verified %}<img src="/static/images/companies/afiliado_56c.png" width="30px" style="margin-left:3px;">{% endif %}
		</h1>
		<p style="margin-top:10px; font-size:1.6em; color:#fff; text-shadow: 1px 1px 1px #000;">{{ company_categories|joinby:" • "}}</p>
		</div>
		<div style="clear:both;"></div>
    </div>
</div>
<div class='container' style='background:#f5f5f5; padding-bottom:40px;'>
	<div style='margin-top:20px;'>
		{% if branches %}
		<div class="circular-50" style="background: url(/static/images/companies/logos_56/56x56_{{company.logo}}) no-repeat; background-size:50px 50px;"></div>
		<div class='span4' style='margin-top:20px;'>
			<div class=''>
				<div style='margin:2.3em 0 0.2em 0;'>
		  			<div class='floatleft' style='margin-right:10px;'><img src="/static/images/app/sucursales.png"></div>
					<div class='floatleft'><h4><span style='font-size:1.5em;'>Sucursales</span> <br>disponibles</h4></div>
					<div style='clear:both;'></div>
				</div>
				<div class='container-gray' style='margin-top:1em;'>
					<div class='' >
						<input type='radio' name='rd-branches' id='rd-braches_0' class='regular-radio'><span class='radio-text'>Todos</span><br>
						{% for item in branches %}
							<input type='radio' name='rd-branches' id='rd-braches_{{item.id}}' class='regular-radio'><span class='radio-text'>{{ item.name }}</span><br>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class='span8'>
		{% else %}
		<div class='offset4 span8'>
		{% endif %}
			<div class=''>
				<div style='margin-left:0;'>
					<div class='floatright' style='margin-right:30px;'>
						<ul id='ul-deals' class='nav nav-pills nav-pills-font-large'>
							<li class="active"><a href="#tab-0" data-toggle="tab">Todos</a></li>
							<li><a href="#tab-1" data-toggle="tab">Hoy</a></li>
						</ul>
					</div>
					<div class='floatright'>
						<!-- Buscar <input type='text' id='text-filter'/> -->
					</div>
					<div style='clear:both;'></div>
				</div>
				<div id='company-deals'> <!-- deals container -->
					{% include 'app/deals/deal-card.html' %}
				</div>
			</div>
		</div>		
		<div style='clear:both;'></div>
	</div>
</div>
<div class='modal hide' id='modal-deal-info'></div>
<div class='modal hide' id='modal-deal-save'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Hemos encontrado errores en la solicitud</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>El descuento seleccionado ya ha sido guardado.</p>
	</div>
</div>
<script type="text/javascript">
var selectedTab=0;
var selectedBranch=0;
var exclusiveDeals = false;

$(document).ready(function(){
	$('.deal-social-fake','#company-deals').on("click hover",function(){
		var isthis = $(this).parent();
		jQuery.ajax({
			type: "GET",
			url: "/deals/get/social/"+$(this).parent().attr("data-id")+"/",
			beforeSend: function(){
		  		$('button').attr('disabled',true);
		  		$('#loader').show();
	  		},
  			success: function(html){
  				$('button').attr('disabled',false);
				$('#loader').hide();
				if(html){
					isthis.html(html);
					twttr.widgets.load();
					FB.XFBML.parse(isthis[0]);
				}
  			}
		});
	});
});

$('a[data-toggle="tab"]', '#ul-deals').on('shown', function (e) {
	var target = e.target.toString();
	var tab_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedTab = tab_arr[1];
	tabData(selectedTab=='0'?false:true);
});

function tabData(today){
	if(selectedBranch==0 || selectedBranch=='0'){
		if(today){
			$(".deal-container","#company-deals").each(function () {
				if($(this).attr('data-today')=='today')
					$(this).removeClass('hidden');
				else
					$(this).addClass('hidden');	
			});
		}
		else{
			$(".deal-container","#company-deals").each(function () {
				$(this).removeClass('hidden');
			});	
		}
	}
	else{
		if(today){
			var deal, dealId;
			$(".deal-container","#company-deals").each(function () {
				deal = $(this).attr('id').split('-');
				dealId = deal[1];
				if($(this).attr('data-today')=='today'){
					if($(this).attr('cb')=='B'){
						if(exclusiveDeals){
							for(key in exclusiveDeals){
								if (exclusiveDeals[key]==dealId){
									$(this).removeClass('hidden');
									break;
								}
								else $(this).addClass('hidden');		
							}
						}
						else $(this).addClass('hidden');	
					}
					else $(this).removeClass('hidden');
				}
				else
					$(this).addClass('hidden');	
			});
		}
		else{
			$(".deal-container","#company-deals").each(function () {
				deal = $(this).attr('id').split('-');
				dealId = deal[1];
				if($(this).attr('cb')=='B'){
					if(exclusiveDeals){
						for(key in exclusiveDeals){
							if (exclusiveDeals[key]==dealId){
								$(this).removeClass('hidden');
								break;
							}
							else $(this).addClass('hidden');		
						}
					}
					else $(this).addClass('hidden');	
				}
				else $(this).removeClass('hidden');
			});
		}
	}
	$("#text-filter").val('');
}

$("#text-filter").keyup(function () {
    var filter = $(this).val(), count = 0;
    $(".deal-container","#company-deals").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).addClass("hidden");
        } else {
            $(this).removeClass("hidden");
            count++;
        }
    });
    $("#filter-count").text(count);
});

$('[name="rd-branches"]').click(function(){
	var idArr = $(this).attr('id').split('_');
	selectedBranch = idArr[1];
	if(selectedBranch=='0'){
		$('#branch-name,#branch-info').html('');  			
		tabData(selectedTab=='0'?false:true);
	}
	else{
		jQuery.ajax({
	  		type: "GET",
	  		url: "/branches/get/",
	  		data: 'branch_id='+selectedBranch,
			beforeSend: function(){
		  		$('button').attr('disabled',true);
		  		$('#loader').show();
	  		},
		  	success: function(json){
		  		$('button').attr('disabled',false);
		  		$('#loader').hide();
		  		if(json){
		  			data = eval(json);
		  			$('#branch-name').html('Sucursal '+data[0].info.name);
		  			$('#branch-info').html(data[0].info.address);
		  			exclusiveDeals = data[0].deals;
		  			tabData(selectedTab=='0'?false:true);
		  		}
		  	}
		});
	}
});

$('#sel-branches').change(function(){
	selectedBranch = $(this).val();
	if($(this).val()=='-1'){
		$('#branch-name,#branch-info').html('');  			
		tabData(selectedTab=='0'?false:true);
	}
	else{
		jQuery.ajax({
	  		type: "GET",
	  		url: "/branches/get/",
	  		data: 'branch_id='+$(this).val(),
			beforeSend: function(){
		  		$('button').attr('disabled',true);
		  		$('#loader').show();
	  		},
		  	success: function(json){
		  		$('button').attr('disabled',false);
		  		$('#loader').hide();
		  		if(json){
		  			data = eval(json);
		  			$('#branch-name').html(data[0].info.name);
		  			$('#branch-info').html(data[0].info.address);
		  			exclusiveDeals = data[0].deals;
		  			tabData(selectedTab=='0'?false:true);
		  		}
		  	}
		});
	}
});

function getDeal(dealId){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/get/code/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		if(html){
	  			$('#modal-deal-info').html(html);
	  			$('#modal-deal-info').modal('show');
	  			$('#deal-restrictions').html(linkify($('#deal-restrictions').html()));
	  			twttr.widgets.load();
	  			FB.XFBML.parse(document.getElementById("modal-deal-info"));
	  		}
	  	}
	});
}

function saveDeal(dealId, popup){
	jQuery.ajax({
  		type: "GET",
  		url: "/deals/save/"+dealId+"/",
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$('#loader').show();
  		},
	  	success: function(html){
	  		$('button').attr('disabled',false);
	  		$('#loader').hide();
	  		if(html){
	  			noty({text:html, timeout:'4000', layout:'bottom', type:'error'});
	  		}
	  		else{
	  			var msg = "<p><i class='icon-tag icon'></i>&nbsp;El descuento se guardó correctamente.</span></p>";
	  			noty({text: msg, timeout:'4000', layout:'bottom', type:'success'});
	  		}
	  	}
	});
}

$('[data-toggle="popover"]').popover();

function unsubscribe(company){
	subscribe(company, true);
}

function subscribe(company, unsubscribe){
	var post_url = "/comercios/subscribe/", subscribe = true;
	if(unsubscribe){ 
		post_url = "/comercios/unsubscribe/";
		subscribe = false;
	}
	jQuery.ajax({
  		type: "POST",
  		url: post_url,
  		data: 'company_id='+company,
		beforeSend: function(){
	  		$('button').attr('disabled',true);
	  		$("#loader").show();
  		},
	  	success: function(json){
	  		$('button').attr('disabled',false);
	  		$("#loader").hide();
	  		var data = eval(json);
	  		if (data[0].success==true){
	  			if(subscribe){
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  			else{
	  				$(".btn-subscribe-desktop","div[data-companyid='"+company+"']").show();
	  				$(".btn-following-desktop","div[data-companyid='"+company+"']").hide();
	  			}
	  		}
		}
	});
}

</script>
{% endblock %}