{% extends 'app/app-base.html' %}

{% block sub-header %}
	<div></div>
{% endblock %}

{% block active-com %}active{% endblock %}

{% block content %}
<div class='container' style='background:#f5f5f5; padding-bottom:75px;'>
	<div style='margin-left:25px;'>
		<div class='offset1 span10' style='margin-top:25px;'>
			<div class="tab-content">
				<div class="tab-pane active" id="cat-0">
					<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-0'/></div>
			      	<div id='company-cat-0' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-1">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-1'/></div>
			      	<div id='company-cat-1' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-2">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-2'/></div>
			      	<div id='company-cat-2' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-3">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-3'/></div>
			      	<div id='company-cat-3' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-4">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-4'/></div>
			      	<div id='company-cat-4' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-5">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-5'/></div>
			      	<div id='company-cat-5' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-6">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-6'/></div>
			      	<div id='company-cat-6' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-7">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-7'/></div>
			      	<div id='company-cat-7' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-8">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-8'/></div>
			      	<div id='company-cat-8' class='companies-container'></div>
			    </div>
			    <div class="tab-pane" id="cat-9">
			    	<div class='padding-normal fontfamily-normal'>Buscar <input type='text' id='textfilter-9'/></div>
			      	<div id='company-cat-9' class='companies-container'></div>
			    </div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var selectedCategory=0;
var catLoaded = new Array(10);

$(document).ready(function(){
	$('#textfilter-0').focus();
	getTabData();
});

function changeCategory(categ){
	if(selectedCategory!=categ){
		$('#cat-'+selectedCategory).removeClass('app-header-active');
		$('#cat-'+categ).addClass('app-header-active');
		
		$('#cat-'+selectedCategory,'.tab-content').removeClass('active');
		$('#cat-'+categ,'.tab-content').addClass('active');
		selectedCategory = categ;
	}
	$('#textfilter-'+selectedCategory).focus();
	getTabData();
}



$('a[data-toggle="tab"]', '#ul-categories').on('shown', function (e) {
	var target = e.target.toString();
	var cat_arr = target.substr(target.indexOf('#')+1).split('-');
	selectedCategory = cat_arr[1];
	$('#textfilter-'+selectedCategory).focus();
	getTabData();
});

function getTabData(){
	var category = selectedCategory;
	if(!catLoaded[category]){
		jQuery.ajax({
	  		type: "GET",
	  		url: "/companies_list/get/"+category+"/",
	  		data: 'sel_country='+'1',//$('#sel_country').val()
			beforeSend: function(){
		  		$('button').attr('disabled',true);
		  		$('#loader').show();
	  		},
		  	success: function(html){
		  		$('button').attr('disabled',false);
		  		$('#loader').hide();
		  		if(html){
		  			$('#company-cat-'+category).html(html);
		  			catLoaded[category]=true;
		  		}
		  	}
		});
	}
}

$('[id^="textfilter-"]').keyup(function () {
    var filter = $(this).val(), count = 0;
	var arr = $(this).attr('id').split('-');
    $(".company-container","#company-cat-"+arr[1]+"").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).addClass("hidden");
        } else {
            $(this).removeClass("hidden");
            count++;
        }
    });
    //$('[id^="textfilter"]-').text(count);
});

</script>

{% endblock %}