<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Crupzi.com - Reset de contrase&ntilde;as</title>

  <link href="/static/lib/dashboard/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <script src="/static/lib/dashboard/javascripts/application.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!-- there's an IE separated stylesheet with the following resets for IE -->
  <!--[if lte IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="../../javascripts/html5shiv.js" type="text/javascript"></script>
        <script src="../../javascripts/excanvas.js" type="text/javascript"></script>
        <script src="../../javascripts/ie_fix.js" type="text/javascript"></script>
        <link href="../../stylesheets/ie_fix.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <style>
      section#main {  margin-left: 0px; }
      ul.top-notifications { display: none; }
	.password_strength {
		position:absolute;
		right:0;
		top:0;
		font-weight:bold;
		padding: 0.5em;
		-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
	        border-radius: 2px;
	    margin-right: 5px;
	}
	.password_strength_1 {
		background-color: #fcb6b1;
	}
	.password_strength_2 {
		background-color: #fccab1;
	}
	.password_strength_3 {
		background-color: #fcfbb1;
	}
	.password_strength_4 {
		background-color: #dafcb1;
	}
	.password_strength_5 {
		background-color: #bcfcb1;
	}
	.table tr.row_selected {
  		background-color: #E7E572;
	}
	.ajax-loader{
		position: fixed;
	    top: 35%;
	    left: 50%;
	    margin-left: -75px;
	    width: 100px;
	    background: #FFF;
	    color: #BAB095;
	    border: 1px solid #E0DCBB;
	    padding: 20px;
	    text-align: center;
	    -moz-border-radius:20px;
		-webkit-border-radius:20px;
		border-radius:20px;
		z-index: 2000;
		display: none;
	}
  </style>
</head>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<body>
<div class="top-bar">
  <a id="topbar-brand-out" class="brand" href="">
    <img alt="Dashboard Crupzi.com" src="/static/images/landing/logo.png" width="100" style='margin-top:10px;'/>
  </a>
</div>
<section id="main">
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="login-container center">
	  		<div>
	          <img src="/static/images/logo_blog.png" width='220px' style='margin-right:47px;'/>
	          <img src="/static/images/app/afiliado-new-small.png">
        	</div>
		  <div class="title text-transparent" style='font-size:25px; margin-top:10px; text-align:center;'>&iquest;Olvidaste tu contrase&ntilde;a?</div>
		  <hr class="main">
		  	{% if message %}
				<div class="alert alert-success" style='margin-top:1.5em;'>{{ message }}</div>
				<div style='margin:1em;'>
					Para ingresar a Crupzi haz clic <a href="/comercios/login">aqu&iacute;.</a>
				</div>
			{% endif %}
				
			{% if error %}
				<div class="alert alert-error" style='margin-top:1.5em;'>{{ error }}</div>
			{% endif %}
			{% if form %}
			<p style='margin-top:1.5em;'>Ingresa tu nombre de usuario, la nueva contrase&ntilde;a y presiona el bot&oacute;n "Solicitar cambio"</p>
			<div class="alert alert-error" style='margin:1em 0 1em 0; display:none;' id='container-errors'></div>
			<div class='alert alert-success' id='container-messages' style='display:none; margin:1em 0 1em 0;'></div>
			<form class="login-form" id='form-passwordreset' action='' method=''>
				<ul class="fields-list">
			      <li>
			        <i class="icon-user" style="float: left;"></i>
			        <input autocomplete="off" id="username" name="username" placeholder="Nombre de usuario" type="text">
			      </li>
			      <li>
			        <i class="icon-key"></i>
			        <input autocomplete="off" id="password" name="password" placeholder="Nueva contrase&ntilde;a" type="password" data-typetoggle='#chk-showpassword'>
			      </li>
			      <li>
			        <input id="chk-showpassword" type="checkbox" style='margin-top:-5px;'/><span style='margin-left:5px; font-size:0.8em;'>Mostrar contrase&ntilde;a</span>
			      </li>
			    </ul>
				
				<div class="actions">
			      <a href="javascript:void(0);" class="btn btn-large medium-blue login-btn" id='btn-requestpwdchange'>
			        Solicitar cambio
			      </a>
			    </div>
				<div class="clearfix"></div>
			</form>
			
			<hr>
			<p>
				La contrase&ntilde;a no se cambiar&aacute; hasta que hagas click en el link de confirmaci&oacute;n que se te enviar&aacute; por correo electr&oacute;nico.
			</p>
			{% endif %}
		</div>
    </div>
  </div>
</div>
</section>
<div id='loader' class='ajax-loader'>
	  <div style='margin: 0 auto;'>
	      <img src="/static/images/load.gif">
	      <p style='color: #BAB095;'>Cargando ...</p>
	  </div>
	</div>
	<script type="text/javascript" src='/static/lib/js/jquery.password_strength.js'></script>
	<script type="text/javascript" src='/static/lib/js/jquery.showpassword.js'></script>
	<script type="text/javascript">
		var pwdLevel;
		$('#password').showPassword();
		$('#password').password_strength({
			'onCheck': function(level){
				pwdLevel = level;	
			}
		});

		$('#btn-requestpwdchange').click(function(event){
			event.preventDefault();
			if(validateForm()){
				var formData = $('#form-passwordreset').serialize();
				jQuery.ajax({
			  		type: "POST",
			  		url: "/comercios/passwordreset/",
			  		data: formData,
					beforeSend: function(){
				  		$('button').attr('disabled',true);
				  		$('#loader').show();
			  		},
				  	success: function(json){
				  		$('button').attr('disabled',false);
				  		$('#loader').hide();
				  		var data = eval(json);
				  		if (data[0].error == true){
				  			var html = '';
				  			var errors = data[0].errors;
				  			for (key in errors){
				  				html+="<li>"+errors[key]+"</li>";
				  				$('#container-errors').html(html).show();
				  			}
				  		}
				  		else{
				  			$('#container-errors').hide();
				  			$('#container-messages').html('La petici&oacute;n de cambio de contrase&ntilde;a se realiz&oacute; correctamente. Revisa el correo que enviamos a tu cuenta de correo registrada en Crupzi y haz click en el enlace').show();
				  			//setTimeout("$('#container-messages').hide('slow');", 4000);
				  		}
				  	}
				});
			}
		});

		function validateForm(){
			var errors = '';
			if($.trim($('#username').val())=='')
				errors+='<li>Debes ingresar el nombre de usuario.</li>';
			if($.trim($('#password').val())=='')
				errors+='<li>Debes ingresar la nueva contrase&ntilde;a.</li>'
			if(pwdLevel<3)
				errors+='<li>Favor introducir una contrase&ntilde;a m&aacute;s fuerte. Intenta introducir al menos dos n&uacute;meros y que la longitud del password se mayor o igual a 10 caracteres.</li>';
			if(errors.length!=0){
				$('#container-errors').html(errors).show();
				return false;
			}
			return true;
		}

	</script>

</body>
</html>