{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Inicio{% endblock %}

{% block active-branch %}active{% endblock %}

{% block pagetitle %}Sucursales {% endblock %}

{% block dashboard-content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class='box inner light-gray'>
					<div class='row-fluid offset2'>
						<button class="big-button" onclick='javascript:branch_newBranch();' id='btn-new' style=''>
							<i class="icon-plus icon-large"></i>
							<span class='button-text'>Nueva</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:editBranch();' id='btn-edit' style=''>
							<i class="icon-edit icon-large"></i>
							<span class='button-text'>Editar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmInactivateBranch();' id='btn-inactivate'>
							<i class="icon-ban-circle icon-large"></i>
							<span class='button-text'>Inactivar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:validateBranch();' id='btn-activate' style='display:none;'>
							<i class="icon-ok-circle icon-large"></i>
							<span class='button-text'>Activar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmDeleteBranch();' id='btn-delete' style=''>
							<i class="icon-trash icon-large"></i>
							<span class='button-text'>Eliminar</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style='margin-top:5px; text-align:center;'>
	<div class='alert alert-success' id='msg-branch-success' style='display:none;'></div>
	<div class="alert alert-error" style='display:none;' id='msg-branch-errors'></div>
	<div class="alert alert-block" style='display:none;' id='msg-branch-block'>Selecciona una sucursal e int&eacute;ntalo de nuevo.</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-table"></i> Lista de sucursales
              	</div>
              	<div class=''>
              	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped bootstrap-datatable datatable" style='' id="table-branches">
					<thead>
						<tr>
							<th width="1%">Id</th>  
							<th width="80%" style=''>Nombre de sucursal</th><!-- ededed -->
							<th width="1%">Valid</th>
							<th width="20%" style=''>Estado</th>
						</tr> 
					</thead>
					<tbody></tbody>
				</table>
				</div>
				<div style='clear:both;'></div>
            </div>
    	</div>

		<div class="span6" id='branch-formcontainer' style='display:none;'>
			<div class="box bordered">
				<div class="box-header">
              		<i class=""></i> <span id='branch-formtitle'>Nueva sucursal</span>
              	</div>
              	<div class='box-content padded'>
					<div class="alert alert-error" style='display:none;' id='branch-form-errors'></div>
	    			<form id='form-branches'>
	    				<input type='hidden' id='txt-branch_id' name='id'/>
	    				<div>
							<div><input type='text' id='txt-branch_name' name='name' style='width:100%;' placeholder='Nombre'/></div>
						</div>
						<div>
							<div><textarea rows='4' id='txt-branch_address' name='address' style='width:100%;' placeholder='Direcci&oacute;n'></textarea></div>
						</div>
						<div>
							<div><input type='text' id='txt-branch_phonenumber' name='phone_number' style='width:100%;' placeholder='Tel&eacute;fono'/></div>
						</div>
						<div>
							<select id='sel-branch_mall' name='mall' data-placeholder="Centro comercial" style='width:100%;'>
								<option value=''></option>
								{% for item in malls %}
									<option value='{{item.id}}'>{{item.name}}</option>
								{% endfor %}
							</select>
						</div>
	    			</form>
	    			<div class='' style='margin-top:10px;'>
		    			<button class='btn dark-blue' id='btn-branch-save'>Guardar</button>
		    			<button class='btn' id='btn-branch-cancel'>Cancelar</button>
					</div>
				</div>
          	</div>
      	</div>

      	<div class="span6" id='branch-info'>
			<div class="box bordered dark padded">
				<div class="box-header">
              		<i class="icon-info-sign"></i> Administraci&oacute;n de sucursales
              	</div>
              	<div class='padded'>
              		<p>
              			Si eres el encargado de administrar diferentes sucursales en tu comercio. En esta secci&oacute;n puedes agregarlas y modificar su informaci&oacute;n de manera individual.
              		</p>
              	</div>
          	</div>
      	</div>
  	</div>
</div>

<div class='modal hide' id='modal-invalidateConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de inactivar la sucursal.</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:invalidateBranch();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-invalidateConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


<div class='modal hide' id='modal-deleteConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de eliminar la sucursal de forma definitiva</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:deleteBranch();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-deleteConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


{% endblock %}

{% block scriptjs %}
<script type="text/javascript">
var branchesTable;
branchesTable = $('#table-branches').dataTable({
	"sDom": "<<l>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
	'bProcessing': true,
	'bAutoWidth':false,
	"oLanguage": {
        "sUrl": "/static/lib/utils/dataTables.spanish.txt"
    },
	"sPaginationType": "full_numbers",
	"bJQueryUI": true,
	'bFilter': false,
	"bInfo": false,
	"bLengthChange": false,
	'sAjaxSource': '/comercios/branch/table/',
	'aoColumns': [ 
			/* id */   { "bSearchable": false,  "bVisible":    false },
			/* name */  null,
			/* valid */   { "bSearchable": false,  "bVisible":    false },
			/* valid label*/  null
		],
	'fnInitComplete': function(oSettings, json) {
		$("#table-branches tbody tr").click( function( e ) {
	        if ( $(this).hasClass('row_selected') ) {
	            $(this).removeClass('row_selected');
	            //$('#branch-edit-container').hide();
	            $('#btn-edit,#btn-delete,#btn-activate,#btn-inactivate').addClass('button-inactive');
	        }
	        else {
	            branchesTable.$('tr.row_selected','#table-branches').removeClass('row_selected');
	            $(this).addClass('row_selected');
	            //$('#branch-edit-container').show();
	            $('#btn-edit,#btn-delete,#btn-activate,#btn-inactivate').removeClass('button-inactive');
	            var anSelected = fnGetSelected( branchesTable );
	            var is_valid = branchesTable.fnGetData(anSelected[0],2); //5: is_valid column (boolean)
	            if(is_valid){
	            	$('#btn-inactivate').show();
	            	$('#btn-activate').hide();
	            }
	            else{
	            	$('#btn-inactivate').hide();
	            	$('#btn-activate').show();	
	            }
	        }
	    });
	  
	}
});

$.extend( $.fn.dataTableExt.oStdClasses, {
	    "sWrapper": "dataTables_wrapper form-inline"
} );


function fnGetSelected(table){
	return table.$('tr.row_selected');
}


</script>
<script type="text/javascript" src='/static/lib/js/app/companies/dashboard_branch.js'></script>
{% endblock %}