<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>Crupzi.com - Inicio de sesi&oacute;n para comercios</title>

  <link href="/static/lib/dashboard/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <script src="/static/lib/dashboard/javascripts/application.js" type="text/javascript"></script>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!-- there's an IE separated stylesheet with the following resets for IE -->
  <!--[if lte IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="../../javascripts/html5shiv.js" type="text/javascript"></script>
        <script src="../../javascripts/excanvas.js" type="text/javascript"></script>
        <script src="../../javascripts/ie_fix.js" type="text/javascript"></script>
        <link href="../../stylesheets/ie_fix.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <style>
      section#main {  margin-left: 0px; }
      ul.top-notifications { display: none; }
  </style>
</head>
<body>
<div class="top-bar">
  <a id="topbar-brand-out" class="brand" href="">
    <img alt="Dashboard Crupzi.com" src="/static/images/landing/logo.png" width="100" style='margin-top:10px;'/>
  </a>
</div>
<section id="main">
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="login-container center">
        <div>
          <img src="/static/images/logo_blog.png" width='220px' style='margin-right:47px;'/>
          <img src="/static/images/app/afiliado-new-small.png">
        </div>
  <div class="title text-transparent" style='font-size:25px; margin-top:10px; text-align:center;'>
    {% if demo %}
    Versi&oacute;n demo de Comercios
    {% else %}
    Inicio de Sesi&oacute;n Comercios
    {% endif %}
  </div>
  <hr class="main">
  {% if error %}
	<div class="alert alert-error" style='margin-top:1.5em;'>
		{{ error }}
	</div>
	{% endif %}
  <form id='form_businessConnect' action='/comercios/connect/' method='post' class='login-form'>{% csrf_token %}
    <ul class="fields-list">
      <li>
        <i class="icon-user" style="float: left;"></i>
        <input autocomplete="off" id="username" name="username" placeholder="Nombre de usuario" type="text" value="{% if demo%}crupzi-demo{% endif %}">
      </li>
      <li>
        <i class="icon-key"></i>
        <input autocomplete="off" id="password" name="password" placeholder="Contrase&ntilde;a" type="password" value="{% if demo%}crupzidemo{% endif %}">
      </li>
    </ul>

    <div class="actions">
      <a href="javascript:void(0);" class="btn btn-large medium-blue login-btn" id='btn-connect'>
        Iniciar Sesi&oacute;n
      </a>
    </div>

    <hr class="main">
    {% if demo %}
    <p>
      En la versi&oacute;n demo no puedes hacer modificaciones dentro de la plataforma.<br><br> Para ingresar solamente presiona el bot&oacute;n<br> "Iniciar Sesi&oacute;n"
    </p>
    {% else %}
    <h3>&iquest;Olvidaste tu contrase&ntilde;a?</h3>
  	<p>
  		No hay problema, <a href="/comercios/passwordreset/">Click aqu&iacute;</a> para obtener una nueva.
  	</p>
    {% endif%}
  </form>
</div>
    </div>
  </div>
</div>
</section>
<script type="text/javascript">

	$('#password').keypress(function(e){
		 var code = (e.keyCode ? e.keyCode : e.which);
		 if(code == 13) { //Enter keycode
			$('#btn-connect').click();		   
		 }
	});

	$('#btn-connect').click(function(){
		$('#form_businessConnect').submit();
	});
</script>
</body>
</html>