{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Inicio{% endblock %}

{% block active-ini %}active{% endblock %}

{% block pagetitle %}Configuraci&oacute;n {% endblock %}

{% block dashboard-content %}




<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-picture"></i> Informaci&oacute;n General
              	</div>
              	<div class=''>
              		<div class='alert alert-success' id='msg-info-success' style='display:none; margin:1em 30px;'></div>
              		<div class="alert alert-error" style='display:none; margin:1em 30px;' id='info-form-errors'></div>
              	</div>
              	<div>
              		<div class='span4'>
              			<div class='padded' style='margin-top:-20px;'>
              				<div class='section-title'>Informaci&oacute;n vigente</div>
              				<span class='bold'>Nombre: </span><span id='lbl-businessname'>{{company.name}}</span><br>
							<span class='bold'>Direcci&oacute;n:</span>
							{% if company.address %}
								<span id='lbl-businessaddress'>{{company.address}}</span>
							{% else%}
								<span id='lbl-businessaddress'>-----------</span>
							{% endif %}
							<br>
							<span class='bold'>Tel&eacute;fono:</span>
							{% if company.phone_number %}
							 	<span id='lbl-businessphone'>{{ company.phone_number }}</span>
							{% else%}
								<span id='lbl-businessphone'>-----------</span>
							{% endif %}
							<br><br>
							<button class='btn dark-blue btn-mini' onclick='javascript:info_changeInfo();' style=''>Modificar informaci&oacute;n</button>
              			</div>
              			
              		</div>

              		<div class='span5 padded' style='margin-top:-20px;'>
              			
              			<div id='info-form-container' style='display:none;' >
              				<div class='section-title'>Modificaci&oacute;n de Informaci&oacute;n general</div>
              				<div class=''>
              					<div class=''>
									<form id='form-changeinfo' name='form-changeinfo'>
							    		<div>
											<div><span class='bold'>Nombre</span></div>
											<div><input type='text' id='txt-business_name' name='txt-business_name' style='width:90%;'/></div>
										</div>
										<div>
											<div><span class='bold'>Direcci&oacute;n</span></div>
											<div><textarea rows='4' id='txt-business_address' name='txt-business_address' style='width:90%;'></textarea></div>
										</div>
										<div>
											<div><span class='bold'>Tel&eacute;fono</span></div>
											<div><input type='text' id='txt-business_phonenumber' name='txt-business_phonenumber' style='width:90%;'/></div>
										</div>
										
									</form>
									<div class='' style=''>
										<button class='btn dark-blue btn-mini' id='btn-info_changeinfo' style=''>Cambiar</button>
										<button class='btn btn-mini' id='btn-info_cancelchangeinfo'>Cancelar</button>
									</div>
									<br>
								</div>
              				</div>
              			</div>
              		</div>
              		<div style='clear:both;'></div>
              	</div>
          	</div>
      	</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-picture"></i> Cambio de logo
              	</div>
              	<div class='padded'>
	              	<div class='span4' style='margin-left:0;'>
	              		<div class=''>
	              			<form id='form-logo' action="/comercios/data/logo/" method="post" enctype="multipart/form-data">{% csrf_token %}
							{% for field in logoForm %}
								<div class="fieldWrapper inline-fields">
									<div>{{ field }} <button class='btn dark-blue btn-mini' id='btn-changeimg'>Cambiar imagen</button></div>
								</div>
							{% endfor %}
							</form>
	              		</div>
	              	</div>
              	</div>
              	<div style='clear:both;'></div>		
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-picture"></i> Cambio de contrase&ntilde;a
              	</div>
				<div class='padded'>
					<div class="alert alert-error" style='display:none;' id='info-pwd-msg'></div>
					<div class="alert alert-error" style='display:none;' id='info-pwd-errors'></div>
					<form id='form-changepwd'>
			    		<div style='position:relative;'>
							<div class='floatleft' style='width: 150px;'><span class='bold'>Nueva contrase&ntilde;a: </span></div>
							<div class='floatleft'><input type='password' id='txt-businesspwd' name='txt-businesspwd' data-typetoggle='#chk-showpassword'/ style='width:90%;'></div>
							<div style='clear:both;'></div>
						</div>
						<div>
							<input id="chk-showpassword" type="checkbox" style='margin-top:-5px;' style='width:90%;'/><span style='margin-left:5px;'>Mostrar contrase&ntilde;a</span>
						</div>
						
					</form>
					<div class='' style=''>
						<button class='btn dark-blue btn-mini' id='btn-info_changepwd' style=''>Cambiar</button>
						<button class='btn btn-mini' id='btn-info_cancelchangepwd'>Cancelar</button>
					</div>
				</div>
			</div>
		</div>
		<div style='clear:both;'></div>
	</div>
</div>

<div>
	

	<div class="box">

		<div class="box-content">
			<div class='span4 floatleft' style='margin-bottom:15px;'>
				
				<!-- <a href="javascript:void(0);" onclick='javascript:info_changeInfo();'>Modificar informaci&oacute;n</a>&nbsp;&nbsp;
				<a href="javascript:void(0);" onclick='javascript:info_changePwd();'>Cambiar contrase&ntilde;a</a> -->
			</div>
			<div class='floatleft span4'>
				<div class="box-header" data-original-title>
					<h2></span></h2>
				</div>
				
			</div>
			<div id='info-form-password' class='floatleft span4' style='display:none; margin:0;'>
				
			</div>
			<div style='clear:both;'></div>
		</div>
	</div>
	<br>
</div>

<div class='modal hide' id='modal-passwordConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de cambiar su contrase&ntilde;a</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:changePassword();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-passwordConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>

{% endblock %}

{% block scriptjs %}

<script type="text/javascript" src='/static/lib/js/jquery.password_strength.js'></script>
<script type="text/javascript" src='/static/lib/js/jquery.showpassword.js'></script>


<script type="text/javascript">

$('#id_logo').uniform();
$('#txt-businesspwd').showPassword();

</script>

<script type="text/javascript" src='/static/lib/js/app/companies/dashboard_info.js'></script>
{% endblock %}