{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Descuentos{% endblock %}

{% block active-deals %}active{% endblock %}

{% block pagetitle %} Descuentos {% endblock %}

{% block dashboard-content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class='box inner light-gray'>
					<div class='row-fluid offset2'>
						<button class="big-button" onclick='javascript:newDeal();' id='btn-new' style=''>
							<i class="icon-plus icon-large"></i>
							<span class='button-text'>Nuevo</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:loadEditForm();' id='btn-edit' style=''>
							<i class="icon-edit icon-large"></i>
							<span class='button-text'>Editar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmInvalidate();' id='btn-inactivate'>
							<i class="icon-ban-circle icon-large"></i>
							<span class='button-text'>Inactivar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmValidate();' id='btn-activate' style='display:none;'>
							<i class="icon-ok-circle icon-large"></i>
							<span class='button-text'>Activar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmDelete();' id='btn-delete' style=''>
							<i class="icon-trash icon-large"></i>
							<span class='button-text'>Eliminar</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style='text-align:center;'>
<div class="alert alert-success" style='display:none;' id='msg-success'></div>
<div class="alert alert-error" style='display:none;' id='msg-errors'></div>
<div class="alert alert-block" style='display:none;' id='msg-block'>Selecciona un descuento e int&eacute;ntalo de nuevo.</div>
</div>
<div class="container-fluid" id='box-deals-container'>
	<div class="row-fluid">
		<div class="span7" >
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-table"></i> Descuentos disponibles
              	</div>

              		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped datatable" style='' id="table-deals">
							
						<thead>

							<tr>
								<th width="1%">Id</th> 
								<th width="55%">Nombre</th> 
								<th width="16%">Estado</th>
								<th width="18%">Creaci&oacute;n</th> 
								<th width="13%">Fin</th>
								<th width="1%">Valid</th>
								<th width="1%">Slug</th>
							</tr> 
						</thead>

						<tbody>

						</tbody>
	<!-- 							<tfoot>
							<tr>
								<th colspan='2'></th>
								<th></th> 
								<th colspan='3'></th>
							</tr>
						</tfoot> -->
					</table>

          	</div>
      	</div>
      	{% if user.username != 'crupzi-demo' %}
      	<div class="span5" id='deal-additionalinfo' style="display:none;">
			<div class="box bordered padded">
				<div class="box-header">
              		<i class="icon-info-sign"></i> Enlace
              	</div>
              	<div class='padded over-flow-ellipsis'>
          			<a href="" target="_blank" id="dealinfo-href"><span id="dealinfo-slug"></span></a>
              	</div>
          	</div>
      	</div>
      	{% endif %}
      	<div class="span5" id='deal-info'>
			<div class="box bordered dark padded">
				<div class="box-header">
              		<i class="icon-info-sign"></i> TIPS
              	</div>
              	<div class='padded'>
              			<ul style="list-style-type: disc;">
              				{% if entity %}
              				<li>Si no encuentras un comercio externo para asignarle un descuento, escríbenos a <a href="mailto:socios@crupzi.com">socios@crupzi.com</a> para agregarlo a la lista.</li>
              				{% endif %}
              				<li>La <span class="bold">fecha de inicio</span> indica desde qué instante el descuento será visible para los usuarios.</li>
              			</ul>
              	</div>
          	</div>
      	</div>
      	
  	</div>
</div>

<div class="container-fluid" >
	<div class="row-fluid">
		<div class="span12" id='box-deals-form' style='display:none;'>
			<div class="box bordered" >
				<div class="box-header">
              		<i class="icon-tags"></i> 
              		<span id='header-dealForm'>Encabezado</span>
              	</div>
              	<div class='box-content' >
					<div id='deal-form-container'  style='margin-left:1em; width:97%;' class=''>
						<div class='box-content' >
							{% url 'companies.views.deal_crud' 'create' as form_url_create %}
							{% url 'companies.views.deal_crud' 'edit' as form_url_edit %}
							{% url 'companies.views.deal_crud' 'delete' as form_url_delete %}
							<form method='post' action="/comercios/deals/create" id='form-deal'> {% csrf_token %}

								<input type='hidden' id='hid-dealid' name='hid-dealid'>
								<div class='span4 ' style='margin-right:50px; overflow:visible;'>	
									<div style='position:relative;'>
										<div><input type='text' required='true' id='txt-name' name='txt-name' style='width:89%;' placeholder='T&iacute;tulo'/></div>
									</div>
									<div style='position:relative;'>
										<div><textarea rows='2' id='txt-desc' name='txt-desc' style='width:89%;' placeholder='Descripci&oacute;n'></textarea></div>
									</div>
									<div style='position:relative;'>
										<div><textarea rows='5' id='txt-restr' name='txt-restr' style='width:89%;' placeholder='Restricciones generales'></textarea></div>
									</div>
									<div style=''>
										<div class='input-append'>
											<input type='text' style='width: 78%;' id='txt-percent' name='txt-percent' placeholder='Porcentaje de descuento'>
											<button class="btn light-blue inverse" type="button">%</button>
										</div>
									</div>
									{% if entity %}
									<div>
										<select id='sel-company' name='sel-company' data-placeholder="Descuento para comercio externo" style="">
											<option></option>
											{% for item in companies %}
												<option value='{{item.id}}'>{{item.name}}</option>
											{% endfor %}
										</select>
									</div>
									{% else %}
									<input type="hidden" id="sel-company" name="sel-company" value="">
									{% endif %}
								</div>
								<div class='span3 ' style=''>
									<div class=''> <!-- right -->
										<div style=''>
											<div><span class='bold'>Calendarizaci&oacute;n</span></div>
											<div>
												<input type='checkbox' id='chk-mon'> Lunes <br>
												<input type='checkbox' id='chk-tue'> Martes <br>
												<input type='checkbox' id='chk-wed'> Mi&eacute;rcoles <br>
												<input type='checkbox' id='chk-thu'> Jueves <br>
												<input type='checkbox' id='chk-fri'> Viernes <br>
												<input type='checkbox' id='chk-sat'> S&aacute;bado <br>
												<input type='checkbox' id='chk-sun'> Domingo <br>
												<input type='hidden' id='hid-schedule' name='hid-schedule'>
											</div>
											<div style='margin-top:0.5em;'>
												<div>
													<div class="input-append date datepicker" data-date=" " data-date-format="dd/mm/yyyy">
														<input type='text' id='txt-date_ini' name='txt-date_ini' style='width: 90px;' class='floatleft' placeholder='Inicio'>
														<button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
													</div>
												</div>
												<div>
													<div class="input-append date datepicker" data-date=" " data-date-format="dd/mm/yyyy">
														<input type='text' id='txt-date_end' name='txt-date_end' style='width: 90px;' class='floatleft' placeholder='Fin'>
														<button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>

								<div class='span3' id='dealform-thirdcolumn'>
									<div class='padding-small'>
										<div><span class='bold'>Restricciones adicionales</span></div>
										<div style='position:relative;'>
											<select id='sel-branch' name='sel-branch' data-placeholder="Exclusivo para sucursales" multiple style="">
												{% for item in branches %}
													<option value='{{item.id}}'>{{item.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div>
											<select id='sel-resource' name='sel-resource' data-placeholder="Exclusivo para tarjetas" multiple style="">
												{% for item in resources %}
													{% if forloop.first %}
														<optgroup label='{{item.entity.name}}'>
															<option value='{{item.id}}'>{{item.entity.name}} - {{item.name}}</option>
													{% else %}
														{% if forloop.last %}
																{% ifchanged item.entity %}
																<optgroup label='{{item.entity.name}}'>
																{% endifchanged %}
																<option value='{{item.id}}'>{{item.entity.name}} - {{item.name}}</option>
															</optgroup>
														{% else %}
															{% ifchanged item.entity %}
																</optgroup>
																<optgroup label='{{item.entity.name}}'>
																	<option value='{{item.id}}'>{{item.entity.name}} - {{item.name}}</option>
															{% else %}
																<option value='{{item.id}}'>{{item.entity.name}} - {{item.name}}</option>
															{% endifchanged %}				
														{% endif %}
													{% endif %}
												{% endfor %}
											</select>
										</div>
										
									</div>
								</div>
								<div style='clear:both;'></div>
							</form>
							<div class='padded' style=';'>
								<button class='btn dark-blue' id='btn-save'>Guardar</button>
								<button class='btn' id='btn-clear'>Limpiar</button>
								<button class='btn' id='btn-cancel'>Cancelar</button>
							</div>

						</div>

					</div>
					<div style='clear:both;'></div>
				</div>

          	</div>
          	<div style="height:130px;"></div>
      	</div>
  	</div>
</div>

<div class='modal hide' id='modal-invalidateConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de invalidar el descuento.</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:invalidateDeal();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-invalidateConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


<div class='modal hide' id='modal-validateConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de validar el descuento nuevamente.</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:validateDeal();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-validateConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


<div class='modal hide' id='modal-deleteConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de eliminar el descuento.</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:deleteDeal();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-deleteConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>

{% endblock %}

{% block scriptjs %}
<script type="text/javascript" src='/static/lib/js/charCount.js'></script>
<script type="text/javascript" src='/static/lib/utils/dataTables.date-eu-sort.js'></script>
<script type="text/javascript" src='/static/lib/js/app/companies/dashboard_deals.js?time=1377577202'></script>


</script>

{% endblock %}