{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Preguntas frecuentes{% endblock %}

{% block active-faq %}active{% endblock %}

{% block pagetitle %}Preguntas frecuentes {% endblock %}

{% block dashboard-content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
      		<div class="box bordered">
      			<div class="box-header">
    				<i class="icon-question-sign"></i> Preguntas frecuentes
				</div>
				<div class="row-fluid">
					<div class="span4 faq-left hpadded20">
						<a href="javascript:void(0);" class="btn btn-large btn-block medium-blue" onclick='window.location.href="mailto:socios@crupzi.com";'>Env&iacute;anos una pregunta</a>
						<div class="well faq-well">
              <p>
                  Sabemos que tu tiempo es importante. Hemos recopilado una serie de preguntas que podr&iacute;as tener ahora que formas parte del programa de comercios afiliados. Si no encuentras lo que buscas, haz clic sobre el bot&oacute;n "Env&iacute;anos una pregunta" de la parte superior o escr&iacute;benos a <a href="mailto:socios@crupzi.com">socios@crupzi.com</a>.
              </p>
						</div>
					</div>
					<div class="span8">
						<div class="padded">
    						<ol class="faq-list">
    							<li>
            						<h4 id="faq-question-1">¿Cuánto tengo que pagar por ser comercio afiliado?</h4>
            						<p>Inicialmente estamos ofreciendo nuestro programa de comercios afiliados totalmente gratis. En un futuro ofreceremos diferentes planes Premium con diferentes funcionalidades que se adapten a las necesidades de cada comercio.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-2">¿Cuántos descuentos puedo ingresar?</h4>
            						<p>Por el momento puedes ingresar descuentos ilimitados; Sin embargo, para evitar spam, únicamente podrás ingresar una cantidad limitada de descuentos al dia. A nadie le gusta el spam.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-3">Soy el administrador de varias sucursales y mis descuentos no aplican para todas. ¿Qué puedo hacer?</h4>
            						<p>Crupzi.com para comercios afiliados te ofrece la opción de asignar descuentos a sucursales particulares. Únicamente tienes que crear las sucursales que administras en la pestaña de sucursales y  al crear un descuento, especificas la restricción que solo es válido para las sucursales que apliquen.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-4">¿Qué tengo que hacer si mis descuentos aplica para una tarjeta que no aparece en el listado?</h4>
            						<p>Debido a que esa información puede ser de ayuda para todos, te pedimos que envíes un correo a <a href="mailto:socios@crupzi.com">socios@crupzi.com</a> y solicites el ingreso de la información de la tarjeta.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-5">¿Qué hago si ya no quiero que se muestre un descuento en crupzi.com?</h4>
            						<p>Si quieres eliminar un descuento para siempre, selecciona el descuento y haz clic en el botón “eliminar” dentro de la pestaña “descuentos”. Si únicamente quieres invalidar algun descuento, selecciona el descuento y haz clic en el botón “invalidar” dentro de la pestaña de descuentos.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-6">¿Cuál es la diferencia entre eliminar e invalidar?</h4>
            						<p>Cuando eliminas un descuento, la acción es permanente. El descuento no puede ser recuperado. Cuando invalidas un descuento, la acción es temporal. Eso quiere decir que puedes modificarlo y activarlo nuevamente en el momento que creas conveniente.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-7">¿Qué beneficios tengo al utilizar crupzi.com?</h4>
            						<p>Además de dar a conocer todas tus promociones y ayudar a responder a la pregunta más popular en las redes sociales: ¿Qué promocion hay para hoy? Te brindamos hermosos gráficos e importantes analíticos para poder cuantificar el impacto de tus descuentos y tomar decisiones a partir de ello. En un futuro agregaremos más beneficios de acuerdo a las necesidades de cada comercio afiliado.</p>
          						</li>
          						<li>
            						<h4 id="faq-question-8">¿Cómo puedo dar sugerencias sobre crupzi.com y la plataforma de comercios afiliados?</h4>
            						<p>Puedes escribirnos a <a href="mailto:socios@crupzi.com">socios@crupzi.com</a> con cualquier duda o sugerencia. Queremos que la plataforma para comercios afiliados sea exactamente lo que necesitan, así que, todas las sugerencias son bien recibidas.</p>
          						</li>
    						</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}