{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Inicio{% endblock %}

{% block active-cards %}active{% endblock %}

{% block pagetitle %}Tarjetas {% endblock %}

{% block dashboard-content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class='box inner light-gray'>
					<div class='row-fluid offset2'>
						<button class="big-button" onclick='javascript:newCard();' id='btn-new' style=''>
							<i class="icon-plus icon-large"></i>
							<span class='button-text'>Nueva</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:editCard();' id='btn-edit' style=''>
							<i class="icon-edit icon-large"></i>
							<span class='button-text'>Editar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmInactivateCard();' id='btn-inactivate'>
							<i class="icon-ban-circle icon-large"></i>
							<span class='button-text'>Inactivar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:validateCard();' id='btn-activate' style='display:none;'>
							<i class="icon-ok-circle icon-large"></i>
							<span class='button-text'>Activar</span>
						</button>
						<button class="big-button button-inactive" onclick='javascript:confirmDeleteCard();' id='btn-delete' style=''>
							<i class="icon-trash icon-large"></i>
							<span class='button-text'>Eliminar</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style='margin-top:5px; text-align:center;'>
	<div class='alert alert-success' id='msg-cards-success' style='display:none;'></div>
	<div class="alert alert-error" style='display:none;' id='msg-cards-errors'></div>
	<div class="alert alert-block" style='display:none;' id='msg-cards-block'>Selecciona una tarjeta e int&eacute;ntalo de nuevo.</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-table"></i> Lista de tarjetas
              	</div>
              	<div class=''>
              	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped bootstrap-datatable datatable" style='' id="table-cards">
					<thead>
						<tr>
							<th width="1%">Id</th>  
							<th width="80%" style=''>Nombre de tarjeta</th><!-- ededed -->
							<th width="1%">Valid</th>
							<th width="20%" style=''>Estado</th>
						</tr> 
					</thead>
					<tbody></tbody>
				</table>
				</div>
				<div style='clear:both;'></div>
            </div>
    	</div>

		<div class="span6" id='cards-formcontainer' style='display:none;'>
			<div class="box bordered">
				<div class="box-header">
              		<i class=""></i> <span id='cards-formtitle'>Nueva tarjeta</span>
              	</div>
              	<div class='box-content padded'>
					<div class="alert alert-error" style='display:none;' id='cards-form-errors'></div>
	    			<form id='form-cards'>
	    				<input type='hidden' id='txt-card_id' name='id'/>
	    				<div>
							<div><input type='text' id='txt-card_name' name='name' style='width:100%;' placeholder='Nombre'/></div>
						</div>
	    			</form>
	    			<div class='' style='margin-top:10px;'>
		    			<button class='btn dark-blue' id='btn-card-save'>Guardar</button>
		    			<button class='btn' id='btn-card-cancel'>Cancelar</button>
					</div>
				</div>
          	</div>
      	</div>

      	<div class="span6" id='cards-info'>
			<div class="box bordered dark padded">
				<div class="box-header">
              		<i class="icon-info-sign"></i> Administraci&oacute;n de tarjetas
              	</div>
              	<div class='padded'>
              		<p>
              			En esta sección puedes administrar tarjetas de débito, crédito, membresías y recursos requeridos en tus promociones.
              		</p>
              	</div>
          	</div>
      	</div>
  	</div>
</div>

<div class='modal hide' id='modal-invalidateConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de inactivar la tarjeta.</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:invalidateCard();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-invalidateConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


<div class='modal hide' id='modal-deleteConfirm'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Est&aacute; apunto de eliminar la tarjeta de forma definitiva</h3>
	</div>
	<div class='modal-body' id='modal-deal-save-body'>
		<p>
			&iquest;Est&aacute; seguro que desea continuar?
		</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:deleteCard();" class="btn btn-primary">S&iacute;</a>
		<a href="javascript:$('#modal-deleteConfirm').modal('hide')" class="btn" data-dismiss="modal">No</a>
	</div>
</div>


{% endblock %}

{% block scriptjs %}
<script type="text/javascript">
var cardsTable;
cardsTable = $('#table-cards').dataTable({
	"sDom": "<<l>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
	'bProcessing': true,
	'bAutoWidth':false,
	"oLanguage": {
        "sUrl": "/static/lib/utils/dataTables.spanish.txt"
    },
	"sPaginationType": "full_numbers",
	"bJQueryUI": true,
	'bFilter': false,
	"bInfo": false,
	"bLengthChange": false,
	'sAjaxSource': '/comercios/cards/table/',
	'aoColumns': [ 
			/* id */   { "bSearchable": false,  "bVisible":    false },
			/* name */  null,
			/* valid */   { "bSearchable": false,  "bVisible":    false },
			/* valid label*/  null
		],
	'fnInitComplete': function(oSettings, json) {
		$("#table-cards tbody tr").click( function( e ) {
	        if ( $(this).hasClass('row_selected') ) {
	            $(this).removeClass('row_selected');
	            //$('#branch-edit-container').hide();
	            $('#btn-edit,#btn-delete,#btn-activate,#btn-inactivate').addClass('button-inactive');
	        }
	        else {
	            cardsTable.$('tr.row_selected','#table-cards').removeClass('row_selected');
	            $(this).addClass('row_selected');
	            //$('#branch-edit-container').show();
	            $('#btn-edit,#btn-delete,#btn-activate,#btn-inactivate').removeClass('button-inactive');
	            var anSelected = fnGetSelected( cardsTable );
	            var is_valid = cardsTable.fnGetData(anSelected[0],2); //5: is_valid column (boolean)
	            if(is_valid){
	            	$('#btn-inactivate').show();
	            	$('#btn-activate').hide();
	            }
	            else{
	            	$('#btn-inactivate').hide();
	            	$('#btn-activate').show();	
	            }
	        }
	    });
	  
	}
});

$.extend( $.fn.dataTableExt.oStdClasses, {
	    "sWrapper": "dataTables_wrapper form-inline"
} );


function fnGetSelected(table){
	return table.$('tr.row_selected');
}


</script>
<script type="text/javascript" src='/static/lib/js/app/companies/dashboard_cards.js'></script>
{% endblock %}