<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Crupzi.com - {% block dashboard-title%}Dashboard{% endblock %}</title>
	<meta name="description" content="Crupzi - Dashboard de comercios">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/static/lib/dashboard/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
	<script src="/static/lib/dashboard/javascripts/application.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!-- there's an IE separated stylesheet with the following resets for IE -->
	<!--[if lte IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="../javascripts/html5shiv.js" type="text/javascript"></script>
	<script src="../javascripts/excanvas.js" type="text/javascript"></script>
	<script src="../javascripts/ie_fix.js" type="text/javascript"></script>
	<link href="../stylesheets/ie_fix.css" media="screen" rel="stylesheet" type="text/css" />
	<![endif]-->

	<link href="/static/lib/js/datePicker/datePicker.css" rel="stylesheet">

	<style type="text/css">

		.floatleft{float:left;}
		.floatright{float:right;}
		.bold{font-weight: bold;}
		.password_strength {
			position:absolute;
			right:0;
			top:0;
			font-weight:bold;
			padding: 0.5em;
			-webkit-border-radius: 2px;
	       -moz-border-radius: 2px;
		        border-radius: 2px;
		}
		.password_strength_1 {
			background-color: #fcb6b1;
		}
		.password_strength_2 {
			background-color: #fccab1;
		}
		.password_strength_3 {
			background-color: #fcfbb1;
		}
		.password_strength_4 {
			background-color: #dafcb1;
		}
		.password_strength_5 {
			background-color: #bcfcb1;
		}
		.table tr.row_selected {
	  		background-color: #E7E572;
		}

		.table-striped tbody tr.row_selected td{
			background-color: #E7E572;
		}

		form .counter{
			position:absolute;
			right:0;
			top:0;
			font-weight:bold;
			color:#ccc;
			margin-right: 15px;
		}
		form .warning{color:#600;}	
		form .exceeded{color:#e00;}

		.hide{display: none;}

		.ajax-loader{
			position: fixed;
		    top: 35%;
		    left: 50%;
		    margin-left: -75px;
		    width: 100px;
		    background: #FFF;
		    color: #BAB095;
		    border: 1px solid #E0DCBB;
		    padding: 20px;
		    text-align: center;
		    -moz-border-radius:20px;
			-webkit-border-radius:20px;
			border-radius:20px;
			z-index: 2000;
			display: none;
		}

		.knob-info{
			margin:50px 0 0 20px; min-width:80px;
		}

		 @media (min-width: 768px) and (max-width: 851px) {
		   .knob-info{
		   	 margin:10px 0 0 20px; min-width:80px;
		   }
		 }

		.button-inactive, .button-inactive:hover{
		  background: #999999;
		  color: #fff;
		  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); 
		}

		.button-inactive2, .button-inactive2:hover{
		  background: #7091A4;
		  color: #fff;
		  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); 
		}

		#deal-state-filter option { color: black; }
		.empty { color: gray; }

		#table-deals_filter input::-webkit-input-placeholder {
		 padding-left: 5px;
		 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		#dataTables_filter input:-moz-placeholder {
		 padding-left: 5px;
		}
		#dataTables_filter input:-ms-input-placeholder {
		 padding-left: 5px;
		}

		div.selector {
		  width: 240px;
		  font-size: 12px; }

		/* line 400, uniform.default.css.scss */
		div.selector select {
		  min-width: 240px;
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		  font-size: 12px;
		  border: solid 1px #fff; }

		/* line 407, uniform.default.css.scss */
		div.selector span {
		  padding: 0px 25px 0px 2px;
		  cursor: pointer; }

		/* line 412, uniform.default.css.scss */
		div.selector span {
		  color: #666;
		  width: 210px;
		  text-shadow: 0 1px 0 #fff; }
		  
		.over-flow-ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

	</style>
</head>

<body>

<nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="/comercios/dashboard/inicio">
    <img alt="Dashboard Crupzi.com" src="/static/images/landing/logo.png" width="100" style='margin-top:10px;'/>
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
         <img class="avatar" src="/static/images/companies/logos_56/56x56_{{company.logo}}">
          <span class="text" id="profile-text" style="line-height:20px; margin-top:10px;">
            {{ company.name }}<br> <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="">
          <a href="/comercios/dashboard/configuracion">
            Configuraci&oacute;n
          </a>
        </li>
        <li class="">
          <a href="/comercios/logout">
            Salir
          </a>
        </li>
      </ul>
    </li>

    <!-- Dashboard -->
    <li class="{% block active-ini %}{% endblock %}">
      <a href="/comercios/dashboard/inicio">
          <span class="icon">
            <i class="icon-dashboard"></i>
          </span>
          <span class="text">
            Inicio
          </span>
      </a>
    </li>
    <li class="{% block active-branch %}{% endblock %}">
      <a href="/comercios/dashboard/sucursales">
          <span class="icon">
            <i class="icon-map-marker"></i>
          </span>
          <span class="text">
            Sucursales
          </span>
      </a>
    </li>
    {% if entity %}
    <li class="{% block active-cards %}{% endblock %}">
      <a href="/comercios/dashboard/tarjetas">
          <span class="icon">
            <i class="icon-credit-card"></i>
          </span>
          <span class="text">
            Tarjetas
          </span>
      </a>
    </li>
    {% endif %}
    <li class="{% block active-deals %}{% endblock %}">
      <a href="/comercios/dashboard/descuentos">
          <span class="icon">
            <i class="icon-tags"></i>
          </span>
          <span class="text">
            Descuentos
          </span>
      </a>
    </li>
    <li class="{% block active-stats %}{% endblock %}">
      <a href="/comercios/dashboard/estadisticas">
          <span class="icon">
            <i class="icon-bar-chart"></i>
          </span>
          <span class="text">
            Estad&iacute;sticas
          </span>
      </a>
    </li>
    <li class="{% block active-faq %}{% endblock %}">
      <a href="/comercios/dashboard/faq">
          <span class="icon">
            <i class="icon-question-sign"></i>
          </span>
          <span class="text">
            FAQ
          </span>
      </a>
    </li>
  </ul>
</nav>
<div class="top-bar" style=''>
	<a id="topbar-brand" class="brand" href="/comercios/dashboard/inicio/">
	<img alt="Dashboard Crupzi.com" src="/static/images/landing/logo.png" width="100" style='margin-top:10px;'/>
	</a>
</div>

<section id='main'>
	<div class="row-fluid">
	<div class="span12">

		<hr class="main">
		<ul class="">

      		<li style='font-weight:300; font-size:3em; padding: 20px;' class='text-transparent'>
	        	{% block pagetitle %}{% endblock %}
      		</li>
	    </ul>
	    <hr class="main">
	</div>
	</div>



			<!-- start: Content -->
			<div id="content" class="" style=''>

					<div class="">
						{% block dashboard-content %}{% endblock %}
					</div>


			</div> <!-- end: Content -->

	</div>

	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span12">

	      <div class="box footer">
	        <div class="copyright text-transparent center">
	          <div>2013 &copy; Crupzi.com</div>
	          <div>Las cosas son simples hasta que alguien las complica. Nuestra misi&oacute;n es crear cosas simples y geniales que a&uacute;n no existen pero creemos deber&iacute;an existir.</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<div id='loader' class='ajax-loader'>
  <div style='margin: 0 auto;'>
      <img src="/static/images/load.gif">
      <p style='color: #BAB095;'>Cargando ...</p>
  </div>
</div>

<script src='/static/lib/DataTables-1.9.2/js/jquery.dataTables.fnReloadAjax.js'></script>
<script src='/static/lib/js/datePicker/date.js'></script>
<script src='/static/lib/js/datePicker/jquery.datePicker.js'></script>
<script src='/static/lib/js/datePicker/date_es.js'></script>
<script src='/static/lib/js/dataTables.fnGetColumnData.js'></script>

{% block scriptjs %}{% endblock %}
</body>

</html>