{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Inicio{% endblock %}

{% block active-ini %}active{% endblock %}

{% block pagetitle %}Inicio {% endblock %}

{% block dashboard-content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
    			<div class="box inner light-gray">
      				<div class="row-fluid padded10">
      					<!-- Sucursales -->
      					<div class='span2 center offset1'>
				    		<div class="stat-box medium-blue">
		    			      	<i class="icon-map-marker icon-large"></i>
								<span class="count">{{top_stats.branches}}</span>
      							<span class="stat-text">Sucursales</span>
				    		</div>
      					</div>
      					<!-- Sucursales -->
      					<div class='span2 center'>
				    		<div class="stat-box dark-blue">
		    			      	<i class="icon-tags icon-large"></i>
								<span class="count">{{top_stats.deals}}</span>
      							<span class="stat-text">Vigentes</span>
				    		</div>
      					</div>
      					<!-- Impresiones -->
      					<div class='span2 center'>
				    		<div class="stat-box border-blue">
		    			      	<i class="icon-print icon-large"></i>
								<span class="count">{{top_stats.prints}}</span>
      							<span class="stat-text">Impresiones</span>
				    		</div>
      					</div>
      					<!-- Clicks -->
      					<div class='span2 center'>
				    		<div class="stat-box dark-blue">
		    			      	<i class="icon-external-link icon-large"></i>
								<span class="count">{{top_stats.clicks}}</span>
      							<span class="stat-text">Clicks</span>
				    		</div>
      					</div>
      					<!-- Guardados -->
      					<div class='span2 center'>
				    		<div class="stat-box medium-blue ">
		    			      	<i class="icon-save icon-large"></i>
								<span class="count">{{top_stats.saves}}</span>
      							<span class="stat-text">Guardados</span>
				    		</div>
      					</div>
      				</div>
      			</div>
      			{% if user.username != 'crupzi-demo' %}
      			<div class='row-fluid'>
      				<div class="span12">
      					<div class="padded">
      						<div class="section-title">Enlace a perfil</div>
      						<p><a href="http://www.crupzi.com/comercios/perfiles/{{ company.slug }}/" target="_blank">http://www.crupzi.com/comercios/perfiles/{{ company.slug }}/</a></p>
      					</div>
      				</div>
      			</div>
      			{% endif %}
      			<div class='row-fluid'>
	      			<div class='span6'>
	      				<div class='padded'>
			         		<div class="section-title">Descuentos visitados</div>
			         		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped datatable" style='' id="table-deals">
								<thead>
									<tr>
										<th width="62%">Descuento</th> 
										<th width="12%">Impresiones</th>
										<th width="14%">Clicks</th> 
										<th width="12%">Guardados</th> 
									</tr> 
								</thead>
								<tbody>
								{% if stats_deals %}
									{% for deal in stats_deals %}
										<tr>
											<td>{{ deal.deal.name }}</td>
											<td>{{ deal.prints }}</td>
											<td>{{ deal.clicks }}</td>
											<td>{{ deal.saves }}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr><td colspan='4'>No se encontraron estad&iacute;sticas para la semana anterior.</td></tr>
								{% endif %}
								</tbody>
							</table>
						</div>
					</div>
					<div class='span6'>
						<div class='padded'>
		         			<div class="section-title">Descuentos vigentes</div>
		         			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped datatable" style='' id="table-currentdeals">
								<thead>
									<tr>
										<th width="62%">Descuento</th> 
										<th width="12%">Creaci&oacute;n</th>
										<th width="14%">Fin</th>  
									</tr> 
								</thead>

								<tbody>
								{% if current_deals %}
									{% for deal in current_deals %}
										<tr>
											<td>{{ deal.name }}</td>
											<td>{{ deal.init_date|date:"d/m/Y" }}</td>
											<td>{{ deal.end_date|date:"d/m/Y" }}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr><td colspan='3'>No se encontraron descuentos vigentes.</td></tr>
								{% endif %}
								</tbody>
							</table>
		         		</div>
					</div>
				</div>
				<div class='row-fluid'>
					<div class='span12'>
						<div class='padded'>
		         			<div class="section-title">Estad&iacute;sticas semana: {{ first_day_str }} - {{ last_day_str }}</div>
							<div id='dashboard_chart_div'>
				    			<div id="chart_div" style="width:900px; height:300px;" class=''></div>
				    		</div>						
							<div>
								<div id="chart_div_ages_prints" class='floatleft' style="width:450px; height:300px"></div>
								<div id="chart_div_location_prints" class='floatleft' style="width:450px; height:300px"></div>
								<div style='clear:both;'></div>
							</div>

						</div>
					</div>
				</div>
      		</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scriptjs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.load('visualization', '1.0', {'packages':['controls']});

	var largechartwidth, smallchartwidth, generalChartsData;
	var titleFontSize = 20, titleFontColor='#646464', titleFontName='Open Sans';
	var palette = ['#67a0be','#63A822','#FF8330','#6C5E6D','#39C5AA'];
	setStatsWidth();

	function drawCharts(){
		jQuery.ajax({
	  		type: "GET",
	  		url: "/comercios/dashboard/stats/general",
			beforeSend: function(){
		  		$('button').attr('disabled',true);
		  		$('#loader').show();
	  		},
		  	success: function(json){
		  		$('button').attr('disabled',false);
		  		$('#loader').hide();
		  		var data = eval(json);
		  		generalChartsData = data.slice(0);
		  		if (data[0].error == true) return;
		  		else{
		  			if (data[0].nodata== true) return;
		  			drawChartsAux(data);
		  		}
		  	}
		});
	}

	function drawChartsAux(data){
		var data_gral_area = google.visualization.arrayToDataTable(data[0].gral);
		view_data_gral_area = new google.visualization.DataView(data_gral_area);
		options_gral_area = {
			'title':'Impresiones-Clicks',
			'titleTextStyle': {fontSize: titleFontSize, color: titleFontColor, fontName: titleFontName},
			'backgroundColor': 'none',
			'colors': palette,
			'width': largechartwidth,
			'height': 300,
		}

		chart_gral_area = new google.visualization.AreaChart(document.getElementById('chart_div'));
		chart_gral_area.draw(view_data_gral_area, options_gral_area);

		$('#select_chart_div').change(function(){
			var value = $(this).val();
			switch(value){
				case '0':
					view_data_gral_area.setColumns([0,1,2,3]);
					break;
				case '1':
					view_data_gral_area.setColumns([0,1]);
					break;
				case '2':
					view_data_gral_area.setColumns([0,2]);
					break;
				case '3':
					view_data_gral_area.setColumns([0,3]);
					break;
			}
			chart_gral_area.draw(view_data_gral_area,options_gral_area);
		});


		//Ages-prints
		var data_gral_ages_prints = google.visualization.arrayToDataTable(data[0].ages_prints);
		var options_gral_ages_prints = {
			'title': 'Impresiones por edad',
			'titleTextStyle': {fontSize: titleFontSize, color: titleFontColor, fontName: titleFontName},
			'pieHole': 0.4,
			'backgroundColor': 'none',
			'colors': palette,
			'sliceVisibilityThreshold':0,
			'width': smallchartwidth,
			'height': 300,
		}
		var chart_gral_ages_prints = new google.visualization.PieChart(document.getElementById('chart_div_ages_prints'));
		chart_gral_ages_prints.draw(data_gral_ages_prints, options_gral_ages_prints);

		//Location-prints
		var data_gral_location_prints = google.visualization.arrayToDataTable(data[0].location_prints);
		var options_gral_location_prints = {
			'title': 'Impresiones por ubicación',
			'titleTextStyle': {fontSize: titleFontSize, color: titleFontColor, fontName: titleFontName},
			'pieHole': 0.4,
			'backgroundColor': 'none',
			'colors': palette,
			'width': smallchartwidth,
			'height': 300,
		}
		var chart_gral_location_prints = new google.visualization.PieChart(document.getElementById('chart_div_location_prints'));
		chart_gral_location_prints.draw(data_gral_location_prints, options_gral_location_prints);
	}

	var statsResize = function() {
		 //Resize general stats and loaded deals.
		 setStatsWidth();
		 drawChartsAux(generalChartsData);
	}

	function setStatsWidth(){
		largechartwidth=Math.floor($('#dashboard_chart_div').width()*.95);
		smallchartwidth=Math.floor($('#dashboard_chart_div').width()*.95/2);
		smallchartwidth=largechartwidth<500?largechartwidth:smallchartwidth;
	}

	$(window).resize(function() {
		clearTimeout(window.refresh_size);
		window.refresh_size = setTimeout(function() { statsResize();}, 250);
	});

	google.setOnLoadCallback(drawCharts);

</script>
{% endblock %}