{% extends 'dashboard/dashboard-base.html' %}

{% block dashboard-title%}Dashboard - Estadísticas{% endblock %}

{% block active-stats %}active{% endblock %}

{% block pagetitle %} Estad&iacute;sticas {% endblock %}

{% block dashboard-content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="box bordered">
				<div class="box-header">
              		<i class="icon-table"></i> Estad&iacute;sticas Semana : <span style='font-weight:300;'>{{ first_day_str }} - {{ last_day_str }}</span>
              	</div>

              	<div class='row-fluid'>
              		<div class='span12'>
              			<div class='padded'>
              				<div class='section-title'>Resultados con respecto a la semana anterior</div>
              				<div>
              					<div class="span4" style=''>
							    	<div class="percent-stat floatleft">
										<span class="percent"> %</span>
							        	<input id='diff-prints-value' type="text" class="circle-stat dark-blue"  value="{{ gral_prints_percent }}" data-min="0" data-max='{{ gral_prints_max }}'/>
							        	<span class='indicator'>Impresiones</span>
							    	</div>
							    	<div style='' class='knob-info floatleft' style=''>
								    	<span id='diff_prints_value' style='font-size: 2em; font-weight:bold; color:#50769b;'></span><br>
									</div>
									<div style='clear:both;'></div>
								</div>

								<div class="span4" style=''>
							    	<div class="percent-stat floatleft">
										<span class="percent light-blue"> &nbsp;&nbsp;&nbsp;%</span>
							        	<input id='diff-clicks-value' type="text" value="{{gral_clicks_percent}}" class="circle-stat medium-blue" data-min="0" data-max='{{ gral_clicks_max }}'/>
							        	<span class='indicator'>Clicks</span>
							    	</div>
							    	<div style='' class='knob-info floatleft' style='color:#000;'>
								    	<span id='diff_clicks_value' style='font-size: 2em; font-weight:bold; color:#67A0BE;'></span><br>
									</div>
									<div style='clear:both;'></div>
								</div>


								<div class="span4" style=''>
							    	<div class="percent-stat floatleft">
										<span class="percent light-blue"> %</span>
							        	<input id='diff-saves-value' type="text" value="{{gral_saves_percent}}" class="circle-stat light-blue" data-min="0" data-max='{{ gral_saves_max }}'/>
							        	<span class='indicator'>Guardados</span>
							    	</div>
							    	<div style='' class='knob-info floatleft' style='color:#000;'>
								    	<span id='diff_saves_value' style='font-size: 2em; font-weight:bold; color:#AAD7EA;'></span><br>
									</div>
									<div style='clear:both;'></div>
								</div>

              				</div>
              			</div>
              		</div>
              	</div>


              	<div class='row-fluid'>
              		<div class='span12'>
              			<div class='box inner light-gray'>
              				<div style=''>
								<div class='span12' style=''>
									<label class='floatleft' style='margin-top:5px;'>Cambiar semana:</label>
									<div class="input-append date datepicker" data-date="{{ first_day }}" data-date-format="dd/mm/yyyy" style='float:left; width: 160px; margin-top:-5px;'>
										<input type='text' id='txt_weekpick' value='{{ first_day }}' readonly class='' style='width:100px; margin-left:10px;'>
										<button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
									</div>
									<div class='floatleft' style='margin-top:-5px;'>
										<button id='btn_changestats' class='btn dark-blue' style='margin-left:10px;'>Ver</button>
										<button id='btn_lastweek' style='margin-left:10px;' class='btn medium-blue'>Anterior</button>
										<button id='btn_nextweek' class='btn medium-blue'>Siguiente</button>
										<div style='clear:both;'></div>
									</div>
									<div style='clear:both;'></div>
								</div>
								<div class='span12' style='margin-left:0;'>
									<label class='floatleft' style='margin-top:5px;margin-right:0px;'>Seleccionar descuento: &nbsp;&nbsp;&nbsp;</label>
									<select id='select_dealchose'>
										<option value='0'>Todos los descuentos</option>
										{% for item in deals %}
											<option value='{{ item.id }}'>{{ item.name }}</option>
						    			{% endfor %}
									</select>
								</div>
								
								<div style='clear:both;'></div>
							</div>
              			</div>
              		</div>
              	</div>

              	<div class='row-fluid'>
              		<!-- Tab stats -->
					<div class="tab-pane span12" id="tab-stats" style=''>
						<div>
							
							<div id='stats_general'>
								<div class='padded'>
										<div class='section-title'>
											Todos los descuentos
										</div>
									</div>
								<div id='stats_dealall'>
									<div id='dashboard_chart_div'>
										<div id='' style='margin-left:25px;'>
											<select id='select_chart_div' style='display:none;'>
												<option value='0'>Ver todos</option>
												<option value='1'>Ver solo impresiones</option>
												<option value='2'>Ver solo clicks</option>
												<option value='3'>Ver solo an&oacute;nimos</option>
											</select>
										</div>
						    			<div id="chart_div" style="width:900px; height:300px;" class=''></div>
						    		</div>
									<div id="chart_div_gender" style="width:900px; height:300px" class=''></div>
									<div style='clear:both;'></div>
								
									<div>
										<div id="chart_div_ages_prints" class='floatleft' style="width:450px; height:300px"></div>
										<div id="chart_div_ages" class='floatleft' style="width:450px; height:300px"></div>
										<div style='clear:both;'></div>
									</div>
									<div>
										<div id="chart_div_location_prints" class='floatleft' style="width:450px; height:300px"></div>
										<div id="chart_div_location_clicks" class='floatleft' style="width:450px; height:300px"></div>
										<div style='clear:both;'></div>
									</div>
								</div>
							</div>

							{% for item in deals %}
							<div>
								<div name='stats_deal-{{item.id}}' style='display:none;'>
									<div class='padded'>
										<div class='section-title'>
											{{ item.name }}
										</div>
									</div>
									<div>
										<div id='dashboard_chart_div-{{ item.id }}'>
											<div id='' style='margin-left:25px;'>
												<select id='select_chart_div-{{ item.id }}' style='display:none;'>
													<option value='0'>Ver todos</option>
													<option value='1'>Ver solo impresiones</option>
													<option value='2'>Ver solo clicks</option>
													<option value='3'>Ver solo an&oacute;nimos</option>
												</select>
											</div>
											<div id="chart_div-{{item.id}}" style="" class=''></div>
							    		</div>
										<div id="chart_div_gender-{{item.id}}" style="" class=''></div>
										<div style='clear:both;'></div>
									</div>
									<div>
										<div id="chart_div_ages_prints-{{item.id}}" class='floatleft' style=""></div>
										<div id="chart_div_ages-{{item.id}}" class='floatleft' style=""></div>
										<div style='clear:both;'></div>
									</div>
									<div>
										<div id="chart_div_location_prints-{{item.id}}" class='floatleft' style=""></div>
										<div id="chart_div_location_clicks-{{item.id}}" class='floatleft' style=""></div>
										<div style='clear:both;'></div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div> <!-- Fin Tab stats -->
              	</div>

          	</div>
      	</div>
  	</div>
</div>




<div class="alert alert-block" style='margin-top:40px; display:none;' id='message-nodata'>
	<h4 class="alert-heading">&iexcl;Atenci&oacute;n!</h4>
	<p>Lo sentimos. Todav&iacute;a no est&aacute;n disponibles las estad&iacute;sticas de esta semana.</p>
</div>

<div style='width:100%; margin-top:40px;' id='stats_lastweek'>
	<h2 style='font-weight:300;' class='font-light'></h2>
	<div>
	
</div>
</div>
<div style='clear:both;'></div>




<form id='form_changestats' method='POST' action='/comercios/dashboard/estadisticas'>
	{% csrf_token %}
	<input type='hidden' id='stats_date' name='stats_date'>
</form>

{% endblock %}

{% block scriptjs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.load('visualization', '1.0', {'packages':['controls']});
</script>
<script type="text/javascript">
var selectedDealStats, loadedDealStats = new Array();
var firtDay = '{{ first_day }}';
var lastDay = '{{ last_day }}';
var lastWeekDay = '{{ last_week }}';
var nextWeekDay = '{{ next_week }}';

</script>
<script type="text/javascript" src='/static/lib/js/app/companies/dashboard_stats.js'></script>
{% endblock %}